<gc-combo-box [items]="data" (checkedChanged)='log("CheckedChanged")' (dropDownClosed)='log("DropDownClosed")' (dropDownOpened)='log("DropDownOpened")' (itemsChanged)='log("ItemsChanged")'
    (selectedChanged)='log("SelectedChanged")' (spinDown)='log("SpinDown")' (spinUp)='log("SpinUp")' (textChanged)='log("TextChanged")'></gc-combo-box><br><br>
イベント<br>
<textarea #logPanel rows="10" cols="30">{{logStr}}</textarea>