<template>
    <div>
        <gc-multiline-textbox
            text="〒９８１−３２０５　宮城県仙台市泉区紫山３－１－４"
            :cursor-position="position" />

       <table class="sample">
            <tr>
                <th>フォーカス時のカーソル位置</th>
                <td>
                    <select v-model="position">
                        <option value="none">指定なし</option>
                        <option value="start">先頭</option>
                        <option value="end">末尾</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: {
            position: InputMan.MultiLineCursorPosition.None
        },
    });
</script>