<gc-mask [formatPattern]="'(AAA|BBB|CCC|DDD|EEE)'" [showSpinButton]="true" [allowSpin]="allowSpin" [spinOnKeys]="spinOnKeys" [spinWheel]="spinWheel"></gc-mask>
<table class="sample">
    <tr>
        <th>スピン機能</th>
        <td><label><input type="checkbox" [(ngModel)]="allowSpin">有効にする</label></td>
    </tr>
    <tr>
        <th>上下矢印キーでのスピン操作</th>
        <td><label><input type="checkbox" [(ngModel)]="spinOnKeys">有効にする</label></td>
    </tr>
    <tr>
        <th>マウスホイールでのスピン操作</th>
        <td><label><input type="checkbox" [(ngModel)]="spinWheel">有効にする</label></td>
    </tr>
</table>