<gc-datetime [formatPattern]="formatPattern" [displayFormatPattern]="displayFormatPattern"></gc-datetime>
<table class="sample">
    <tr>
        <th>表示書式</th>
        <td>
            <gc-combo-box [items]="displayFormatPatternItems" [displayMemberPath]="'value'" [valueMemberPath]="'value'" [dropDownWidth]="'auto'"
                (selectedChanged)="displayFormatPattern=$event.getSelectedValue()" (onTextChanged)="displayFormatPattern=$event.getDisplayText()">
                <gc-combo-box-column [name]="'value'" [label]="'書式'" [width]="200"></gc-combo-box-column>
                <gc-combo-box-column [name]="'text'" [label]="'説明'" [width]="320"></gc-combo-box-column>
            </gc-combo-box>
        </td>
    </tr>
    <tr>
        <th>入力書式</th>
        <td>
            <gc-combo-box [items]="formatPatternItems" [displayMemberPath]="'value'" [valueMemberPath]="'value'" [dropDownWidth]="'auto'"
                (selectedChanged)="formatPattern=$event.getSelectedValue()" (onTextChanged)="formatPattern=$event.getDisplayText()">
                <gc-combo-box-column [name]="'value'" [label]="'書式'" [width]="260"></gc-combo-box-column>
                <gc-combo-box-column [name]="'text'" [label]="'説明'" [width]="360"></gc-combo-box-column>
            </gc-combo-box>
        </td>
    </tr>
</table>