<h3>ソート条件、フィルタ条件を利用したサンプル</h3>
<gc-list-box #list1 [items]="items" [columns]="columns"></gc-list-box>
<table class="sample">
    <tr>
        <th>ソート条件によるソート</th>
        <td>
            <label><input type="checkbox" (change)="updateSort($event)">商品コードを昇順にする</label>
        </td>
    </tr>
    <tr>
        <th>フィルタ条件によるフィルタ</th>
        <td>
            <label><input type="checkbox" (change)="updateFilter($event)">「なま」を含む商品名でフィルタする</label>
        </td>
    </tr>
</table>
<br>
<h3>ソート関数、フィルタ関数を利用したサンプル</h3>
<gc-list-box #list2 [items]="items" [columns]="columns"></gc-list-box>
<table class="sample">
    <tr>
        <th>ソート関数によるソート</th>
        <td>
            <label><input type="checkbox" (change)="doCustomSort($event)" >商品コードと単価を昇順にする</label>
        </td>
    </tr>

    <tr>
        <th>フィルタ関数によるフィルタ<br>※入力した売上以上の項目を表示する</th>
        <td>
            <gc-number [(value)]="filterValue" [minValue]="0"></gc-number><button (click)="doFilter()">実行</button>
        </td>
    </tr>
</table>