<template>
    <div >
        <gc-datetime 
            :display-format-pattern='"yyy/M/d"'
            :format-pattern='"yyyy/MM/dd"'
            :watermark-display-null-text='"生年月日"'
            :watermark-null-text='"西暦で入力してください"'
            :value="null"
            :prompt-char='promptChar'
             />
        <gc-datetime 
            :display-format-pattern='"gggE年M月d日"'
            :format-pattern='"gggee年MM月dd日"'
            :watermark-display-empty-era-text='"和暦表示できない日付です"'
            :watermark-empty-era-text='"正しい和暦を入力してください"'
            @oninitialized="oninitialized" />
        <table class="sample">
            <tr>
                <th>プロンプト文字</th>
                <td><gc-text-box v-model="promptChar"/></td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            promptChar: "_",
        },
        methods: {
            oninitialized: function(imCtrl){
                imCtrl.setValue(new Date(1850, 0, 1))
            }
        }
    });
</script>