<template>
    <table class="form">
        <tr>
            <th>カードブランド</th>
            <td>
                <gc-combobox 
                    :items="['VISA', 'MasterCard', 'JCB', 'AmericanExpress', 'Diners Club']"
                    watermark-display-null-text='選択してください。'
                    :is-editable='false'
                    :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                    :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    @oninitialized='imcontrol_cardType=arguments[0]'
                    @textchanged='formatPatternChanged'
                />
            </td>
        </tr>
        <tr>
            <th>カード番号</th>
            <td>
                <gc-mask 
                    watermark-display-null-text='半角数字を入力してください。'
                    :format-pattern='formatPattern'
                    :exit-on-last-char='true'
                    :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                    :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    @oninitialized='imcontrol_cardNumber=arguments[0]'
                />

            </td>
        </tr>
        <tr>
            <th>カード名義</th>
            <td>
                <gc-text-box 
                    watermark-display-null-text='半角英字を入力してください。'
                    format='AS'
                    :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                    :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    @oninitialized='imcontrol_ownerName=arguments[0]'
                />
            </td>
        </tr>
        <tr>
            <th>有効期限</th>
            <td>
                <gc-datetime 
                    watermark-display-null-text='年月を入力してください。'
                    format-pattern='yyyy年MM月'
                    display-format-pattern='MM/yy'
                    :exit-on-last-char='true'
                    :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                    :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    :show-drop-down-button='true'
                    :drop-down-config='{
                        dropDownType: GC.InputMan.DateDropDownType.Calendar,
                        calendarType: GC.InputMan.CalendarType.YearMonth
                    }'
                    :min-date='minExpirationDate'
                    :max-date='maxExpirationDate'
                    :value='null'
                    @oninitialized='imcontrol_expirationDate=arguments[0]'
                />
            </td>
        </tr>
        <tr>
            <th>セキュリティコード</th>
            <td>
                <gc-text-box 
                    watermark-display-null-text='3～4桁の数値です。'
                    max-length='4'
                    password-char='*'
                    :format='9'
                    :password-revelation-mode='GC.InputMan.PasswordRevelationMode.ShowLastTypedChar'
                    :exit-on-last-char='true'
                    :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                    :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    @oninitialized='imcontrol_securityCode=arguments[0]'
                />
            </td>
        </tr>
    </table>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: function(){
            var res = {
                imcontrol_cardType: undefined,
                imcontrol_cardNumber: undefined,
                imcontrol_ownerName: undefined,
                imcontrol_expirationDate: undefined,
                imcontrol_securityCode: undefined,
                cardNoFormats: {
                    VISA: '\\D{4}-\\D{4}-\\D{4}-\\D{4}',
                    MasterCard: '\\D{4}-\\D{4}-\\D{4}-\\D{4}',
                    JCB: '\\D{4}-\\D{4}-\\D{4}-\\D{4}',
                    AmericanExpress: '\\D{4}-\\D{6}-\\D{5}',
                    'Diners Club': '\\D{4}-\\D{6}-\\D{4}'
                }
            };
            res.formatPattern = res.cardNoFormats.VISA;

            var today = new Date();
            var thisYear = today.getFullYear();
            var thisMonth = today.getMonth();

            res.minExpirationDate = new Date(thisYear, thisMonth, 1);
            res.maxExpirationDate = new Date(thisYear + 5, 11, 31);
            return res;
        },
        methods: {
            formatPatternChanged: function(s){
                this.formatPattern = this.cardNoFormats[s.displayText];
            }
        },
        mounted: function(){
            const validator = new InputMan.GcValidator({
                items: [
                    // カードブランド
                    {
                        control: this.imcontrol_cardType,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: 'カードブランドを選択してください'
                            }
                        ]
                    },
                    // カード番号
                    {
                        control: this.imcontrol_cardNumber,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: 'カード番号を入力してください'
                            }
                        ]
                    },
                    // カード名義
                    {
                        control: this.imcontrol_ownerName,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: '名前を入力してください'
                            }
                        ]
                    },
                    // 有効期限
                    {
                        control: this.imcontrol_expirationDate,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: '日付を入力してください'
                            }
                        ]
                    },
                    // セキュリティコード
                    {
                        control: this.imcontrol_securityCode,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: '数値を入力してください'
                            }
                        ]
                    }
                ],
                defaultNotify: {
                    tip: {
                        template: '<div style="color:red;min-width:20rem;">{!message}</div>'
                    }
                }
            });
            validator.validate();
        }
    });
    

</script>