
<gc-number 
    [autoScale]="autoScale"
    [minScaleFactor]="minScaleFactor"
    displayPositivePrefix='税込  '
    displayNegativePrefix='税込  ▲'
    displayPositiveSuffix='  円'
    displayNegativeSuffix='  円'
    formatDigit='###############'
    displayFormatDigit='[DBNum1]G'
    positivePrefix='$ '
    negativePrefix='-$ '
    positiveSuffix=' （税込）'
    negativeSuffix=' （税込）'
    [maxValue]='999999999999999'>
</gc-number>
<br><br>
<button (click)='clearText()'>テキストクリア</button>
<table class="sample">
    <tr>
        <th>長体表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="autoScale">有効にする</label>
        </td>
    </tr>
    <tr>
        <th>最小倍率</th>
        <td>
            <input type="number" max="1.0" min="0.1" step="0.1" [(ngModel)]="minScaleFactor">
        </td>
    </tr>
</table>