<template>
    <div >
        <gc-datetime 
            :show-drop-down-button='true'
            :drop-down-config='{dropDownType: GC.InputMan.DateDropDownType.Calendar}'
            @oninitialized='oninitialized'
            @oneditstatuschanged='log("onEditStatusChanged")'
            @onfocusout='log("onFocusOut")'
            @oninput='log("onInput")'
            @oninvalidinput='log("onInvalidInput")'
            @oninvalidrange='log("onInvalidRange")'
            @oninvalidvalue='log("onInvalidValue")'
            @onkeydown='log("onKeyDown")'
            @onkeyexit='log("onKeyExit")'
            @onkeyup='log("onKeyUp")'
            @onnumberchanged='log("onNumberChanged")'
            @onspindown='log("onSpinDown")'
            @onspinup='log("onSpinUp")'
            @ontextchanged='log("onTextChanged")'
            @onvaluechanged='log("onValueChanged")'
        /><br><br>
        イベント<br>
        <textarea id="log" rows="10" cols="30"></textarea>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
        },
        methods: {
            log: function(message){
                const textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            },
            oninitialized: function(sender){
                 sender.onSyncValueToOriginalInput((sender, eArgs) => {
                    this.log('onSyncValueToOriginalInput');
                });
                sender.getDropDownWindow().onClose(() => this.log('onClose'));
                sender.getDropDownWindow().onOpen(() => this.log('onOpen'));
                sender.getDropDownWindow().onClosing(() => this.log('onClosing'));
                sender.getDropDownWindow().onOpening(() => this.log('onOpening'));
            }
        }
    });
</script>