<div class="flexbox">
    <div>
        <ng-container #outlet>
        </ng-container>
        <ng-template #content>
            <div id="container">
                <gc-list-box [items]="products" [selectionMode]="selectionMode" (selectedChanged)="updateSelectedItem($event)"
                    (checkedChanged)="updateCheckItem($event)" (onInitialized)="onInitialized($event)"
                    [showCheckBox]="showCheckBox"></gc-list-box>
            </div>

        </ng-template>

    </div>
    <div>
        選択された項目：<div id="selectedItems" style="white-space: pre-line;">{{selectedItemsStr}}</div>
    </div>
    <div>
        チェックされた項目：<div id="checkedItems" style="white-space: pre-line;">{{checkedItemsStr}}</div>
    </div>
</div>
<table class="sample">
    <tr>
        <th>選択モード</th>
        <td>
            <select id="setSelectionMode"
                (change)="updateSelectionMode(listBoxSelectionModes[$event.target.selectedIndex])">
                <option>1つの項目のみ選択</option>
                <option>クリックで複数の項目を選択</option>
                <option>Ctrl／Shift+クリックで複数の項目を選択</option>
            </select><br>
            <button id="selectAll" [disabled]="selectAllDisabled" (click)="selectAll()">すべて選択</button>
            <button id="unselectAll" (click)="unSelectAll()">すべて選択解除</button>
        </td>
    </tr>
    <tr>
        <th>チェックボックス</th>
        <td>
            <label><input type="checkbox" id="showCheckBox" checked
                    (change)="updateShowCheckBox($event.target.checked)"> チェックボックスを表示</label>
            <br>
            <button id="checkAll" [disabled]="!showCheckBox" (click)="checkAll()">すべてチェック</button>
            <button id="uncheckAll" [disabled]="!showCheckBox" (click)="unCheckAll()">すべてチェック解除</button>
        </td>
    </tr>
</table>