/*!
 *
 * InputManJS 2.0
 *
 * Copyright(c) GrapeCity, Inc.  All rights reserved.
 *
 * Licensed under the InputManJS Commercial License.
 * sales@grapecity.com
 * https://www.grapecity.co.jp/developer/license/javascript
 *
 *
 */

 .gcim {
  border-radius: 0;
  background-color: #fff;
}
.gcim__input {
  color: #666;
  background-color: #fff;
}
.gcim__textarea {
  color: #666;
  background-color: #fff;
}
.gcim__side-button {
  border-right: 1px solid #CCCCCC;
  background-color: #fff;
}
.gcim__side-button:hover {
  background-color: #7da2e2;
}
.gcim__side-button_right-1 {
  border-width: 0;
}
.gcim__spin-button {
  background-color: #fff;
}
.gcim__spin-button:hover {
  background-color: #7da2e2;
}
.gcim-icon_drop-down {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%0D%0A%09%20height%3D%228px%22%20viewBox%3D%220%200%2018%208%22%20enable-background%3D%22new%200%200%2018%208%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23666%22%20points%3D%226%2C1%208.999%2C7%2012%2C1%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-icon_spin-down {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%225px%22%20height%3D%223px%22%20viewBox%3D%220%200%205%203%22%20enable-background%3D%22new%200%200%205%203%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23666%22%20points%3D%220%2C0%205%2C0%202.5%2C3%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-icon_spin-up {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%225px%22%20height%3D%223px%22%20viewBox%3D%220%200%205%203%22%20enable-background%3D%22new%200%200%205%203%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23666%22%20points%3D%225%2C3%200%2C3%202.5%2C0%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__outter-container {
  box-shadow: none;
  border-radius: 0;
  color: #666;
  background-color: #fff;
}
.gcim-calendar__header {
  color: #666;
  background-color: #fff;
}
.gcim-calendar__month-body__week-title {
  color: #666;
  background-color: #ddd;
}
.gcim-calendar__month-body__corner-cell {
  color: #666;
  background-color: #ddd;
}
.gcim-calendar__month-body__week-title {
  background-color: #ddd;
}
.gcim-calendar__year-view__selected-month {
  background-color: #a2bdeb;
}
.gcim-calendar__month-body__selected-day {
  background-color: #a2bdeb;
}
.gcim-calendar__today-button {
  color: #666;
  background-color: #fff;
}
.gcim-calendar__navigator_vertical {
  background-color: #fff;
}
.gcim-calendar__navigator_vertical .thumb-button {
  background-color: gray;
}
.gcim-calendar__navigator_horizontal {
  background-color: #fff;
}
.gcim-calendar__navigator_horizontal .thumb-button {
  background-color: gray;
}
.gcim-calendar__month-body__week-number {
  color: #666;
  background-color: #fff;
}
.gcim-calendar__month-body__common-day {
  color: #666;
  background-color: #fff;
  opacity: 1;
}
.gcim-calendar__month-body__trailing-day {
  color: #666;
  background-color: #fff;
}
.gcim-calendar__month-body__empty-day {
  background-color: #fff;
  opacity: 1;
}
.gcim-calendar__header-popup {
  color: #666;
  background-color: #fff;
}
.gcim-calendar__header-popup__cell_selected {
  background-color: #a2bdeb;
}
.gcim-numeric-pad {
  background-color: #fff;
}
.gcim-numeric-button {
  color: #fff;
  background-color: #a2bdeb;
}
.gcim-numeric-button:hover {
  color: black;
}
.gcim-icon_back-space {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2232px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2032%2022%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%20Beta%203.3.2%20(12041)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Edelete%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch%20Beta.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Icon-Set%22%20sketch%3Atype%3D%22MSLayerGroup%22%20transform%3D%22translate(-516.000000%2C%20-1144.000000)%22%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M538.708%2C1151.28%20C538.314%2C1150.89%20537.676%2C1150.89%20537.281%2C1151.28%20L534.981%2C1153.58%20L532.742%2C1151.34%20C532.352%2C1150.95%20531.718%2C1150.95%20531.327%2C1151.34%20C530.936%2C1151.73%20530.936%2C1152.37%20531.327%2C1152.76%20L533.566%2C1154.99%20L531.298%2C1157.26%20C530.904%2C1157.65%20530.904%2C1158.29%20531.298%2C1158.69%20C531.692%2C1159.08%20532.331%2C1159.08%20532.725%2C1158.69%20L534.993%2C1156.42%20L537.232%2C1158.66%20C537.623%2C1159.05%20538.257%2C1159.05%20538.647%2C1158.66%20C539.039%2C1158.27%20539.039%2C1157.63%20538.647%2C1157.24%20L536.408%2C1155.01%20L538.708%2C1152.71%20C539.103%2C1152.31%20539.103%2C1151.68%20538.708%2C1151.28%20L538.708%2C1151.28%20Z%20M545.998%2C1162%20C545.998%2C1163.1%20545.102%2C1164%20543.996%2C1164%20L526.467%2C1164%20L518.316%2C1154.98%20L526.438%2C1146%20L543.996%2C1146%20C545.102%2C1146%20545.998%2C1146.9%20545.998%2C1148%20L545.998%2C1162%20L545.998%2C1162%20Z%20M543.996%2C1144%20L526.051%2C1144%20C525.771%2C1143.98%20525.485%2C1144.07%20525.271%2C1144.28%20L516.285%2C1154.22%20C516.074%2C1154.43%20515.983%2C1154.71%20515.998%2C1154.98%20C515.983%2C1155.26%20516.074%2C1155.54%20516.285%2C1155.75%20L525.271%2C1165.69%20C525.467%2C1165.88%20525.723%2C1165.98%20525.979%2C1165.98%20L525.979%2C1166%20L543.996%2C1166%20C546.207%2C1166%20548%2C1164.21%20548%2C1162%20L548%2C1148%20C548%2C1145.79%20546.207%2C1144%20543.996%2C1144%20L543.996%2C1144%20Z%22%20id%3D%22delete%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
.gcim__listbox {
  border: 1px solid lightgray;
}
.gcim__listbox .column-header .column-header__inner {
  background-color: #ddd;
  color: #666;
}
.gcim__listbox .column-header .column-header__sort-indicator[sort-state="asc"] div {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%0D%0A%09%20height%3D%228px%22%20viewBox%3D%220%200%2018%208%22%20enable-background%3D%22new%200%200%2018%208%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Cpolygon%20fill%3D%22white%22%20points%3D%226%2C1%208.999%2C7%2012%2C1%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.gcim__listbox .column-header .column-header__sort-indicator[sort-state="desc"] div {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%0D%0A%09%20height%3D%228px%22%20viewBox%3D%220%200%2018%208%22%20enable-background%3D%22new%200%200%2018%208%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Cpolygon%20fill%3D%22white%22%20points%3D%226%2C1%208.999%2C7%2012%2C1%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim__listbox .viewport {
  background: #fff;
  color: #000;
}
.gcim__listbox .viewport .list-item[selected="true"] {
  background-color: #a2bdeb;
  color: #fff;
}
.gcim__listbox .viewport .list-item:not([selected="true"]):hover {
  color: #000;
}
.gcim__listbox .grid-line--bottom--right {
  border-right: none;
  border-bottom: none;
}
.gcim__listbox .gcim_checkbox .checkbox:checked + .checkbox-span {
  background-color: #ddd;
  border: 1px solid lightgray;
}
.gcim__listbox .gcim_checkbox .checkbox-span::after {
  border-color: #666;
}
.gcim__listbox .footer_style {
  background-color: #ddd;
  color: #666;
}
[gcim-notify__tip-state='fail'] .gcim-notify__tip-content {
  background-color: #A2BDEB;
  color: #fff;
  border-color: #A2BDEB;
}
[gcim-notify__tip-state='fail'] .gcim-notify__tip-content .gcim-notify__tip-arrow.right {
  border-color: transparent #A2BDEB transparent transparent;
}
[gcim-notify__tip-state='fail'] .gcim-notify__tip-content .gcim-notify__tip-close div {
  background-color: #fff;
}
[gcim-notify__tip-state='success'] .gcim-notify__tip-content {
  background-color: #dddddd;
  color: #000;
  border-color: #dddddd;
}
[gcim-notify__tip-state='success'] .gcim-notify__tip-content .gcim-notify__tip-arrow.right {
  border-color: transparent #dddddd transparent transparent;
}
[gcim-notify__tip-state='success'] .gcim-notify__tip-content .gcim-notify__tip-close div {
  background-color: #000;
}
.gcim-date-time-picker__drop-down-container {
  background-color: #fff;
}
.gcim-date-time-picker__outter {
  background-color: #fff;
}
.gcim-date-time-picker__item {
  color: #666;
}
.gcim-date-time-picker__selected-column-line {
  border-top: 2px solid #a2bdeb;
  border-bottom: 2px solid #a2bdeb;
}
.gcim-date-time-picker__disabled-item {
  color: gray;
}
.gcim-date-time-picker__selected-item {
  color: #666;
}
.gcim-date-time-picker__tab {
  color: #666;
  border-bottom: 3px solid #ddd;
}
.gcim-date-time-picker__tab--active {
  color: #666;
  border-bottom: 3px solid #a2bdeb;
}
.gcim-date-time-picker__tab-label {
  background-color: #ddd;
  color: #666;
}
.gcim-date-time-picker__time-format {
  color: #666;
}
.gcim-notify__icon[gcim-notify__icon-state='success'] {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2016%2016%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23dddddd%3B%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%2F%3E%0A%3Cpolygon%20class%3D%22st1%22%20points%3D%226.8%2C11%203.5%2C8%204.2%2C7.3%206.8%2C9.6%2011.8%2C5%2012.5%2C5.7%20%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.gcim-notify__icon[gcim-notify__icon-state='fail'] {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2016%2016%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23A2BDEB%3B%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%2F%3E%0A%3Cpolygon%20class%3D%22st1%22%20points%3D%2211%2C5.7%2010.3%2C5%208%2C7.3%205.7%2C5%205%2C5.7%207.3%2C8%205%2C10.3%205.7%2C11%208%2C8.7%2010.3%2C11%2011%2C10.3%208.7%2C8%20%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.gcim-calendar__header__left-navigate {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%2212%2C6%207%2C10.521%2012%2C15%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__right-navigate {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%229%2C15%2014%2C10.479%209%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__zoom-out {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22none%22%20width%3D%221%22%20height%3D%221%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2213%2C11%2013%2C6%206%2C6%206%2C13%2011%2C13%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C13%206%2C6%2013%2C6%2013%2C11%2014%2C11%2014%2C5%205%2C5%205%2C14%2011%2C14%2011%2C13%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M14%2C11h-1h-2v2v1v3h6v-6H14z%20M16%2C16h-4v-4h4V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__zoom-in {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%229%2C11%209%2C16%2016%2C16%2016%2C9%2011%2C9%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2210%2C8%2010%2C6%206%2C6%206%2C10%208%2C10%208%2C8%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C10%206%2C6%2010%2C6%2010%2C8%2011%2C8%2011%2C5%205%2C5%205%2C11%208%2C11%208%2C10%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M11%2C8h-1H8v2v1v6h9V8H11z%20M16%2C16H9V9h7V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .zoom-in {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%229%2C11%209%2C16%2016%2C16%2016%2C9%2011%2C9%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2210%2C8%2010%2C6%206%2C6%206%2C10%208%2C10%208%2C8%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C10%206%2C6%2010%2C6%2010%2C8%2011%2C8%2011%2C5%205%2C5%205%2C11%208%2C11%208%2C10%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M11%2C8h-1H8v2v1v6h9V8H11z%20M16%2C16H9V9h7V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .zoom-out {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22none%22%20width%3D%221%22%20height%3D%221%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2213%2C11%2013%2C6%206%2C6%206%2C13%2011%2C13%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C13%206%2C6%2013%2C6%2013%2C11%2014%2C11%2014%2C5%205%2C5%205%2C14%2011%2C14%2011%2C13%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M14%2C11h-1h-2v2v1v3h6v-6H14z%20M16%2C16h-4v-4h4V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .left-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%228.469%2C7%205%2C11%2012%2C11%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .right-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%228.531%2C10%2012%2C6%205%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .left-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%2212%2C9%208.484%2C5%205%2C9%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%2212%2C13%208.484%2C9%205%2C13%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .today {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%238d8d8d%22%20cx%3D%228.5%22%20cy%3D%228.5%22%20r%3D%223.5%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .right-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%225%2C9%208.516%2C13%2012%2C9%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%225%2C5%208.516%2C9%2012%2C5%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .zoom-in {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%229%2C11%209%2C16%2016%2C16%2016%2C9%2011%2C9%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2210%2C8%2010%2C6%206%2C6%206%2C10%208%2C10%208%2C8%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C10%206%2C6%2010%2C6%2010%2C8%2011%2C8%2011%2C5%205%2C5%205%2C11%208%2C11%208%2C10%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M11%2C8h-1H8v2v1v6h9V8H11z%20M16%2C16H9V9h7V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .zoom-out {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22none%22%20width%3D%221%22%20height%3D%221%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2213%2C11%2013%2C6%206%2C6%206%2C13%2011%2C13%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C13%206%2C6%2013%2C6%2013%2C11%2014%2C11%2014%2C5%205%2C5%205%2C14%2011%2C14%2011%2C13%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M14%2C11h-1h-2v2v1v3h6v-6H14z%20M16%2C16h-4v-4h4V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .left-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%2210%2C5%206%2C8.516%2010%2C12%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .right-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%226%2C12%2010%2C8.484%206%2C5%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .left-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%228%2C5%204%2C8.516%208%2C12%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%2212%2C5%208%2C8.516%2012%2C12%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .today {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%238d8d8d%22%20cx%3D%228.5%22%20cy%3D%228.5%22%20r%3D%223.5%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .right-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%229%2C12%2013%2C8.484%209%2C5%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%238d8d8d%22%20points%3D%225%2C12%209%2C8.484%205%2C5%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__left-navigate:not([style*='background-image: none;']):hover,
.gcim-calendar__header__right-navigate:not([style*='background-image: none;']):hover,
.gcim-calendar__header__zoom-out:not([style*='background-image: none;']):hover,
.gcim-calendar__header__zoom-in:not([style*='background-image: none;']):hover {
  background-color: #7da2e2;
}
.gcim-calendar__navigator_vertical .zoom-in:hover,
.gcim-calendar__navigator_vertical .zoom-out:hover,
.gcim-calendar__navigator_vertical .left-navigator:hover,
.gcim-calendar__navigator_vertical .right-navigator:hover,
.gcim-calendar__navigator_vertical .left-most:hover,
.gcim-calendar__navigator_vertical .today:hover,
.gcim-calendar__navigator_vertical .right-most:hover {
  background-color: #7da2e2;
}
.gcim-calendar__navigator_horizontal .zoom-in:hover,
.gcim-calendar__navigator_horizontal .zoom-out:hover,
.gcim-calendar__navigator_horizontal .left-navigator:hover,
.gcim-calendar__navigator_horizontal .right-navigator:hover,
.gcim-calendar__navigator_horizontal .left-most:hover,
.gcim-calendar__navigator_horizontal .today:hover,
.gcim-calendar__navigator_horizontal .right-most:hover {
  background-color: #7da2e2;
}
