/*!
 *
 * InputManJS 2.0
 *
 * Copyright(c) GrapeCity, Inc.  All rights reserved.
 *
 * Licensed under the InputManJS Commercial License.
 * sales@grapecity.com
 * https://www.grapecity.co.jp/developer/license/javascript
 *
 *
 */

 .gcim {
  border: none;
  border-radius: 0;
  background-color: #2b3e50;
}
.gcim__input {
  color: #fff;
  background-color: #2b3e50;
}
.gcim__textarea {
  color: #fff;
  background-color: #2b3e50;
}
.gcim__side-button {
  background-color: #2b3e50;
}
.gcim__side-button:hover {
  background-color: #B15315;
}
.gcim__side-button_right-1 {
  border-width: 0;
}
.gcim__side-button_right-2 {
  border-width: 0;
}
.gcim__spin-button {
  background-color: #2b3e50;
}
.gcim__spin-button:hover {
  background-color: #B15315;
}
.gcim-icon_drop-down {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%0D%0A%09%20height%3D%228px%22%20viewBox%3D%220%200%2018%208%22%20enable-background%3D%22new%200%200%2018%208%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C1%208.999%2C7%2012%2C1%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-icon_spin-down {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%225px%22%20height%3D%223px%22%20viewBox%3D%220%200%205%203%22%20enable-background%3D%22new%200%200%205%203%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%220%2C0%205%2C0%202.5%2C3%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-icon_spin-up {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%225px%22%20height%3D%223px%22%20viewBox%3D%220%200%205%203%22%20enable-background%3D%22new%200%200%205%203%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%225%2C3%200%2C3%202.5%2C0%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__outter-container {
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #2b3e50;
}
.gcim-calendar__header {
  color: #fff;
  background-color: #2b3e50;
}
.gcim-calendar__month-body__week-title {
  color: #fff;
  background-color: #1b2d3d;
}
.gcim-calendar__month-body__corner-cell {
  color: #fff;
  background-color: #1b2d3d;
}
.gcim-calendar__month-body__week-title {
  background-color: #1b2d3d;
}
.gcim-calendar__year-view__selected-month {
  color: #fff;
  background-color: #5cb85c;
}
.gcim-calendar__month-body__selected-day {
  color: #fff;
  background-color: #5cb85c;
}
.gcim-calendar__today-button {
  color: #fff;
  background-color: #2b3e50;
}
.gcim-calendar__navigator_vertical {
  background-color: #2b3e50;
}
.gcim-calendar__navigator_vertical .thumb-button {
  background-color: lightgray;
}
.gcim-calendar__navigator_horizontal {
  background-color: #2b3e50;
}
.gcim-calendar__navigator_horizontal .thumb-button {
  background-color: lightgray;
}
.gcim-calendar__month-body__week-number {
  color: #fff;
  background-color: #2b3e50;
}
.gcim-calendar__month-body__common-day {
  color: #fff;
  background-color: #2b3e50;
  opacity: 1;
}
.gcim-calendar__month-body__trailing-day {
  color: #fff;
  background-color: #2b3e50;
}
.gcim-calendar__month-body__empty-day {
  background-color: #2b3e50;
  opacity: 1;
}
.gcim-calendar__header-popup {
  color: #fff;
  background-color: #2b3e50;
}
.gcim-calendar__header-popup__cell_selected {
  background-color: #5cb85c;
}
.gcim-numeric-pad {
  background-color: #2b3e50;
}
.gcim-numeric-button {
  color: black;
}
.gcim-numeric-button:hover {
  color: #fff;
  background-color: #df691a;
}
.gcim__listbox {
  border: 1px solid lightgray;
}
.gcim__listbox .column-header .column-header__inner {
  background-color: #1b2d3d;
  color: #fff;
}
.gcim__listbox .column-header .column-header__sort-indicator[sort-state="asc"] div {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%0D%0A%09%20height%3D%228px%22%20viewBox%3D%220%200%2018%208%22%20enable-background%3D%22new%200%200%2018%208%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Cpolygon%20fill%3D%22white%22%20points%3D%226%2C1%208.999%2C7%2012%2C1%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.gcim__listbox .column-header .column-header__sort-indicator[sort-state="desc"] div {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%0D%0A%09%20height%3D%228px%22%20viewBox%3D%220%200%2018%208%22%20enable-background%3D%22new%200%200%2018%208%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Cpolygon%20fill%3D%22white%22%20points%3D%226%2C1%208.999%2C7%2012%2C1%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim__listbox .viewport {
  color: #fff;
  background: #2b3e50;
}
.gcim__listbox .viewport .list-item[selected="true"] {
  background-color: #5cb85c;
  color: #fff;
}
.gcim__listbox .viewport .list-item:not([selected="true"]):hover {
  color: #000;
}
.gcim__listbox .grid-line--bottom--right {
  border-right: none;
  border-bottom: none;
}
.gcim__listbox .gcim_checkbox .checkbox:checked + .checkbox-span {
  background-color: #1b2d3d;
  border: 1px solid lightgray;
}
.gcim__listbox .footer_style {
  background-color: #1b2d3d;
  color: #fff;
}
[gcim-notify__tip-state='fail'] .gcim-notify__tip-content {
  background-color: #DF691A;
  color: #fff;
  border-color: #DF691A;
}
[gcim-notify__tip-state='fail'] .gcim-notify__tip-content .gcim-notify__tip-arrow.right {
  border-color: transparent #DF691A transparent transparent;
}
[gcim-notify__tip-state='fail'] .gcim-notify__tip-content .gcim-notify__tip-close div {
  background-color: #fff;
}
[gcim-notify__tip-state='success'] .gcim-notify__tip-content {
  background-color: #1B2D3D;
  color: #fff;
  border-color: #1B2D3D;
}
[gcim-notify__tip-state='success'] .gcim-notify__tip-content .gcim-notify__tip-arrow.right {
  border-color: transparent #1B2D3D transparent transparent;
}
[gcim-notify__tip-state='success'] .gcim-notify__tip-content .gcim-notify__tip-close div {
  background-color: #fff;
}
.gcim-date-time-picker__drop-down-container {
  background-color: #2b3e50;
}
.gcim-date-time-picker__outter {
  background-color: #2b3e50;
}
.gcim-date-time-picker__item {
  color: #fff;
}
.gcim-date-time-picker__selected-column-line {
  border-top: 2px solid #5cb85c;
  border-bottom: 2px solid #5cb85c;
}
.gcim-date-time-picker__disabled-item {
  color: lightgray;
}
.gcim-date-time-picker__selected-item {
  color: #fff;
}
.gcim-date-time-picker__tab {
  color: #fff;
  border-bottom: 3px solid #1b2d3d;
}
.gcim-date-time-picker__tab--active {
  color: #fff;
  border-bottom: 3px solid #5cb85c;
}
.gcim-date-time-picker__tab-label {
  background: #1b2d3d;
  padding-left: 12px solid #1b2d3d;
  color: #fff;
}
.gcim-date-time-picker__time-format {
  color: #fff;
}
.gcim-notify__icon[gcim-notify__icon-state='success'] {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2016%2016%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%231B2D3D%3B%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%2F%3E%0A%3Cpolygon%20class%3D%22st1%22%20points%3D%226.8%2C11%203.5%2C8%204.2%2C7.3%206.8%2C9.6%2011.8%2C5%2012.5%2C5.7%20%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.gcim-notify__icon[gcim-notify__icon-state='fail'] {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2016%2016%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23DF691A%3B%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%2F%3E%0A%3Cpolygon%20class%3D%22st1%22%20points%3D%2211%2C5.7%2010.3%2C5%208%2C7.3%205.7%2C5%205%2C5.7%207.3%2C8%205%2C10.3%205.7%2C11%208%2C8.7%2010.3%2C11%2011%2C10.3%208.7%2C8%20%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.gcim-calendar__header__left-navigate {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%2212%2C6%207%2C10.521%2012%2C15%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__right-navigate {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%229%2C15%2014%2C10.479%209%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__zoom-out {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22none%22%20width%3D%221%22%20height%3D%221%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2213%2C11%2013%2C6%206%2C6%206%2C13%2011%2C13%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C13%206%2C6%2013%2C6%2013%2C11%2014%2C11%2014%2C5%205%2C5%205%2C14%2011%2C14%2011%2C13%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23caced3%22%20d%3D%22M14%2C11h-1h-2v2v1v3h6v-6H14z%20M16%2C16h-4v-4h4V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__zoom-in {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%229%2C11%209%2C16%2016%2C16%2016%2C9%2011%2C9%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2210%2C8%2010%2C6%206%2C6%206%2C10%208%2C10%208%2C8%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C10%206%2C6%2010%2C6%2010%2C8%2011%2C8%2011%2C5%205%2C5%205%2C11%208%2C11%208%2C10%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23caced3%22%20d%3D%22M11%2C8h-1H8v2v1v6h9V8H11z%20M16%2C16H9V9h7V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .zoom-in {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%229%2C11%209%2C16%2016%2C16%2016%2C9%2011%2C9%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2210%2C8%2010%2C6%206%2C6%206%2C10%208%2C10%208%2C8%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C10%206%2C6%2010%2C6%2010%2C8%2011%2C8%2011%2C5%205%2C5%205%2C11%208%2C11%208%2C10%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23caced3%22%20d%3D%22M11%2C8h-1H8v2v1v6h9V8H11z%20M16%2C16H9V9h7V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .zoom-out {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22none%22%20width%3D%221%22%20height%3D%221%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2213%2C11%2013%2C6%206%2C6%206%2C13%2011%2C13%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C13%206%2C6%2013%2C6%2013%2C11%2014%2C11%2014%2C5%205%2C5%205%2C14%2011%2C14%2011%2C13%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23caced3%22%20d%3D%22M14%2C11h-1h-2v2v1v3h6v-6H14z%20M16%2C16h-4v-4h4V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .left-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%228.469%2C7%205%2C11%2012%2C11%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .right-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%228.531%2C10%2012%2C6%205%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .left-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%2212%2C9%208.484%2C5%205%2C9%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%2212%2C13%208.484%2C9%205%2C13%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .today {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%23caced3%22%20cx%3D%228.5%22%20cy%3D%228.5%22%20r%3D%223.5%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_vertical .right-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%225%2C9%208.516%2C13%2012%2C9%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%225%2C5%208.516%2C9%2012%2C5%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .zoom-in {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%229%2C11%209%2C16%2016%2C16%2016%2C9%2011%2C9%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2210%2C8%2010%2C6%206%2C6%206%2C10%208%2C10%208%2C8%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C10%206%2C6%2010%2C6%2010%2C8%2011%2C8%2011%2C5%205%2C5%205%2C11%208%2C11%208%2C10%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23caced3%22%20d%3D%22M11%2C8h-1H8v2v1v6h9V8H11z%20M16%2C16H9V9h7V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .zoom-out {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22none%22%20width%3D%221%22%20height%3D%221%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22none%22%20points%3D%2213%2C11%2013%2C6%206%2C6%206%2C13%2011%2C13%2011%2C11%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C13%206%2C6%2013%2C6%2013%2C11%2014%2C11%2014%2C5%205%2C5%205%2C14%2011%2C14%2011%2C13%20%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23caced3%22%20d%3D%22M14%2C11h-1h-2v2v1v3h6v-6H14z%20M16%2C16h-4v-4h4V16z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .left-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%2210%2C5%206%2C8.516%2010%2C12%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .right-navigator {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%226%2C12%2010%2C8.484%206%2C5%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .left-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%228%2C5%204%2C8.516%208%2C12%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%2212%2C5%208%2C8.516%2012%2C12%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .today {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%23caced3%22%20cx%3D%228.5%22%20cy%3D%228.5%22%20r%3D%223.5%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__navigator_horizontal .right-most {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2017%2017%22%20enable-background%3D%22new%200%200%2017%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%229%2C12%2013%2C8.484%209%2C5%20%22%2F%3E%0D%0A%3Cpolygon%20fill%3D%22%23caced3%22%20points%3D%225%2C12%209%2C8.484%205%2C5%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
}
.gcim-calendar__header__left-navigate:not([style*='background-image: none;']):hover,
.gcim-calendar__header__right-navigate:not([style*='background-image: none;']):hover,
.gcim-calendar__header__zoom-out:not([style*='background-image: none;']):hover,
.gcim-calendar__header__zoom-in:not([style*='background-image: none;']):hover {
  background-color: #B15315;
}
.gcim-calendar__navigator_vertical .zoom-in:hover,
.gcim-calendar__navigator_vertical .zoom-out:hover,
.gcim-calendar__navigator_vertical .left-navigator:hover,
.gcim-calendar__navigator_vertical .right-navigator:hover,
.gcim-calendar__navigator_vertical .left-most:hover,
.gcim-calendar__navigator_vertical .today:hover,
.gcim-calendar__navigator_vertical .right-most:hover {
  background-color: #B15315;
}
.gcim-calendar__navigator_horizontal .zoom-in:hover,
.gcim-calendar__navigator_horizontal .zoom-out:hover,
.gcim-calendar__navigator_horizontal .left-navigator:hover,
.gcim-calendar__navigator_horizontal .right-navigator:hover,
.gcim-calendar__navigator_horizontal .left-most:hover,
.gcim-calendar__navigator_horizontal .today:hover,
.gcim-calendar__navigator_horizontal .right-most:hover {
  background-color: #B15315;
}
