<ng-container #outlet>
</ng-container>

<ng-template #content>
    <gc-combo-box [items]="orders" [allowColumnResize]="allowColumnResize" displayMemberPath='product' 
    valueMemberPath="product" dropDownWidth="auto" [showHeader]="showHeader">
        <gc-combo-box-column [name]="'id'" [label]="'商品コード'" [width]="columnWidthArr[0]" [clickSort]="columnClickSort">
        </gc-combo-box-column>
        <gc-combo-box-column [name]="'product'" [label]="'商品名'" [width]="columnWidthArr[1]"
            [clickSort]="columnClickSort"></gc-combo-box-column>
        <gc-combo-box-column [name]="'date'" [label]="'受注日'" [width]="columnWidthArr[2]" [clickSort]="columnClickSort">
        </gc-combo-box-column>
        <gc-combo-box-column [name]="'price'" [label]="'単価'" [width]="columnWidthArr[3]" [clickSort]="columnClickSort">
        </gc-combo-box-column>
        <gc-combo-box-column [name]="'amount'" [label]="'数量'" [width]="columnWidthArr[4]" [clickSort]="columnClickSort">
        </gc-combo-box-column>
    </gc-combo-box>
</ng-template>

<table class="sample">
    <tr>
        <th>ヘッダ</th>
        <td>
            <label><input type="checkbox"id="showHeader" (change)="updateShowHeader($event.target.checked)"  checked>ヘッダを表示</label>
        </td>
    </tr>
    <tr>
        <th>ソート</th>
        <td>
            <label><input type="checkbox" id="columnClickSort"
                    (change)="updateColumnClickSort($event.target.checked)" checked>ヘッダをクリックしてソート</label>
        </td>
    </tr>
    <tr>
        <th>リサイズ</th>
        <td>
            <label><input type="checkbox" id="allowColumnResize" [(ngModel)]="allowColumnResize">列のリサイズを許可</label>
        </td>
    </tr>
    <tr>
        <th>列幅の自動調整</th>
        <td>
            <label><input type="checkbox" id="autoWidth"
                    (change)="updateColumnWidth($event.target.checked)">列幅を自動調整する</label>
        </td>
    </tr>
</table>