<div class="flexbox">
    <div>
        テキストコントロール<br>
        <gc-text-box id='textbox'[(text)]="textbox_value" ></gc-text-box>
    </div>
    <div>
        マスクコントロール<br>
        <gc-mask id='mask' [(value)]='mask_value' [formatPattern]='"(北海道|青森県|岩手県|宮城県|秋田県|山形県|福島県|茨城県|栃木県|群馬県|埼玉県|千葉県|東京都|神奈川県|山梨県|長野県|新潟県|富山県|石川県|福井県|岐阜県|静岡県|愛知県|三重県|滋賀県|京都府|大阪府|兵庫県|奈良県|和歌山県|鳥取県|島根県|岡山県|広島県|山口県|徳島県|香川県|愛媛県|高知県|福岡県|佐賀県|長崎県|熊本県|大分県|宮崎県|鹿児島県|沖縄県)"' [showSpinButton]='true'></gc-mask>
    </div>
    <div>
        数値コントロール<br>
        <gc-number id='number' [(value)]='number_value' [showSpinButton]='true' [showNumericPad]='true'></gc-number>
    </div>
    <div>
        日付時刻コントロール<br>
        <gc-datetime id='datetime' [(value)]='datetime_value'  [showSpinButton]='true' [showDropDownButton]='true' [dropDownConfig]='dropdown'></gc-datetime>
    </div>
    <div>
        コンボコントロール<br>
        <gc-combo-box id='combo' [items]='items' [(selectedIndex)]='combo_value' [showSpinButton]='true'></gc-combo-box>
    </div>
    <div>
        標準の入力要素<br>
        <input id="text" [(ngModel)]='input_value' />
    </div>
</div>
<gc-shortcut (preAction)="preAction($event)" (postAction)="postAction($event)">
    <!-- GcTextBoxにショートカットキーを追加します。-->
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

    <!-- GcMaskにショートカットキーを追加します。-->
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

    <!-- GcNumberにショートカットキーを追加します。-->
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

    <!-- GcDateTimeにショートカットキーを追加します。-->
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

    <!-- GcCalendarにショートカットキーを追加します。-->
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

    <!-- GcComboBoxにショートカットキーを追加します。-->
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

    <!-- input要素にショートカットキーを追加します。-->
    <gc-shortcut-info target='#text' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#text' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#text' [shortcutKey]='InputMan.GcShortcutKey.A'></gc-shortcut-info>

</gc-shortcut>
<table class="sample">
    <tr>
        <th>キー</th>
        <th>アクション</th>
    </tr>
    <tr>
        <td>P</td>
        <td>値がnullでない場合に、前のコントロールにフォーカスを移動します。</td>
    </tr>
    <tr>
        <td>N</td>
        <td>値がnullでない場合に、次のコントロールにフォーカスを移動します。</td>
    </tr>
    <tr>
        <td>A</td>
        <td>すべての値をクリアします。</td>
    </tr>
    <tr>
        <td>C</td>
        <td>値をクリアします。</td>
    </tr>
</table>