<template>
    <div class="flexbox">
        <div>
            和暦日付<br>
            <gc-datetime 
                :display-format-pattern='"ggg E年M月d日"'
                :format-pattern='"yyyy/MM/dd"'
                :show-spin-button='true' />
        </div>
        <div>
            時刻<br>
            <gc-datetime 
                :display-format-pattern='"tt h時m分s秒"'
                :format-pattern='"HH:mm:ss"'
                :show-spin-button='true' />
        </div>
        <div>
            ドロップダウンカレンダー<br>
            <gc-datetime 
                :display-format-pattern='"yyy年M月d日"'
                :format-pattern='"yyyy/MM/dd"'
                :show-drop-down-button='true'
                :drop-down-config='{dropDownType: "calendar"}' />
        </div>
        <div>
            ドロップダウン日付時刻ピッカー<br>
            <gc-datetime 
                :show-drop-down-button='true'
                />
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            displayFormatPatterns:[
                { value: 'yyy/M/d H:m:s', desc: '日付と時刻（2018/1/1 13:30:1）' },
                { value: 'yyy年M月d日 H時m分s秒', desc: '日付と時刻（2018年1月1日 13時30分1秒）' },
                { value: 'y/M/d', desc: '日付（18/1/1）' },
                { value: 'y年M月d日（ddd）', desc: '日付（18年1月1日（木））' },
                { value: 'gggE年M月d日 dddd', desc: '日付（平成元年12月1日 金曜日）' },
                { value: 'gg e年M月d日', desc: '日付（平 1年12月1日）' },
                { value: 'g. e/M/d', desc: '日付（H. 1/12/1）' },
                { value: 'H:m:s', desc: '時刻（13:30:1）' },
                { value: 'tt h時m分s秒', desc: '時刻（午後 1時30分1秒）' },
            ],
            formatPatterns: [
                { value: 'yyyy/MM/dd HH:mm:ss', desc: '日付と時刻（2018/01/01 13:30:01）' },
                { value: 'yyyy年MM月dd日 HH時mm分ss秒', desc: '日付と時刻（2018年01月01日 13時30分01秒）' },
                { value: 'yyyy/MM/dd', desc: '日付（2018/01/01）' },
                { value: 'yy年MM月dd日', desc: '日付（18年01月01日）' },
                { value: 'gggee年MM月dd日 HH時mm分ss秒', desc: '日付と時刻（平成01年12月01日 13時30分01秒）' },
                { value: 'gg ee年MM月dd日', desc: '日付（平 01年12月01日）' },
                { value: 'g. ee/MM/dd', desc: '日付（H. 01/12/01）' },
                { value: 'HH:mm:ss', desc: '時刻（13:30:01）' },
                { value: 'tt hh時mm分ss秒', desc: '時刻（午後 01時30分01秒）' },
            ],
            displayFormatPattern: undefined,
            formatPattern: undefined,
        },
        methods: {
            displayFormatPatternChanged: function(s){
                this.displayFormatPattern = s.getDisplayText();
            },
            formatPatternChanged: function(s){
                this.formatPattern = s.getDisplayText();
            }
        }
    });
</script>