<template>
    <div>
        フォーカスを失ったときに検証する<br>
        <gc-text-box ref='gcTextBox1' /><br><br>
        入力中に検証する<br>
        <gc-text-box ref='gcTextBox2' /><br><br>
        手動で検証する<br>
        <gc-text-box ref='gcTextBox3' /><br><br>
        <button @click='validate'>検証</button>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        methods: {
            validate: function(){
                if (this.validator2.validate()) {
                    alert('検証に成功しました。');
                } else {
                    alert('検証に失敗しました。');
                }
            }
        },
        mounted: function(){
            const validator1 = new InputMan.GcValidator({
                items: [
                    {
                        control: this.$refs.gcTextBox1.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                        // フォーカスを失ったときに検証する
                        validateWhen: InputMan.ValidateWhen.LostFocus
                    },
                    {
                        control: this.$refs.gcTextBox2.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                        // 入力中に検証する
                        validateWhen: InputMan.ValidateWhen.Typing
                    }
                ],
                defaultNotify: {
                    tip: true
                }
            });

            this.validator2 = new InputMan.GcValidator({
                items: [
                    {
                        control: this.$refs.gcTextBox3.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                        // 手動で検証する
                        validateWhen: InputMan.ValidateWhen.Manual
                    }
                ],
                defaultNotify: {
                    tip: true
                }
            });
        }
    });
</script>