<template>
    <div>
        <div class="flexbox">
            <div>
                テキストコントロール<br>
                <gc-text-box id='textbox' v-model="texbox_value"></gc-text-box>
            </div>
            <div>
                マスクコントロール<br>
                <gc-mask id='mask' v-model="mask_value" :format-pattern='"(北海道|青森県|岩手県|宮城県|秋田県|山形県|福島県|茨城県|栃木県|群馬県|埼玉県|千葉県|東京都|神奈川県|山梨県|長野県|新潟県|富山県|石川県|福井県|岐阜県|静岡県|愛知県|三重県|滋賀県|京都府|大阪府|兵庫県|奈良県|和歌山県|鳥取県|島根県|岡山県|広島県|山口県|徳島県|香川県|愛媛県|高知県|福岡県|佐賀県|長崎県|熊本県|大分県|宮崎県|鹿児島県|沖縄県)"' :show-spin-button='true'></gc-mask>
            </div>
            <div>
                数値コントロール<br>
                <gc-number id='number' v-model="number_value" :show-spin-button='true' :show-numeric-pad='true'></gc-number>
            </div>
            <div>
                日付時刻コントロール<br>
                <gc-datetime id='datetime' v-model="datetime_value" :show-spin-button='true' :show-drop-down-button='true' :drop-down-config='{dropDownType: GC.InputMan.DateDropDownType.Calendar}'></gc-datetime>
            </div>
            <div>
                コンボコントロール<br>
                <gc-combobox id='combo' v-model="combo_value" :items='items' :show-spin-button='true'></gc-combobox>
            </div>
            <div>
                標準の入力要素<br>
                <input id="text" v-model="input_value">
            </div>
        </div>
        <gc-shortcut @preaction='preaction' @postaction='postaction'>
            <!-- GcTextBoxにショートカットキーを追加します。-->
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.A'></gc-shortcut-info>

            <!-- GcMaskにショートカットキーを追加します。-->
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.A'></gc-shortcut-info>

            <!-- GcNumberにショートカットキーを追加します。-->
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.A'></gc-shortcut-info>

            <!-- GcDateTimeにショートカットキーを追加します。-->
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.A'></gc-shortcut-info>

            <!-- GcComboBoxにショートカットキーを追加します。-->
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.A'></gc-shortcut-info>

            <!-- input要素にショートカットキーを追加します。-->
            <gc-shortcut-info target='#text' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#text' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#text' :shortcut-key='GC.InputMan.GcShortcutKey.A'></gc-shortcut-info>

        </gc-shortcut>
        <table class="sample">
            <tr>
                <th>キー</th>
                <th>アクション</th>
            </tr>
            <tr>
                <td>P</td>
                <td>値がnullでない場合に、前のコントロールにフォーカスを移動します。</td>
            </tr>
            <tr>
                <td>N</td>
                <td>値がnullでない場合に、次のコントロールにフォーカスを移動します。</td>
            </tr>
            <tr>
                <td>A</td>
                <td>すべての値をクリアします。</td>
            </tr>
            <tr>
                <td>C</td>
                <td>値をクリアします。</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import './styles.css';

    new Vue({
        el: '#app',
        data: {
            items: ['果汁100%オレンジ', 'コーヒーマイルド', 'ピリピリビール', 'ホワイトソルト', 'ブラックペッパー', 'ピュアシュガー'],
            texbox_value: 'テキスト',
            mask_value: undefined,
            number_value: 1,
            datetime_value: undefined,
            combo_value: -1,
            input_value: 'テキスト',
        },
        methods: {
            preaction: function(args){
                if (args.evt.key == 'p' || args.evt.key == 'n') {
                    if (args.target.value == null || args.target.value == "") {
                        args.cancel = true;
                    }
                }
            },
            postaction: function(args){
                console.log(`${args.evt.key}キーが押されました。`);
                // すべての値をクリアします。
                if (args.evt.key == 'a') {
                    this.texbox_value = null;
                    this.mask_value = null;
                    this.number_value = null;
                    this.datetime_value = null;
                    this.combo_value = -1;
                    this.input_value = null;
                }
            }
        }
    });
</script>