﻿<table>
    <tr>
        <td>
            <gc-calendar [selectionMode]="selectionMode" [allowSelection]="allowSelection" [maxSelectionCount]="maxSelectionCount" 
            [weekNumberSelect]="weekNumberSelect" [weekTitleSelect]="weekTitleSelect" (onSelectedDateChanged)="onSelectedDateChanged($event)"></gc-calendar>
        </td>
        <td style="vertical-align: top; padding-left: 2rem;">
            <div>選択日付</div>
            <div id="selections" style="height: 15rem; overflow: auto; white-space: pre-line;">{{selectionInnerText}}</div>
        </td>
    </tr>
</table>
<table class="sample">
    <tr>
        <th>選択方法</th>
        <td>
            <select id="setSelectionMode" (change)="selectionMode=calendarSelectionMode[$event.target.selectedIndex]">
                <option>単一の日付</option>
                <option>複数の日付</option>
                <option>複数の日付（Ctrl／Shiftキーで選択可）</option>
            </select><br>
            <label><input type="checkbox" id="setWeekNumberSelect" (change)="weekNumberSelect=$event.target.checked">週番号のクリックで週全体を選択</label><br>
            <label><input type="checkbox" id="setWeekTitleSelect"  (change)="weekTitleSelect=$event.target.checked">曜日のクリックで曜日全体を選択</label>
        </td>
    </tr>
    <tr>
        <th>選択可能な日付</th>
        <td>
            <select id="setAllowSelection" (change)="allowSelection=allowSelections[$event.target.selectedIndex]">
                <option>すべて</option>
                <option>営業日</option>
                <option>休日と休業日</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>最大選択日数</th>
        <td><input type="number" value="14" id="setMaxSelectionCount" (change)="maxSelectionCount=$event.target.value"></td>
    </tr>
</table>