<div>
    <gc-list-box
        [items]='items'
        [columns]='columns'
        [width]='500'
        [allowResize]='true'
        [allowColumnResize]='true'
        overflow='both'>
    </gc-list-box>
    <table class="sample">
        <tr>
            <th>列の操作</th>
            <td>
                <button (click)="addColumn()">列を追加する</button>
                <button (click)="deleteColumn()">列を削除する</button>
            </td>
        </tr>
    </table>
</div>