<template>
    <div >
        <gc-datetime 
            :show-drop-down-button='true'
            :drop-down-config='{dropDownType: "calendar"}'
            :value='new Date(2018, 0, 1)'
            :min-date='new Date(2018, 0, 1)'
            :max-date='new Date(2018, 11, 31)'
            :max-min-behavior='maxMinBehavior'
            :accepts-crlf='acceptsCrlf'
            @oninvalidinput='alert("不正な文字の入力です。半角数字で入力してください。")'
            @oninvalidvalue='alert("日付として無効な入力です。")'
            @oninvalidrange='alert("今日から1カ月以内の日付を入力してください。")'
            @oninitialized='gcDateTime=arguments[0]' />（2018/1/1 00:00:00～2018/12/31 23:59:59）
        <table class="sample">
            <tr>
                <th>範囲外値の制御方法</th>
                <td>
                    <select @change="maxMinBehavior=$event.target.value">
                        <option value="adjusttomaxmin">最大値か最小値の近い方に設定</option>
                        <option value='clear'>値を削除</option>
                        <option selected value='restore'>変更前の値に戻す</option>
                        <option value='cancelinput'>最後の入力をキャンセルする</option>
                        <option value='keep'>最後に入力された現在値を保持</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>リテラル文字列を含まない値</th>
                <td>
                    <gc-text-box v-model='rawValue'/>
                    <button @click='handleAction("get")'>値の取得</button>
                    <button @click='handleAction("set")'>値の設定</button>
                </td>
            </tr>
            <tr>
                <th>改行コードの扱い</th>
                <td>
                    <select @change="acceptsCrlf=$event.target.value">
                        <option value='nocontrol'>そのまま使用</option>
                        <option value='filter'>すべての改行コードを削除</option>
                        <option value='cut'>改行コード以降の文字列を切り取り</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            maxMinBehavior: undefined,
            acceptsCrlf:undefined,
            gcDateTime:undefined,
            rawValue: ''
        },
        methods: {
            handleAction: function(type){
                if(type == 'get'){
                    this.rawValue = this.gcDateTime.getNumber();
                }else if(type == 'set'){
                    this.gcDateTime.setNumber(this.rawValue);
                }
            }
        }
    });
</script>