body {
    font-family: sans-serif;
    font-size: 14px;
}

input,
button,
textarea,
select {
    font-size: inherit;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 0.4rem;
}

table.sample {
    border-collapse: collapse;
    margin-top: 1rem;
}

table.sample tr>* {
    padding: 0.25rem 0.5rem;
    border: 1px solid #D2D2D2;
}

table.sample tr>th {
    text-align: left;
    background: #F0F0F0;
    font-weight: normal;
}

.flexbox,
.peoperty-panel {
    display: flex;
    flex-wrap: wrap;
}

.flexbox>* {
    margin: 0 1rem 1rem 0;
}

.peoperty-panel>* {
    width: 12rem;
}

.peoperty-panel {
    padding: 0.2rem 0.4rem 0.6rem;
    background-color: #f8f9fa;
    color: #212529;
}

.peoperty-header {
    padding: 0 0.4rem;
    background: #343a40;
    color: #fff;
}
