<template>
    <div>
        <table class="form">
            <tr>
                <th>氏名<span class="required">必須</span></th>
                <td>
                    <gc-text-box 
                        watermark-display-null-text='例）葡萄太郎'
                        watermark-null-text='ふりがなは自動的に出力します'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_username=arguments[0]'
                        @onimereadingstringoutput='onIMEReadingStringOutput'
                        @oninput='onUserNameInput'
                    />
                </td>
            </tr>
            <tr>
                <th>フリガナ<span class="required">必須</span></th>
                <td>
                    <gc-text-box
                        watermark-display-null-text='全角カナで入力してください'
                        watermark-null-text='氏名を入力してください'
                        format='Ｎ'
                        :text='readingString'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_furigana=arguments[0]'
                        @oninput='onFuriganaInput'
                    />

                </td>
            </tr>
            <tr>
                <th>メールアドレス<span class="required">必須</span></th>
                <td>
                    <gc-mask
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_mail=arguments[0]'
                    />
                </td>
            </tr>
            <tr>
                <th rowspan="3">住所<span class="required">必須</span></th>
                <td>
                    <gc-mask class="postal"
                        format-pattern='〒\\D{3}-\\D{4}'
                        :exit-on-last-char='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_postal=arguments[0]'
                    /><gc-text-box class="prefecture" 
                        watermark-display-null-text='都道府県名を選択してください'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_prefecture=arguments[0]'
                    />
                </td>
            </tr>
            <tr>
                <td>
                    <gc-text-box
                        watermark-display-null-text='市区町村名を入力してください'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_address1=arguments[0]'
                    />
                </td>
            </tr>
            <tr>
                <td>
                    <gc-text-box 
                        watermark-display-null-text='番地以降を入力してください'
                        watermark-null-text='全角文字に自動変換します'
                        format='Ｚ'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_address2=arguments[0]'
                    />
                </td>
            </tr>
            <tr>
                <th>電話番号<span class="required">必須</span></th>
                <td>
                    <gc-mask
                        format-pattern='\\D{2,4}-\\D{2,4}-\\D{4}'
                        :exit-on-last-char='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_phone=arguments[0]'
                    />
                </td>
            </tr>
            <tr>
                <th>会社名<span class="required">必須</span></th>
                <td>
                    <gc-text-box
                        watermark-display-null-text='例）グレープシティ株式会社'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @oninitialized='imcontrol_company=arguments[0]'
                    />
                </td>
            </tr>
            <tr>
                <th>お問い合わせ内容</th>
                <td>
                    <gc-multiline-textbox 
                        :max-length='101'
                        :height='100'
                        @oninitialized='imcontrol_question=arguments[0]'
                    />    
                </td>
            </tr>
        </table>

        <div id="prefDropdown">
            <table>
                <tr>
                    <th>北海道</th>
                    <td><span>北海道</span></td>
                </tr>
                <tr>
                    <th>東北</th>
                    <td><span>青森県</span><span>岩手県</span><span>宮城県</span><span>秋田県</span><span>山形県</span><span>福島県</span>
                    </td>
                </tr>
                <tr>
                    <th>関東</th>
                    <td><span>茨城県</span><span>栃木県</span><span>群馬県</span><span>埼玉県</span><span>千葉県</span><span>東京都</span><span>神奈川県</span>
                    </td>
                </tr>
                <tr>
                    <th>甲信越</th>
                    <td><span>山梨県</span><span>長野県</span><span>新潟県</span></td>
                </tr>
                <tr>
                    <th>北陸</th>
                    <td><span>富山県</span><span>石川県</span><span>福井県</span></td>
                </tr>
                <tr>
                    <th>東海</th>
                    <td><span>岐阜県</span><span>静岡県</span><span>愛知県</span><span>三重県</span></td>
                </tr>
                <tr>
                    <th>近畿</th>
                    <td><span>滋賀県</span><span>京都府</span><span>大阪府</span><span>兵庫県</span><span>奈良県</span><span>和歌山県</span>
                    </td>
                </tr>
                <tr>
                    <th>中国四国</th>
                    <td><span>鳥取県</span><span>島根県</span><span>岡山県</span><span>広島県</span><span>山口県</span><span>徳島県</span><span>香川県</span><span>愛媛県</span><span>高知県</span>
                    </td>
                </tr>
                <tr>
                    <th>九州</th>
                    <td><span>福岡県</span><span>佐賀県</span><span>長崎県</span><span>熊本県</span><span>大分県</span><span>宮崎県</span><span>鹿児島県</span>
                    </td>
                </tr>
                <tr>
                    <th>沖縄</th>
                    <td><span>沖縄県</span></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: function(){
            var res = {
                imcontrol_username: undefined,
                imcontrol_furigana: undefined,
                imcontrol_mail: undefined,
                imcontrol_postal: undefined,
                imcontrol_prefecture: undefined,
                imcontrol_address1: undefined,
                imcontrol_address2: undefined,
                imcontrol_phone: undefined,
                imcontrol_company: undefined,
                imcontrol_question: undefined,
                readingString: undefined,
                validator: undefined
            };
            return res;
        },
        methods: {
            onIMEReadingStringOutput: function(sender, eArgs){
                this.readingString = eArgs.readingString;
                validator.validate();
            },
            onUserNameInput(sender, args){
                if (sender.text.length == 0) sender.clearIMEReadingString();
            },
            onFuriganaInput: function(sender, args){
                if (sender.text.length == 0) imcontrol_username.clearIMEReadingString();
            }
        },
        mounted: function(){
            // 検証処理
            const validator = new InputMan.GcValidator({
                items: [
                    // 氏名
                    {
                        control: this.imcontrol_username,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // フリガナ
                    {
                        control: this.imcontrol_furigana,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // メールアドレス
                    {
                        control: this.imcontrol_mail,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            },
                            {
                                rule: (control) => {
                                    const regexp = /^[A-Za-z0-9]{1}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-]{1,}\.[A-Za-z0-9]{1,}$/;
                                    return regexp.test(control.value);
                                },
                                failMessage: '正しいメールアドレス形式で入力してください'
                            }
                        ],
                    },
                    // 郵便番号
                    {
                        control: this.imcontrol_postal,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // 都道府県名
                    {
                        control: this.imcontrol_prefecture,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // 住所
                    {
                        control: this.imcontrol_address1,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    {
                        control: this.imcontrol_address2,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // 電話番号
                    {
                        control: this.imcontrol_phone,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // 会社名
                    {
                        control: this.imcontrol_company,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    },
                    // お問い合わせ内容
                    {
                        control: this.imcontrol_question,
                        ruleSet: [
                            {
                                rule: (control) => {
                                    return control.value.length < 100;
                                },
                                failMessage: '100文字を超える入力はできません'
                            },
                        ],
                        validateWhen: InputMan.ValidateWhen.Typing
                    }
                ],
                defaultNotify: {
                    fail: {
                        icon: true,
                        controlState: true
                    },
                    success: {
                        icon: true,
                    }
                }
            });
            validator.validate();

            this.validator = validator;

            const dropDown = this.imcontrol_prefecture.createDropDown();
            dropDown.getElement().appendChild(document.getElementById('prefDropdown'));
            document.getElementById('prefDropdown').addEventListener('click', (e) => {
                if (e.srcElement.tagName.toLowerCase() == 'span') {
                    this.imcontrol_prefecture.text  = e.srcElement.innerText;
                    dropDown.close();
                }
            });
        }
    });
    

</script>