﻿<gc-multiline-textbox
(onEditStatusChanged)="appendLog('onEditStatusChanged')"
(onFocusOut)="appendLog('onFocusOut')"
(onIMEReadingStringOutput)="appendLog('onIMEReadingStringOutput')"
(onInput)="appendLog('onInput')"
(onInvalidInput)="appendLog('onInvalidInput')"
(onKeyDown)="appendLog('onKeyDown')"
(onKeyExit)="appendLog('onKeyExit')"
(onKeyUp)="appendLog('onKeyUp')"
(onSyncValueToOriginalInput)="appendLog('onSyncValueToOriginalInput')"
(onTextChanged)="appendLog('onTextChanged')"
></gc-multiline-textbox><br><br>
イベント<br>
<textarea id="log" rows="10" cols="30" #logPanel>{{logStr}}</textarea>