<template>
    <div class="flexbox">
        <div>
            単純なリスト<br>
            <gc-combobox 
                :items='items1' />
        </div>
        <div>
            複数列<br>
            <gc-combobox 
                :items="items2"
                :columns='columns'
                :display-member-path='"product"'
                :value-member-path='"product"'
                :drop-down-width='"auto"' />
        </div>
        <div>
            テンプレート<br>
            <gc-combobox 
                :items='items3'
                :item-height='50'
                :display-member-path='"name"'
                :value-member-path='"name"'
                :drop-down-width='"auto"'
                :item-template='itemTemplate'
                :generating-item='generatingItem' />
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import { products, orders, gcProducts } from './data';
    
    new Vue({
        el: '#app',
        data: {
            items1: products,
            items2: orders,
            items3: gcProducts,
            columns: [
                { name: 'id', label: '商品コード', width: 80, clickSort: true },
                { name: 'product', label: '商品名', width: 200 },
                { name: 'date', label: '受注日', width: 120, clickSort: true },
                { name: 'price', label: '単価', width: 80, clickSort: true },
                { name: 'amount', label: '数量', width: 80, clickSort: true },
            ],
            itemTemplate: `<div class="template-item">
                <div class="image"><img src="{!logo}"></div>
                <div class="names"><div class="name">{!name}</div><div class="category">{!category}</div></div>
                <div class="description">{!description}</div>
                </div>`,
            generatingItem: function(args) {
                args.item.classList.add(args.index % 2 ? 'odd' : 'even');
            }
        }
    });
</script>
<style>
    body {
        min-height: 350px;
    }
    .viewport {
        line-height: 1.3;
    }
    .template-item {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .template-item > * {
        margin: 0 5px;
    }
    .image {
        width: 40px;
        height: 40px;
    }
    .image img {
        width: 40px;
    }
    .names {
        width: 150px;
    }
    .name {
        font-size: 16px;
        font-weight: bold;
        color: #2676c0;
    }
    .category {
        font-size: 12px;
        color: green;
    }
    .description {
        width: 210px;
        white-space: normal;
    }
    .list-item[selected="true"] .name, .list-item[selected="true"] .category {
        color: white;
    }
    .odd {
        background: aliceblue;
    }
</style>