<template>
    <div >
        <gc-datetime 
            :exit-on-last-char='isExitOnLastChar'
            :exit-on-left-right-key='exitOnLeftRightKey'
            :tab-action='tabAction'
            :highlight-text='highlightText'
            :exit-on-enter-key='exitKey' />
        <br>
        <gc-datetime 
            :exit-on-last-char='isExitOnLastChar'
            :exit-on-left-right-key='exitOnLeftRightKey'
            :tab-action='tabAction'
            :highlight-text='highlightText'
            :exit-on-enter-key='exitKey' />
        <br>
        <gc-datetime 
            :exit-on-last-char='isExitOnLastChar'
            :exit-on-left-right-key='exitOnLeftRightKey'
            :tab-action='tabAction'
            :highlight-text='highlightText'
            :exit-on-enter-key='exitKey' />
        <br>
        <table class="sample">
            <tr>
                <th>自動フォーカス移動</th>
                <td><label><input type="checkbox" v-model="isExitOnLastChar">入力完了時に自動的に次のコントロールに移動する</label>
                </td>
            </tr>
            <tr>
                <th>矢印キーによるフォーカス移動</th>
                <td>
                    <select v-model="exitOnLeftRightKey">
                        <option value="none">なし</option>
                        <option value="both">両方</option>
                        <option value="left">左</option>
                        <option value="right">右</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>フォーカスの移動先</th>
                <td>
                    <select v-model="tabAction">
                        <option value="control">コントロール間を移動</option>
                        <option value="field">フィールド間を移動</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>フォーカス移動後の状態</th>
                <td>
                    <select v-model="highlightText">
                        <option value="none">キャレットをフィールドの先頭に移動</option>
                        <option value="field">フィールドを選択</option>
                        <option value="all">コントロールのすべての内容を選択</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Enterキーによるフォーカス移動</th>
                <td>
                    <select v-model="exitKey">
                        <option value="none">なし</option>
                        <option value="both">両方</option>
                        <option value="enter">Enter</option>
                        <option value="shiftenter">Shift+Enter</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            isExitOnLastChar: false,
            exitOnLeftRightKey:'none',
            tabAction:'control',
            highlightText: 'none',
            exitKey: 'none'
        }
    });
</script>