<template>
    <div>
        <gc-mask 
            :format-pattern='formatPattern'
            :auto-convert='autoConvert'
             />
        <table class="sample">
            <tr>
                <th>書式の設定</th>
                <td>
                    <gc-combobox 
                        @textchanged='formatPatternChanged'
                        :items='formatPatterns'
                        :columns='[
                            { name: "value", label: "値", width: 180 },
                            { name: "desc", label: "説明", width: 350 }
                        ]'
                        :display-member-path='"value"'
                        :value-member-path='"value"'
                        :drop-down-width='"auto"'/>
                </td>
            </tr>
            <tr>
                <th>自動変換</th>
                <td>
                    <label><input type="checkbox" v-model="autoConvert">指定した文字種にあわせて自動的に変換する</label>
                </td>
            </tr>
        </table>

    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import './styles.css';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            formatPatterns: [
                { value: '℡:\\D{2,4}-\\D{2,4}-\\D{4}', desc: '電話番号の定型書式' },
                { value: '〒\\D{3}-\\D{4}', desc: '郵便番号の定型書式' },
                { value: '製造番号：\\A{3}\\D{8}', desc: '異なる文字種の組み合わせ' },
                { value: '[\\D^123]{3,10}', desc: '「1,2,3」以外で3～10文字の半角数字の入力を許可' },
                { value: '[^\\Ｊ]{0,5}', desc: 'ひらがな以外の入力を5文字まで許可' },
                { value: '[\\Ｚ^\\Ｔ]{0,}', desc: 'サロゲートペア文字以外の全角文字の入力を許可' },
            ],
            formatPattern: undefined,
            autoConvert: true
        },
        methods: {
            formatPatternChanged: function(s){
                this.formatPattern = s.getDisplayText();
            }
        }
    });
</script>