<gc-list-box [width]="100" [items]="items" [virtualMode]="virtualMode"></gc-list-box>
<table class="sample">
    <tr>
        <th>仮想化</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="virtualMode">仮想化を有効にする</label>
        </td>
    </tr>
    <tr>
        <th>項目数</th>
        <td>
            <select [(ngModel)]="itemsLength">
                <option *ngFor="let c of itemsLengthOption" [ngValue]="c">{{c}}</option>
            </select>
        </td>
    </tr>
</table>