<template>
    <div>
        <div class="flexbox">
            <div id="container1" ref="container1">
                <p>ドロップダウンが下に表示されます。</p>
                <gc-number 
                    ref="number"
                    :auto-drop-down="autoDropDown"
                    :drop-down-button-visible="dropDownButtonVisible"
                    :display-format-digit='"##,##0"' 
                    :display-positive-prefix='"税込 "'
                    :display-negative-prefix='"税込 ▲"'
                    :display-positive-suffix='"円"'
                    :display-negative-suffix='"円"'
                    :format-digit='"#####"'
                    :positive-prefix='"$"'
                    :negative-prefix='"-$"'
                    :positive-suffix='"（税込）"'
                    :negative-suffix='"（税込）"'
                    :show-numeric-pad='true'
                    :container='container1'
                    />
            </div>
            <div id="container2" ref='container2'>
                <p>ドロップダウンが上に表示されます。</p>
                <gc-number 
                    ref="number2"
                    :auto-drop-down="autoDropDown"
                    :dropDownButtonVisible="dropDownButtonVisible"
                    :display-format-digit='"##,##0"' 
                    :display-positive-prefix='"税込 "'
                    :display-negative-prefix='"税込 ▲"'
                    :display-positive-suffix='"円"' 
                    :display-negative-suffix='"円"'
                    :format-digit='"#####"'
                    :positive-prefix='"$"'
                    :negative-prefix='"-$"'
                    :positive-suffix='"（税込）"'
                    :negative-suffix='"（税込）"'
                    :show-numeric-pad='true'
                    :container='container2'
                    />
            </div>
        </div>
        
        <table class="sample">
            <tr>
                <th>フォーカス時のドロップダウン操作</th>
                <td>
                    <label><input type="checkbox" v-model="autoDropDown">フォーカス時にドロップダウンを開く</label>
                </td>
            </tr>
            <tr>
                <th>コードによるドロップダウン操作</th>
                <td>
                    <button id="open" @click="showDropDown(true)">ドロップダウンを開く</button>
                    <button id="close" @click="showDropDown(false)">ドロップダウンを閉じる</button>
                </td>
            </tr>
            <tr>
                <th>ドロップダウンボタンの表示</th>
                <td>
                    <label><input type="checkbox" v-model="dropDownButtonVisible" >ドロップダウンボタンを表示する</label>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import './styles.css';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            autoDropDown: false,
            dropDownButtonVisible: true,
            container1: undefined,
            container2: undefined,
        },
        methods: {
            showDropDown: function(isShow){
                var gcNumber = this.$refs.number.getNestedIMControl();
                var gcNumber2 = this.$refs.number2.getNestedIMControl();
                if(isShow){
                    gcNumber.getDropDownWindow().open();
                    gcNumber2.getDropDownWindow().open();
                }else{
                    gcNumber.getDropDownWindow().close();
                    gcNumber2.getDropDownWindow().close();
                }
            }
        },
        mounted: function(){
            this.container1 = this.$refs.container1;
            this.container2 = this.$refs.container2;
        }
    });
</script>