<template>
    <gc-calendar
        @oninitialized='oninitialized' />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        methods: {
            oninitialized: function(sender){
                sender.getWeekday('sunday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('saturday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('wednesday').setWeekFlags(InputMan.WeekFlags.Second | InputMan.WeekFlags.Fourth);
            }
        }
    });
</script>

<style>
   /* 日曜と休業日のスタイル */
    .gcim-calendar__weekday_sunday, .gcim-calendar__weekday_wednesday {
        color: red;
    }

    /* 土曜のスタイル */
    .gcim-calendar__weekday_saturday {
        color: blue;
    }
</style>
