<template>
    <div >
        <gc-combobox 
            @oninitialized='combo=arguments[0]'
            :items='items'
            :selected-index='0'
            ellipsis-string='...'
            ellipsis='none' />
        <table class="sample">
            <tr>
                <th>省略文字の表示</th>
                <td>
                    <select @change="combo.setEllipsis($event.target.value)">
                        <option value="none">表示しない</option>
                        <option value="ellipsisend">文字列の末尾に表示</option>
                        <option value="ellipsispath">文字列の中央部分に表示</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>省略文字に使用する文字</th>
                <td><input type="text" value='...' @change="combo.setEllipsisString($event.target.value)"></td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            items: products.map((item) => 'おいしい' + item),
            combo: undefined
        },

    });
</script>
<style>
    body {
        min-height: 220px;
    }
</style>