
    <gc-text-box (onInitialized)="gcTextBox=$event"></gc-text-box>
    <table class="sample">
        <tr>
            <th>通知の位置</th>
            <td>
                <select id="direction" class="update" (change)="direction=iconDirections[$event.target.selectedIndex];update()">
                    <option>内側</option>
                    <option selected>外側</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>カスタムアイコン</th>
            <td>
                <label><input type="checkbox" id="iconSrc" class="update" (change)="failIconSrc=$event.target.checked;update()">カスタムアイコンを表示</label><br>
            </td>
        </tr>
    </table>
