<template>
    <div>
        <gc-multiline-textbox style="width:11rem;" 
            text='〒９８１−３２０５　宮城県仙台市泉区紫山３－１－４'
            :word-wrap='wordWrap'
            :count-wrapped-line='countWrappedLine'
            :max-line-count='maxLineCount'
            :scroll-bars='scrollBars'
            :scroll-bar-mode='scrollBarMode' />
        <table class="sample">
            <tr>
                <th>ワードラップ</th>
                <td><label><input type="checkbox" v-model="wordWrap">自動的に改行する</label></td>
            </tr>
            <tr>
                <th>入力可能な行数</th>
                <td>
                    <input type="number" v-model="maxLineCount">
                    <label><input type="checkbox" v-model="countWrappedLine">折り返した改行を含める</label>
                </td>
            </tr>
            <tr>
                <th>スクロールバー</th>
                <td>
                    <label><select v-model="scrollBars">
                            <option :value='GC.InputMan.ScrollBars.None'>なし</option>
                            <option :value='GC.InputMan.ScrollBars.Both'>水平と垂直</option>
                            <option :value='GC.InputMan.ScrollBars.Vertical'>垂直</option>
                            <option :value='GC.InputMan.ScrollBars.Horizontal'>水平</option>
                        </select> 種類</label><br>
                    <label><select v-model="scrollBarMode">
                            <option :value='GC.InputMan.ScrollBarMode.Automatic'>表示領域を超えた場合のみ表示</option>
                            <option :value='GC.InputMan.ScrollBarMode.Fixed'>常に表示</option>
                        </select> 表示方法</label>
                </td>
            </tr>
        </table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    var app = new Vue({
        el: '#app',
        data: {
            wordWrap: true,
            countWrappedLine: true,
            maxLineCount: 0,
            scrollBars: InputMan.ScrollBars.None,
            scrollBarMode:InputMan.ScrollBarMode.Automatic,
        },
        mounted: function(){
            for (var i = 0; i < document.styleSheets.length; i++) {
                var sheet = document.styleSheets[i];
                var cssRules = sheet.cssRules;
                for (var j = 0; j < cssRules.length; j++) {
                    var rule = cssRules[j];
                    if (rule.selectorText && rule.selectorText.indexOf('::-webkit-scrollbar') !== -1) {
                        sheet.removeRule(j);
                    }
                }
            }
        }
    });
</script>