﻿<gc-calendar (onClickDate)="onClickDate()" (onFocusDateChanged)="onFocusDateChanged()" (onScrolled)="onScrolled()"
    (onSelectedDateChanged)="onSelectedDateChanged()"></gc-calendar><br><br>
イベント<br>
<textarea #logPanel id="log" rows="10" cols="30">{{message}}</textarea>