<template>
    <div>
        都道府県<br>
        <gc-text-box @oninitialized="onGcTextInitialized">
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import '@grapecity/wijmo.styles/wijmo.css';
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import './license';
    import { InputMan } from '@grapecity/inputman';
    import { TreeView } from '@grapecity/wijmo.nav'
    import prefectures from './data';
    
    new Vue({
        el: '#app',
        data: {},
        methods: {
            onGcTextInitialized: function(s){
                const gcTextBox = s;
                // ドロップダウンプラグイン
                const gcDropDown = gcTextBox.createDropDown();

                // Wijmo TreeViewコントロール
                const treeView = new TreeView(gcDropDown.getElement().appendChild(document.createElement('div')), {
                    itemsSource: prefectures,
                    displayMemberPath: 'name',
                    isAnimated: false,
                    selectedItemChanged: (s, e) => {
                        if (!s.selectedNode.hasChildren) {
                            gcTextBox.setText(s.selectedItem.name);
                            gcDropDown.close();
                        }
                    }
                });
            }
        }
    });
</script>