<template>
    
    <div>
        <gc-combobox
            ref="combo"
            :items='items'
            :auto-scale='autoScale'
            :min-scale-factor='minScaleFactor'
            :is-editable='true' />
        <br><br>
        <button @click="clearText" >テキストクリア</button>
        <table class="sample">
            <tr>
                <th>長体表示</th>
                <td>
                    <label><input type="checkbox" v-model="autoScale">有効にする</label>
                </td>
            </tr>
            <tr>
                <th>最小倍率</th>
                <td>
                    <input type="number" max="1.0" min="0.1" step="0.1" v-model="minScaleFactor">
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    
    new Vue({
        el: '#app',
        data: {
            items: [
                'おいしい果汁100%オレンジ',
                'おいしい果汁100%グレープ',
                'おいしい果汁100%レモン',
                'おいしい果汁100%ピーチ',
                'おいしいコーヒーマイルド',
                'おいしいコーヒービター'
            ],
            autoScale: true,
            minScaleFactor: 0.5
        },
        methods: {
            clearText: function(){
                this.$refs.combo.getNestedIMControl().setText('');
            }
        }
    });
   
</script>

<style>
   body {
        min-height: 220px;
    }
    .odd {
        background: lavender;
    }
</style>
