<div id="container" (click)="containerClickHandler($event)">
    <div class="flexbox">
        <div>
            通常の状態<br>
            <gc-list-box [items]="products" [selectedIndex]="0"></gc-list-box>
        </div>
        <div>
            無効な状態<br>
            <gc-list-box [items]="products" [selectedIndex]="0" [enabled]="false"></gc-list-box>
        </div>
        <div>
            複数列<br>
            <gc-list-box [items]="orders" [footerTemplate]="'商品を選択してください'" [selectedIndex]="0">
                <gc-list-box-column [name]="'id'" [label]="'商品コード'" [width]="80"></gc-list-box-column>
                <gc-list-box-column [name]="'product'" [label]="'商品名'" [width]="200"></gc-list-box-column>
            </gc-list-box>
        </div>
    </div>
    <div class="peoperty-header">コントロール全般のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderStyle">境界線のスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderRadius">境界線の角丸</label><br>
        <label><input type="checkbox" value=".gcim__listbox > .viewport,cursor">カーソルの形</label><br>
        <label><input type="checkbox" value=".gcim__listbox,boxShadow">コントロールの影</label><br>
    </div>
    <div class="peoperty-header">テキストのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value="$spec:text_style_align">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim__listbox,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">ヘッダのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox .column-header,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">フッタのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox .footer_style,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,textAlign">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">コントロール無効時のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".list_overlay,opacity">透明度</label><br>
    </div>
    <button name="style_copy_btn" (click)="copyStyle()">CSSコードをコピー</button><br>
    <textarea #style id="style" cols="60" rows="10">{{cssText}}</textarea>
</div>