
    <gc-datetime [value]="date" [displayFormatPattern]="'gggE年M月d日'" [formatPattern]="'ggge年MM月dd日'"></gc-datetime><br>
    <gc-datetime [value]="date" [displayFormatPattern]="'ggE年M月d日'" [formatPattern]="'gge年MM月dd日'"></gc-datetime><br>
    <gc-datetime [value]="date" [displayFormatPattern]="'g.e/M/d'" [formatPattern]="'g.e/MM/dd'"></gc-datetime>
