
    <div class="flexbox">
        <div>
            単純なリスト<br>
            <gc-list-box [items]="products"></gc-list-box>
        </div>
        <div>
            複数列<br>
            <gc-list-box [items]="orders" [showCheckBox]="true">
                <gc-list-box-column [name]="'id'" [label]="'商品コード'" [width]="80" [clickSort]="true"></gc-list-box-column>
                <gc-list-box-column [name]="'product'" [label]="'商品名'" [width]="200"></gc-list-box-column>
                <gc-list-box-column [name]="'date'" [label]="'受注日'" [width]="120" [clickSort]="true"></gc-list-box-column>
                <gc-list-box-column [name]="'price'" [label]="'単価'" [width]="80" [clickSort]="true"></gc-list-box-column>
                <gc-list-box-column [name]="'amount'" [label]="'数量'" [width]="80" [clickSort]="true"></gc-list-box-column>
            </gc-list-box>
        </div>
        <div>
            テンプレート<br>
            <gc-list-box [items]="gcProducts" [itemHeight]="50" [itemTemplate]="itemTemplate" [generatingItem]="generatingItem.bind(this)"></gc-list-box>
        </div>
    </div>
