
    <gc-text-box (onInitialized)="gcTextBox=$event"></gc-text-box>
    <table class="sample">
        <tr>
            <th>通知の方向</th>
            <td>
                <select id="direction" class="update" (change)="direction=tipDirections[$event.target.selectedIndex];update()">
                    <option>上</option>
                    <option>下</option>
                    <option>左</option>
                    <option selected>右</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>通知の配置</th>
            <td>
                <select id="position" class="update" (change)="position=tipPositions[$event.target.selectedIndex];update()">
                    <option>先頭</option>
                    <option selected>中央</option>
                    <option>末尾</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>通知のテンプレート</th>
            <td>
                <label><input type="checkbox" id="template" class="update" (change)="template=$event.target.checked;update()">テンプレートを使って表示</label><br>
            </td>
        </tr>
    </table>
