
    <div class="flexbox">
        <div>
            通常の状態<br>
            <gc-datetime></gc-datetime>
        </div>
        <div>
            無効な状態<br>
            <gc-datetime [enabled]="false"></gc-datetime>
        </div>
        <div>
            ウォーターマーク<br>
            <gc-datetime [value]="null" [formatPattern]="'yyyy/MM/dd'"
            [displayFormatPattern]="'gggE年M月d日'" 
            [watermarkDisplayNullText]="'生年月日'" 
            [watermarkDisplayEmptyEraText]="'和暦表示できない日付です'" 
            [watermarkNullText]="'西暦で入力してください'" 
            [watermarkEmptyEraText]="'和暦表示できない日付です'" ></gc-datetime>
        </div>
    </div>
    <div class="peoperty-header">コントロール全般のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim,width">コントロールの幅</label><br>
        <label><input type="checkbox" value=".gcim,height">コントロールの高さ</label><br>
        <label><input type="checkbox" value=".gcim,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim,borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value=".gcim,borderStyle">境界線のスタイル</label><br>
        <label><input type="checkbox" value=".gcim,borderRadius">境界線の角丸</label><br>
        <label><input type="checkbox" value=".gcim__input,cursor">カーソルの形</label><br>
        <label><input type="checkbox" value=".gcim,boxShadow">コントロールの影</label><br>
    </div>
    <div class="peoperty-header">テキストのスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__input,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__input,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__input,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__input,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim__input,textAlign">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim__input,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">コントロール無効時のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim__input:disabled,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim__input:disabled,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__input:disabled,cursor">カーソルの形</label><br>
    </div>
    <div class="peoperty-header">フォーカス時のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim_focused,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_focused,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_focused,color">文字色</label><br>
    </div>
    <div class="peoperty-header">ウォーターマークのスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim_watermark_null,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_watermark_null,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_watermark_null,color">文字色</label><br>
    </div>
    <div class="peoperty-header">ウォーターマークのフォーカス時のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,color">文字色</label><br>
    </div>
    <div class="peoperty-header">和暦表示できないときのウォーターマークのスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim_watermark_empty-era,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_watermark_empty-era,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_watermark_empty-era,color">文字色</label><br>
    </div>
    <div class="peoperty-header">和暦表示できないときのウォーターマークのフォーカス時のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_empty-era,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_empty-era,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_empty-era,color">文字色</label><br>
    </div>
    <button (click)="copyStyle()">CSSコードをコピー</button><br>
    <textarea id="style" cols="60" rows="10" [(ngModel)]="this.styleText"></textarea>
    <script src="https://cdn.grapecity.com/wijmo/5.latest/controls/wijmo.min.js"></script>
