<template>
    <div>
        <gc-listbox
            ref="listbox"
            :items='items'
            :columns='columns'
            :allow-column-resize='allowColumnResize' />
        <table class="sample">
            <tr>
                <th>ソート</th>
                <td>
                    <label><input type="checkbox" v-model="columnClickSort">ヘッダをクリックしてソート</label>
                </td>
            </tr>
            <tr>
                <th>リサイズ</th>
                <td>
                    <label><input type="checkbox" v-model="allowColumnResize">列のリサイズを許可</label>
                </td>
            </tr>
            <tr>
                <th>列幅の自動調整</th>
                <td>
                    <label><input type="checkbox" v-model="autoWidth">列幅を自動調整する</label>
                </td>
            </tr>
        </table>
    </div>
    
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import orders from './data';

    new Vue({
        el: '#app',
        data: function(){
            var res = {
                items: orders,
                autoWidth: false,
                allowColumnResize: true,
                columnClickSort: false,
            }
            res.columns = [
                { name: 'id', label: '商品コード', width: 80 },
                { name: 'product', label: '商品名', width: 200 },
                { name: 'date', label: '受注日', width: 120 },
                { name: 'price', label: '単価', width: 80 },
                { name: 'amount', label: '数量', width: 80 },
            ];
            return res;
        },
        watch: {
            autoWidth: function(newVal){
                var gcList = this.$refs.listbox.getNestedIMControl();
                if(newVal){
                    gcList.updateColumnAutoFit([
                        { name: 'id', autofit: true },
                        { name: 'product', autofit: true },
                        { name: 'date', autofit: true },
                        { name: 'price', autofit: true },
                        { name: 'amount', autofit: true }
                    ]);
                }else{
                    gcList.setColumns(this.columns);
                }
            },
            columnClickSort: function(newVal){
                this.columns.forEach(c => c.clickSort = newVal);
                this.$refs.listbox.getNestedIMControl().setColumns(this.columns);
            }
        }
    });
</script>