﻿<div class="flexbox">
    <div>
        電卓コントロール
        <gc-calculator></gc-calculator><br/>
    </div>
    <div>
        ドロップダウン電卓<br>
        <gc-number [showCalculatorAsDropDown]='true' calculatorButtonPosition='rightside'></gc-number><br />
    </div>
    <div>
        ポップアップ電卓<br>
        <gc-number [showCalculatorAsPopup]='true' calculatorButtonPosition='leftside'></gc-number><br />
    </div>
</div>