<gc-text-box (onInitialized)="gcTextBox1=$event"></gc-text-box><br><br>
<gc-text-box [text]="'テキスト'" (onInitialized)="gcTextBox2=$event"></gc-text-box>
<table class="sample" (change)="refreshValidator($event)">
    <tr>
        <th>検証失敗の通知</th>
        <td>
            <label><input type="checkbox" (change)="failTip=$event.target.checked" checked>ツールチップ</label><br>
            <label><input type="checkbox" (change)="failIcon=$event.target.checked" checked>アイコン</label><br>
            <label><input type="checkbox" (change)="failControlState=$event.target.checked" checked>コントロール状態</label><br>
        </td>
    </tr>
    <tr>
        <th>検証成功の通知</th>
        <td>
            <label><input type="checkbox" (change)="successTip=$event.target.checked" checked>ツールチップ</label><br>
            <label><input type="checkbox" (change)="successIcon=$event.target.checked" checked>アイコン</label><br>
            <label><input type="checkbox" (change)="successControlState=$event.target.checked"
                    checked>コントロール状態</label><br>
        </td>
    </tr>
</table>