<template>
    <div>
        <gc-number 
            :show-spin-button='true'
            :value='-100'
            :min-value='-100'
            :max-value='100'
            :allow-spin='allowSpin'
            :spin-on-keys='spinOnKeys'
            :spin-wrap='spinWrap'
            :spin-wheel='spinWheel'
        />
        <table class="sample">
            <tr>
                <th>スピン機能</th>
                <td><label><input type="checkbox" v-model="allowSpin">有効にする</label></td>
            </tr>
            <tr>
                <th>上下矢印キーでのスピン操作</th>
                <td><label><input type="checkbox" v-model="spinOnKeys">有効にする</label></td>
            </tr>
            <tr>
                <th>マウスホイールでのスピン操作</th>
                <td><label><input type="checkbox" v-model="spinWheel">有効にする</label></td>
            </tr>
            <tr>
                <th>有効範囲内でのループ</th>
                <td><label><input type="checkbox" v-model="spinWrap">有効範囲内でループする</label></td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            allowSpin: true,
            spinOnKeys: true,
            spinWrap: true,
            spinWheel: true,
        }
    });
</script>