<template>
    <div>
        <table class="form">
            <tr>
                <th colspan="2">社員番号</th>
                <td>
                    <gc-number name='id'
                        format-digit='00000'
                        display-format-digit='00000'
                        @oninitialized='id=arguments[0]'
                        :show-numeric-pad='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th rowspan="2">氏名</th>
                <th>漢字</th>
                <td>
                    <gc-text-box name="fullname" 
                        @oninitialized='fullname=arguments[0]'
                        :ime-reading-string-kana-mode='GC.InputMan.KanaMode.Katakana'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        @onimereadingstringoutput='onIMEReadingStringOutput'
                    />
                </td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td>
                    <gc-text-box name="kana" 
                        :text='kanaStr'
                        @oninitialized='kana=arguments[0]'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th rowspan="2">自宅住所</th>
                <th>郵便番号</th>
                <td>
                    <gc-mask name="postal" 
                        @oninitialized='postal=arguments[0]'
                        format-pattern='〒\\D{3}-\\D{4}'
                        :exit-on-last-char='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                    <gc-text-box name="address" class="wide-input"
                        @oninitialized='address=arguments[0]'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th colspan="2">電話番号</th>
                <td>
                    <gc-mask name="tel" 
                        @oninitialized='tel=arguments[0]'
                        format-pattern='\\D{2,4}-\\D{2,4}-\\D{4}'
                        :exit-on-last-char='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th colspan="2">生年月日</th>
                <td>
                    <gc-datetime name="birthday"
                        @oninitialized='birthday=arguments[0]'
                        format-pattern='yyy/M/d'
                        display-format-pattern=''
                        :exit-on-last-char='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                        :show-drop-down-button='true'
                        :drop-down-config='{
                            dropDownType: GC.InputMan.DateDropDownType.Calendar
                        }'
                    />

                </td>
            </tr>
            <tr>
                <th rowspan="2">所属部署</th>
                <th>部署名</th>
                <td>
                    <gc-combobox name="department"
                        @oninitialized='department=arguments[0]'
                        :items="['総務部', '企画部', '情報システム部']"
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th>内線</th>
                <td>
                    <gc-number name="extension" 
                        @oninitialized='extension=arguments[0]'
                        format-digit='000'
                        display-format-digit='000'
                        :show-numeric-pad='true'
                        :exit-on-left-right-key='GC.InputMan.ExitOnLeftRightKey.Both'
                        :exit-on-enter-key='GC.InputMan.ExitKey.Both'
                    />
                </td>
            </tr>
            <tr>
                <th colspan="2">通信欄</th>
                <td><gc-multiline-textbox class="wide-input" @oninitialized='note=arguments[0]'/></td>
            </tr>
        </table><br>
        <button @click="getData">JSONデータを取得</button><br>
        <textarea id="data" cols="60" rows="10"></textarea>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data:{
            kanaStr: undefined,            
            id: undefined,
            fullname: undefined,
            postal: undefined,
            address: undefined,
            tel: undefined,
            birthday: undefined,
            department: undefined,
            extension: undefined,
            note: undefined,
            kana: undefined,
        },
        methods: {
            onIMEReadingStringOutput: function(sender, args){
                this.kanaStr = args.readingString
            },
            getData: function(){
                const user = {
                    '社員番号': this.id.value,
                    '氏名漢字': this.fullname.value ,
                    'フリガナ': this.kana.value ,
                    '郵便番号': this.postal.value ,
                    '住所': this.address.value ,
                    '電話番号': this.tel.value ,
                    '生年月日': this.birthday.value ,
                    '部署名': this.department.displayText ,
                    '内線': this.extension.value ,
                    '通信欄': this.note.value
                };
                document.getElementById('data').value = JSON.stringify(user, null, 2);
            }
        }
    });
    

</script>