<template>
    <div>
        <gc-text-box ref='gcTextBox1'></gc-text-box><br><br>
        <gc-text-box ref='gcTextBox2' text='テキスト'></gc-text-box>
        <table class="sample">
            <tr>
                <th>検証失敗の通知</th>
                <td>
                    <label><input type="checkbox" v-model="failTip">ツールチップ</label><br>
                    <label><input type="checkbox" v-model="failIcon">アイコン</label><br>
                    <label><input type="checkbox" v-model="failControlState">コントロール状態</label><br>
                </td>
            </tr>
            <tr>
                <th>検証成功の通知</th>
                <td>
                    <label><input type="checkbox" v-model="successTip">ツールチップ</label><br>
                    <label><input type="checkbox" v-model="successIcon">アイコン</label><br>
                    <label><input type="checkbox" v-model="successControlState">コントロール状態</label><br>
                </td>
            </tr>
        </table>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: {
            failTip: true,
            failIcon: true,
            failControlState: true,
            successTip: true,
            successIcon: true,
            successControlState: true,
        },
        methods: {
            updateValidator: function(){
                if(this.validator){
                    this.validator.destroy();
                }
                this.validator = new GCIM.GcValidator({
                    items: [
                        {
                            control: this.$refs.gcTextBox1.getNestedIMControl(),
                            ruleSet: [
                                {
                                    rule: InputMan.ValidateType.Required
                                }
                            ],
                        },
                        {
                            control: this.$refs.gcTextBox2.getNestedIMControl(),
                            ruleSet: [
                                {
                                    rule: InputMan.ValidateType.Required
                                }
                            ],
                        }
                    ],
                    defaultNotify: {
                        fail: {
                            tip: this.failTip,
                            icon: this.failIcon ? {
                                direction: InputMan.IconDirection.Inside
                            } : false,
                            controlState: this.failControlState
                        },
                        success: {
                            tip: this.successTip,
                            icon: this.successIcon ? {
                                direction: InputMan.IconDirection.Inside
                            } : false,
                            controlState: this.successControlState
                        }
                    }
                });
                this.validator.validate();
            }
        },
        mounted: function(){
            this.updateValidator();
        },
        updated: function(){
            this.updateValidator();
        }
    });
</script>