<template>
    <gc-calendar 
        :show-rokuyou='showRokuyou' 
        @oninitialized='oninitialized' />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data:{
            showRokuyou:InputMan.Rokuyou.All
        },
        methods: {
            oninitialized: function(sender){
                const holidayGroup = new InputMan.HolidayGroup('holiday', true);
                holidayGroup.addHoliday(new InputMan.Holiday('元旦', 1, 1));
                holidayGroup.addHoliday(new InputMan.DayOfWeekHoliday('成人の日', InputMan.MonthFlags.January, InputMan.WeekFlags.Second, InputMan.DayOfWeek.Monday));
                sender.addHolidayGroup(holidayGroup);

                // 休業日を設定します。
                sender.getWeekday('sunday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('monday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('tuesday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('wednesday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('thursday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('friday').setWeekFlags(InputMan.WeekFlags.All);
                sender.getWeekday('saturday').setWeekFlags(InputMan.WeekFlags.All);
            }
        }
        
    });

 
</script>

<style>
    /* コントロールのスタイル */
    .gcim-calendar__outter-container {
        background-color: floralwhite;
    }
    
    /* ヘッダのスタイル */
    .gcim-calendar__header {
        background-color: lightgreen;
    }
    
    /* 曜日タイトルのスタイル */
    .gcim-calendar__month-body__corner-cell, .gcim-calendar__month-body__week-title {
        background-color: lightsteelblue;
    }
    
    /* 今日の日付ボタンのスタイル */
    .gcim-calendar__today-button {
        color: green;
    }
    
    /* 週番号のスタイル */
    .gcim-calendar__month-body__week-number {
        color: green;
    }
    
    /* 曜日のスタイル */
    .gcim-calendar__weekday_sunday {
        color: red;
    }
    .gcim-calendar__weekday_monday {
        color: initial;
    }
    .gcim-calendar__weekday_tuesday {
        color: initial;
    }
    .gcim-calendar__weekday_wednesday {
        color: initial;
    }
    .gcim-calendar__weekday_thursday {
        color: initial;
    }
    .gcim-calendar__weekday_friday {
        color: initial;
    }
    .gcim-calendar__weekday_saturday {
        color: blue;
    }
    
    /* 休日のスタイル */
    [calendar-holiday-type] {
        color: red;
    }
    
    /* 隣接日のスタイル */
    .gcim-calendar__month-body__trailing-day {
        color: initial;
        opacity: 0.1;
    }
    
    /* 選択日のスタイル */
    .gcim-calendar__month-body__selected-day {
        background-color: purple;
        color: white;
    }
    
    /* フォーカス日のスタイル */
    .gcim-calendar__month-body__focusd-day {
        background-color: mediumpurple;
        color: white;
    }
    
    /* 六曜のスタイル */
    .gcim-calendar__month-body__rokuyou {
        color: orange;
    }
    
    /* 今日のスタイル */
    .gcim-calendar__month-body__today {
        border: solid 2px red;
    }
</style>
