<gc-combo-box [items]="items" [virtualMode]="virtualMode" *ngFor="let data of dataArr; trackBy: trackByIndex.bind(this)"></gc-combo-box>
<table class="sample">
    <tr>
        <th>仮想化</th>
        <td>
            <label><input type="checkbox" (change)="virtualMode=$event.target.checked" checked>仮想化を有効にする</label>
        </td>
    </tr>
    <tr>
        <th>項目数</th>
        <td>
            <select (change)="updateItems($event.target.selectedOptions[0].value)">
                <option value=1000>1000</option>
                <option value=10000>10000</option>
                <option value=100000>100000</option>
            </select>
        </td>
    </tr>
</table>