﻿<div class="flexbox">
    <div>
        デフォルト(スタイルの変更なし)
        <gc-calculator class="calculator1"></gc-calculator>
    </div>
    <div>
        電卓ボタンのスタイルを変更する
        <gc-calculator class="calculator2"></gc-calculator>
    </div>
    <div>
        電卓のサイズと背景色、結果パネルを変更する
        <gc-calculator class="calculator3"></gc-calculator>
    </div>
    <div>
        ポップアップ電卓(サイズを小さくして表示)<br/>
        <gc-number [showCalculatorAsPopup]="true" calculatorButtonPosition="leftside" class="has_popup"></gc-number><br/>
    </div>
</div>