<template>
    <div>
        <gc-number
            ref='number' 
            :show-clear-button='showClearButton' 
            :value='1234'
            :allow-delete-to-null='false' />
         <table class="sample">
            <tr>
                <th>クリアボタンの表示</th>
                <td>
                    <label><input type="checkbox" v-model="showClearButton">表示する</label>
                </td>
            </tr>
        </table>

    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            showClearButton:true,
        },
    });
</script>