<template>
    <gc-calendar 
        @onclickdate="onclickdate" 
        @onfocusdatechanged="onfocusdatechanged"
        @onscrolled="onscrolled"
        @onselecteddatechanged="onselecteddatechanged">
    </gc-calendar>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';

    let App = Vue.extend({
        name: 'app',
        methods: {
            onclickdate: function(sender, args) {
                this.log('onClickDate');
            },
            onfocusdatechanged: function(sender, args) {
                this.log('onfocusdatechanged');
            },
            onscrolled: function(sender, args) {
                this.log('onscrolled');
            },
            onselecteddatechanged: function(sender, args) {
                this.log('onselecteddatechanged');
            },

            log: function(message) {
                var textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            }
        }
    });
  
    new Vue({ render: h => h(App) }).$mount('#gcCalendar');

    
</script>

<style>
    body {
        margin-bottom: 24px;
    }
</style>
