
    <div class="flexbox">
        <div>
            スピンボタン<br>
            <gc-number     
            [displayFormatDigit]="'#0.00'"
            [displayPositivePrefix]="'重量 '"
            [displayPositiveSuffix]="' kg'"
            [formatDigit]="'#0.00'"
            [positiveSuffix]="' kg'"
            [showSpinButton]="true"
            [minValue]="0"></gc-number>
        </div>
        <div>
            漢数字表記<br>
            <gc-number
            [displayFormatDigit]="'[DBNum1]G'"
            [displayPositivePrefix]="'税込 '"
            [displayNegativePrefix]="'税込 ▲'"
            [displayPositiveSuffix]="' 円'"
            [displayNegativeSuffix]="' 円'"
            [formatDigit]="'#,###,###'"
            [positivePrefix]="'$'"
            [negativePrefix]="'-$'"
            [positiveSuffix]="'（税込）'"
            [negativeSuffix]="'（税込）'"
            [maxValue]="9999999"
            [value]="1234000"></gc-number>
        </div>
        <div>
            ドロップダウン数値パッド<br>
            <gc-number
            [displayFormatDigit]="'##,##0'"
            [displayPositivePrefix]="'税込 '"
            [displayNegativePrefix]="'税込 ▲'"
            [displayPositiveSuffix]="' 円'"
            [displayNegativeSuffix]="' 円'"
            [formatDigit]="'#####'"
            [positivePrefix]="'$'"
            [negativePrefix]="'-$'"
            [positiveSuffix]="'（税込）'"
            [negativeSuffix]="'（税込）'"
            [showNumericPad]="true"></gc-number>
        </div>
    </div>
