
    <div class="flexbox">
        <div>
            文字配列に連結<br>
            <gc-combo-box [items]="comboStringSource"></gc-combo-box>
        </div>
        <div>
            オブジェクト配列に連結<br>
            <gc-combo-box [items]="comboObjSource" [displayMemberPath]="'name'" [valueMemberPath]="'name'"></gc-combo-box>
        </div>
        <div>
            option要素から生成<br>
            <select #selectElement>
                <option>果汁100%オレンジ</option>
                <option>果汁100%グレープ</option>
                <option>果汁100%レモン</option>
                <option>果汁100%ピーチ</option>
                <option>コーヒーマイルド</option>
                <option>コーヒービター</option>
            </select>
        </div>
    </div>
