<template>
    <div>
        <gc-function-key ref='functionKey' @onactived="onActived" :visible="visible">
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F1" description="F1キー"></gc-function-key-info>
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F3" description="F3キー"></gc-function-key-info>
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.Home" description="Home"></gc-function-key-info>
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.End" description="End"></gc-function-key-info>
        </gc-function-key>
        <table class="sample">
                <tr>
                    <th>コントロール全体</th>
                    <td>
                        <label><input type="checkbox" v-model="visible" />有効化する</label>
                    </td>
                </tr>
                <tr>
                    <th>キーの指定</th>
                    <td>
                        <select v-model="selected">
                            <option :value="GC.InputMan.FunctionKey.F1">F1</option>
                            <option :value="GC.InputMan.FunctionKey.F3">F3</option>
                            <option :value="GC.InputMan.FunctionKey.Home">Home</option>
                            <option :value="GC.InputMan.FunctionKey.End">End</option>
                        </select>
                        <label><input type="checkbox" checked @change="updateKeyVisible"/>有効化する</label>
                    </td>
                </tr>
            </table>
        <br>
        コントロールもしくはキーが非表示の場合でも、キーに割り当てられた機能は有効なままです。
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import {InputMan} from "@grapecity/inputman";

    new Vue({
        el: '#app',
        data: {
            visible: true,
            selected: InputMan.FunctionKey.F1
        },
        methods: {
            onActived: function(s, e){
                window.alert(e.description + 'が押下されました。');
            },
            updateKeyVisible(e){
                this.$refs.functionKey.getNestedIMControl().setVisible(e.target.checked, this.selected);
            }
        }
    });

    
</script>

