<gc-number [showSpinButton]="true" [value]="-100" [minValue]="-100" 
    [maxValue]="100" [allowSpin]="allowSpin" [spinOnKeys]='spinOnKeys' [spinWrap]='spinWrap' [spinWheel]="spinWheel"></gc-number>
<table class="sample">
    <tr>
        <th>スピン機能</th>
        <td><label><input type="checkbox" [(ngModel)]="allowSpin">有効にする</label></td>
    </tr>
    <tr>
        <th>上下矢印キーでのスピン操作</th>
        <td><label><input type="checkbox" [(ngModel)]="spinOnKeys">有効にする</label></td>
    </tr>
    <tr>
        <th>マウスホイールでのスピン操作</th>
        <td><label><input type="checkbox" [(ngModel)]="spinWheel">有効にする</label></td>
    </tr>
    <tr>
        <th>有効範囲内でのループ</th>
        <td><label><input type="checkbox" [(ngModel)]="spinWrap">有効範囲内でループする</label></td>
    </tr>
</table>