<gc-number [showSpinButton]="true" [showNumericPad]="true" (onEditStatusChanged)="log('onEditStatusChanged')"
    (onFocusOut)="log('onFocusOut')" (onInput)="log('onInput')" (onInvalidInput)="log('onInvalidInput')"
    (onInvalidRange)="log('onInvalidRange')" (onKeyDown)="log('onKeyDown')" (onKeyExit)="log('onKeyExit')"
    (onKeyUp)="log('onKeyUp')" (onSpinDown)="log('onSpinDown')" (onSpinUp)="log('onSpinUp')"
    (onSyncValueToOriginalInput)="log('onSyncValueToOriginalInput')" (onTextChanged)="log('onTextChanged')"
    (onValueChanged)="log('onValueChanged')" (onInitialized)="bindEvent($event)"></gc-number><br><br>
イベント<br>
<textarea rows="10" cols="30" #logPanel>{{text}}</textarea>