<template>
    <div>
        <div class="flexbox">
            <div>
                半角カタカナを入力<br>
                <gc-text-box 
                    format="N" 
                    :auto-convert="true"></gc-text-box>
            </div>
            <div>
                全角文字を入力<br>
                <gc-text-box
                    format="Ｚ" 
                    :auto-convert="true" ></gc-text-box>
            </div>
            <div>
                ふりがなの取得<br>
                <gc-text-box
                    :ime-reading-string-append="false"
                    @onimereadingstringoutput="imeReadingStringOutput(arguments)"></gc-text-box><br>
                ｶﾅ: <span id="furigana">{{readingString}}</span>
            </div>
        </div>   
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    var app = new Vue({
        el: '#app',
        data: {
            readingString: ""
        },
        methods: {
           imeReadingStringOutput: function(arg) {
               this.readingString = arg[1].readingString;
           }
        }
    });
</script>