<template>
    <div class="flexbox">
        <div>
            単純なリスト<br>
            <gc-listbox
                :items='products' />
        </div>
        <div>
            複数列<br>
            <gc-listbox
                :items='orders'
                :columns='[
                    { name: "id", label: "商品コード", width: 80, clickSort: true },
                    { name: "product", label: "商品名", width: 200 },
                    { name: "date", label: "受注日", width: 120, clickSort: true },
                    { name: "price", label: "単価", width: 80, clickSort: true },
                    { name: "amount", label: "数量", width: 80, clickSort: true },
                ]'
                :show-check-box='true' />
        </div>
        <div>
            テンプレート<br>
            <gc-listbox
                :items='gcProducts'
                :item-height='50'
                :item-template='itemTemplate'
                :generating-item='generatingItem' />
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import './styles.css';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import { products, orders, gcProducts } from './data'

    new Vue({
        el: '#app',
        data: {
            products: products,
            orders: orders,
            gcProducts: gcProducts,
            itemTemplate: `<div class="template-item">
                <div class="image">
                    <img src="{!logo}">
                </div>
                <div class="names">
                    <div class="name">{!name}</div>
                    <div class="category">{!category}</div>
                </div>
                <div class="description">{!description}</div>
            </div>`
        },
        watch: {
            autoWidth: function(newVal){
                const defaultWidth = [80, 200, 120, 80, 80];
                this.columns.forEach((c, i) => c.width = newVal ? 'auto' : defaultWidth[i]);
            },
            columnClickSort: function(newVal){
                this.columns.forEach(c => c.clickSort = newVal);
            }
        },
        methods: {
            generatingItem: function(args){
                args.item.classList.add(args.index % 2 ? "odd" : "even")
            }
        }
    });
</script>