#functionkey2 .functionkey-container {
    background-color: rgb(130, 235, 200);
    border-radius: 0px;
}

#functionkey2 .functionkey-image {
    width: 20px;
    height: 12px;
    justify-content: center;
}

#functionkey2 .functionkey-item-container {
    width: 140px;
    height: 25px;
    background-color: teal;
    color: white;
    margin: 5px 0px 2px 5px;
}

#functionkey2 .functionkey-item-container:last-child {
    margin-right: 5px;
}

#functionkey2 .functionkey-text {
    flex-grow: 1;
    justify-content: center;
}

#functionkey2 .functionkey-item-container:hover {
    background-color:orange;
 }

 #functionkey2 .functionkey-item-container:active {
    background-color:#FF6600
 }