
    <gc-combo-box [items]="products" [isMultiSelect]="isMultiSelect" *ngFor="let item of items; trackBy: trackByIndex.bind(this)"></gc-combo-box>
    <table class="sample">
        <tr>
            <th>複数選択</th>
            <td>
                <label><input type="checkbox" id="isMultiSelect" checked (change)="isMultiSelect=$event.target.checked">複数選択を許可</label>
            </td>
        </tr>
    </table>
