<template>
    <div>
        <gc-text-box ref='gcTextBox' style="margin: 3rem 15rem"></gc-text-box>
        <table class="sample">
            <tr>
                <th>通知の方向</th>
                <td>
                    <select v-model="direction" class="update">
                        <option :value="GC.InputMan.TipDirection.Top">上</option>
                        <option :value="GC.InputMan.TipDirection.Bottom">下</option>
                        <option :value="GC.InputMan.TipDirection.Left">左</option>
                        <option :value="GC.InputMan.TipDirection.Right">右</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>通知の配置</th>
                <td>
                    <select v-model="position" class="update">
                        <option :value="GC.InputMan.TipPosition.Start">先頭</option>
                        <option :value="GC.InputMan.TipPosition.Balanced">中央</option>
                        <option :value="GC.InputMan.TipPosition.End">末尾</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>通知のテンプレート</th>
                <td>
                    <label><input type="checkbox" v-model="template" class="update">テンプレートを使って表示</label><br>
                </td>
            </tr>
        </table>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: {
            direction: InputMan.TipDirection.Right,
            position: InputMan.TipPosition.Balanced,
            template: false
        },
        methods: {
            updateValidator: function(){
                if(this.validator){
                    this.validator.destroy();
                }
                this.validator = new GCIM.GcValidator({
                    items: [
                        {
                            control: this.$refs.gcTextBox.getNestedIMControl(),
                            ruleSet: [
                                {
                                    rule: InputMan.ValidateType.Required
                                }
                            ],
                        }
                    ],
                    defaultNotify: {
                        tip: {
                            direction: this.direction,
                            position: this.position,
                            template: this.template ? '<div style="color:red;min-width:10.5rem;">{!message}</div>' : ''
                        }
                    }
                });
                this.validator.validate();
            }
        },
        mounted: function(){
            this.updateValidator();
        },
        updated: function(){
            this.updateValidator();
        }
    });
</script>