<gc-mask [autoConvert]="autoConvert"  [formatPattern]="formatPattern">
</gc-mask>
<table class="sample">
    <tr>
        <th>書式の設定</th>
        <td>
            <gc-combo-box [items]="combobox_items" [displayMemberPath]="'value'" [valueMemberPath]="'value'"
                (selectedChanged)="formatPattern=$event.getSelectedValue()" (textChanged)="formatPattern=$event.getDisplayText()" [dropDownWidth]="'auto'">
                <gc-combo-box-column [name]="'value'" [label]="'値'" [width]="180"></gc-combo-box-column>
                <gc-combo-box-column [name]="'text'" [label]="'説明'" [width]="350"></gc-combo-box-column>
            </gc-combo-box>
        </td>
    </tr>
    <tr>
        <th>自動変換</th>
        <td>
            <label><input type="checkbox" checked (change)="autoConvert=$event.target.checked">指定した文字種にあわせて自動的に変換する</label>
        </td>
    </tr>
</table>