<template>
    <div >
        <div class="flexbox">
            <div id="container1">
                <p>ドロップダウンが下に表示されます。</p>
                <gc-datetime ref="datetime"
                    :auto-drop-down='autoDropDown'
                    :show-drop-down-button='true'
                    :drop-down-button-visible='dropDownButtonVisible'
                    :drop-down-config='{dropDownType: "calendar"}'
                    :container='container1' />
            </div>
            <div ref="container2" id="container2">
                <p>ドロップダウンが上に表示されます。</p>
                <gc-datetime ref="datetime2"
                    :auto-drop-down='autoDropDown'
                    :show-drop-down-button='true'
                    :drop-down-button-visible='dropDownButtonVisible'
                    :drop-down-config='{dropDownType: "calendar"}'
                    :container='container2' />
            </div>
        </div>
        <table class="sample">
            <tr>
                <th>ドロップダウン操作</th>
                <td><label><input type="checkbox" v-model="autoDropDown">フォーカス時にドロップダウンを開く</label></td>
            </tr>
            <tr>
                <th>コードによるドロップダウン操作</th>
                <td>
                    <button id="open" @click="showDropDown(true)">ドロップダウンを開く</button>
                    <button id="close" @click="showDropDown(false)">ドロップダウンを閉じる</button>
                </td>
            </tr>
            <tr>
                <th>ドロップダウンボタンの表示</th>
                <td>
                    <label><input type="checkbox" v-model="dropDownButtonVisible">ドロップダウンボタンを表示する</label>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data:{
            onFocus: false,
            dropDownButtonVisible: true,
            autoDropDown: false,
            container1: undefined,
            container2: undefined,
        },
        methods: {
            showDropDown(isShow){
                 var gcDateTime = this.$refs.datetime.getNestedIMControl();
                 var gcDateTime2 = this.$refs.datetime2.getNestedIMControl();
                 if(isShow){
                     gcDateTime.getDropDownWindow().open();
                     gcDateTime2.getDropDownWindow().open();
                 }else{
                     gcDateTime.getDropDownWindow().close();
                     gcDateTime2.getDropDownWindow().close();
                 }
            }
        },
        mounted: function(){
            this.container1 = this.$refs.container1;
            this.container2 = this.$refs.container2;
        }
    });
</script>