<template>
    <div>
        <gc-text-box style="width: 200px;"
            :watermark-display-null-text="watermarkDisplayNullText"
            :watermark-null-text="watermarkNullText"></gc-text-box>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import './styles.css';

    var app = new Vue({
        el: '#app',
        data: {
           watermarkDisplayNullText: "氏名",
           watermarkNullText: "全角で入力してください"
        }
    });
</script>