<template>
    <div>
        <gc-number 
            :show-spin-button='true'
            :show-numeric-pad='true'
            @oninitialized='oninitialized'
            @oneditstatuschanged='log("onEditStatusChanged")'
            @onfocusout='log("onFocusOut")'
            @oninput='log("onInput")'
            @oninvalidinput='log("onInvalidInput")'
            @oninvalidrange='log("onInvalidRange")'
            @onkeydown='log("onKeyDown")'
            @onkeyexit='log("onKeyExit")'
            @onkeyup='log("onKeyUp")'
            @onspindown='log("onSpinDown")'
            @onspinup='log("onSpinUp")'
            @ontextchanged='log("onTextChanged")'
            @onvaluechanged='log("onValueChanged")'
             /><br><br>
        イベント<br>
        <textarea id="log" rows="10" cols="30"></textarea>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        methods: {
            log: function(message) {
                var textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            },
            oninitialized: function(sender){
                sender.onSyncValueToOriginalInput((sender, eArgs) => {
                    this.log('onSyncValueToOriginalInput');
                });
                sender.getDropDownWindow().onClose(() => this.log("onClose"));
                sender.getDropDownWindow().onOpen(() => this.log("onOpen"));
                sender.getDropDownWindow().onClosing(() => this.log("onClosing"));
                sender.getDropDownWindow().onOpening(() => this.log("onOpening"));
            }
        }
    });
</script>