body {
    padding-bottom: 16rem;
}
#prefecture table {
    background-color: azure;
    border: darkgray 1px solid;
    border-radius: 5px;
}
#prefecture th {
    padding: 0 0.5rem;
    border-right: steelblue 2px solid;
    font-weight: bold;
}
#prefecture span {
    margin: 0 0.5rem;
    color: blue;
    cursor : pointer;
 }