<template>
    <div>
        <gc-calendar
            :show-zoom-button="showZoomButton"
            :show-navigator="showNavigator"
            :navigator-orientation="navigatorOrientation"
            :scroll-rate="skipMonth"
        />
        <table class="sample">
            <tr>
                <th>ナビゲータ</th>
                <td>
                    種類：
                    <select @change="showNavigatorChanged">
                        <option>なし</option>
                        <option>ボタンスタイル</option>
                        <option>スクロールバースタイル</option>
                        <option selected>Outlookスタイル</option>
                    </select><br>
                    位置：
                    <select @change="navigatorOrientationChanged">
                        <option>上</option>
                        <option>下</option>
                        <option>左</option>
                        <option selected>右</option>
                    </select><br>
                    <label><input type="checkbox" v-model="showZoomButton">ズームボタンを表示する</label><br/>
                    月ナビケータで移動する月数：<input type="number" v-model="skipMonth" min ="1" max="11"/>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        name: "app",
        el: '#app',
        data:{
           showZoomButton: true,
           showNavigator: InputMan.CalendarNavigators.Outlook,
           navigatorOrientation: InputMan.NavigatorOrientation.Right,
           skipMonth: 1,
        },
        methods: {
            showNavigatorChanged: function(e){
                this.showNavigator = calendarNavigators[e.target.selectedIndex];
            },
            navigatorOrientationChanged: function(e){
                this.navigatorOrientation = navigatorOrientations[e.target.selectedIndex];
            }
        }
    });

    const calendarNavigators = [
        InputMan.CalendarNavigators.None,
        InputMan.CalendarNavigators.Buttons,
        InputMan.CalendarNavigators.ScrollBar,
        InputMan.CalendarNavigators.Outlook
    ];
    const navigatorOrientations = [
        InputMan.NavigatorOrientation.Top,
        InputMan.NavigatorOrientation.Bottom,
        InputMan.NavigatorOrientation.Left,
        InputMan.NavigatorOrientation.Right
    ];
</script>

