﻿<gc-function-key (onactived)="onActived" [keyRepeat]="keyRepeat" [showTip]="showTip" [handleMouse]="handleMouse">
    <gc-function-key-info [key]="InputMan.FunctionKey.F1" description="F1キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F3" description="F3キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.Home" description="Home"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.End" description="End"></gc-function-key-info>
</gc-function-key>
<table class="sample">
   <tr>
       <th>イベントの繰り返し</th>
       <td>
           <label><input type="checkbox" [(ngModel)]="keyRepeat">繰り返し実行する※1</label>
       </td>
   </tr>
   <tr>
       <th>ツールチップの表示</th>
       <td>
           <label><input type="checkbox" [(ngModel)]="showTip">表示する</label>
       </td>
   </tr>
   <tr>
       <th>マウスクリックの有効化</th>
       <td>
           <label><input type="checkbox" [(ngModel)]="handleMouse">有効化する</label>
       </td>
   </tr>
</table>
<br>

<p>※1 ファンクションキー長押ししている時のみ、イベントの繰り返しは実行されます。</p>