<template>
    <div>
        <div class="flexbox">
            <div>
                数値コントロール<br>
                <gc-number id='number' :value='1' :show-spin-button='true' :show-numeric-pad='true'/>
            </div>
            <div>
                日付時刻コントロール<br>
                <gc-datetime id='datetime' :show-spin-button='true' :show-drop-down-button='true' :drop-down-config='{dropDownType: GC.InputMan.DateDropDownType.Calendar}' />
            </div>
            <gc-shortcut>
                <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
                <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
                <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
                <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.R' :action='GC.InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
                <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.U' :action='GC.InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
                <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.D' :action='GC.InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
                <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
                <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
                <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
                <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.R' :action='GC.InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
                <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.U' :action='GC.InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
                <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.D' :action='GC.InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
            </gc-shortcut>
        </div>
        <table class="sample">
            <tr>
                <th>キー</th>
                <th>アクション</th>
            </tr>
            <tr>
                <td>P</td>
                <td>前のフィールドまたはコントロールにフォーカスを移動します。</td>
            </tr>
            <tr>
                <td>N</td>
                <td>次のフィールドまたはコントロールにフォーカスを移動します。</td>
            </tr>
            <tr>
                <td>C</td>
                <td>値をクリアします。</td>
            </tr>
            <tr>
                <td>R</td>
                <td>ドロップダウンを開きます。</td>
            </tr>
            <tr>
                <td>U</td>
                <td>上方向のスピン操作を行います。</td>
            </tr>
            <tr>
                <td>D</td>
                <td>下方向のスピン操作を行います。</td>
            </tr>
        </table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import './styles.css';

    new Vue({
        el: '#app',
        data: {
        },
    });
</script>