﻿<gc-calendar [showNavigator]="showNavigator" [navigatorOrientation]="navigatorOrientation" [showZoomButton]="showZoomButton" [scrollRate]="skipMonth"></gc-calendar>
<table class="sample">
    <tr>
        <th>ナビゲータ</th>
        <td>
            種類：
            <select id="setShowNavigator" (change)="setShowNavigator($event.target.selectedIndex)">
                <option>なし</option>
                <option>ボタンスタイル</option>
                <option>スクロールバースタイル</option>
                <option selected>Outlookスタイル</option>
            </select><br>
            位置：
            <select id="setNavigatorOrientation" (change)="setNavigatorOrientation($event.target.selectedIndex)">
                <option>上</option>
                <option>下</option>
                <option>左</option>
                <option selected>右</option>
            </select><br>
            <label><input type="checkbox" [(ngModel)]="showZoomButton">ズームボタンを表示する</label><br />
            月ナビケータで移動する月数：<input type="number" [(ngModel)]="skipMonth" min ="1" max="11" >
        </td>
    </tr>
</table>