<template>
    <div>
        休業日<br>
        <gc-calendar @oninitialized="gcCalendar1=arguments[0]"/><br>
        和暦<br>
        <gc-calendar :header-format="headerFormat" :year-month-format="yearMonthFormat" /><br>
        六曜<br>
        <gc-calendar :show-rokuyou="showRokuyou"/><br>
        複数月<br>
        <gc-calendar :calendar-dimensions="calendarDimensions"/><br>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data:{
            gcCalendar1: null,
            headerFormat: 'gggE年 M月',
            yearMonthFormat: 'gggE年,M月',
            showRokuyou: InputMan.Rokuyou.All,
            calendarDimensions: {
                width: 3,
                height: 2
            }
        },
        mounted: function(){
            this.gcCalendar1.getWeekday('sunday').setWeekFlags(InputMan.WeekFlags.All);
            this.gcCalendar1.getWeekday('saturday').setWeekFlags(InputMan.WeekFlags.All);
        }
    });

 
</script>

<style>
    /* 日曜と休業日のスタイル */
    .gcim-calendar__weekday_sunday, .gcim-calendar__weekday_wednesday {
        color: red;
    }
    
    /* 土曜のスタイル */
    .gcim-calendar__weekday_saturday {
        color: blue;
    }
</style>
