<template>
    <div>
        <gc-number :exit-on-left-right-key='exitOnLeftRightKey' :exit-on-enter-key='exitKey' /><br>
        <gc-number :exit-on-left-right-key='exitOnLeftRightKey' :exit-on-enter-key='exitKey' /><br>
        <gc-number :exit-on-left-right-key='exitOnLeftRightKey' :exit-on-enter-key='exitKey' /><br>

        <table class="sample">
            <tr>
                <th>矢印キーによるフォーカス移動</th>
                <td>
                    <select v-model="exitOnLeftRightKey">
                        <option :value="GC.InputMan.ExitOnLeftRightKey.None">なし</option>
                        <option :value="GC.InputMan.ExitOnLeftRightKey.Both">両方</option>
                        <option :value="GC.InputMan.ExitOnLeftRightKey.Left">左</option>
                        <option :value="GC.InputMan.ExitOnLeftRightKey.Righ">右</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Enterキーによるフォーカス移動</th>
                <td>
                    <select v-model="exitKey">
                        <option :value="GC.InputMan.ExitKey.None">なし</option>
                        <option :value="GC.InputMan.ExitKey.Both">両方</option>
                        <option :value="GC.InputMan.ExitKey.Enter">Enter</option>
                        <option :value="GC.InputMan.ExitKey.ShiftEnter">Shift+Enter</option>
                    </select>
                </td>
            </tr>
        </table>

    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            exitOnLeftRightKey: InputMan.ExitOnLeftRightKey.None,
            exitKey: InputMan.ExitKey.None,
        }
    });
</script>