<div class="flexbox">
    <div> ListBox全体でチップを表示する<br>
        <gc-list-box [items]="items" [columns]="columns1" [showTip]="true"></gc-list-box>
    </div>
    <div> 製品紹介列のみチップを表示する<br>
        <gc-list-box [items]="items" [columns]="columns2"></gc-list-box>
    </div>

</div>