<template>
    <div>
        <div>
            <gc-combobox 
                ref="combo"
                :items='products' 
                :is-editable='isEditable'
                :auto-filter='autoFilter' />
        </div>
        <table class="sample">
            <tr>
                <th>テキストの編集</th>
                <td>
                    <label><input type="checkbox" checked @change="isEditable=$event.target.checked">テキストの編集を許可する</label>
                </td>
            </tr>
            <tr>
                <th>オートフィルタ</th>
                <td>
                    <select @change='autoFilterChanged'>
                        <option>文字列を含む</option>
                        <option>文字列で始まる</option>
                        <option>なし</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>テキストの設定</th>
                <td>
                    <input type="text" id='setText'><button @click="setText">実行</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import './styles.css';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            products: products,
            isEditable: true,
            autoFilter: InputMan.AutoFilter.Contains,
        },
        mounted: function(){
            var gcComboBox = this.$refs.combo.getNestedIMControl();
            gcComboBox.addEventListener(
                InputMan.GcComboBoxEvent.TextChanged,
                this.textChangedHandler
            );
        },
        methods: {
            autoFilterChanged: function(e){
                this.autoFilter = autoFilters[e.target.selectedIndex];
            },
            setText: function(){
                var gcComboBox = this.$refs.combo.getNestedIMControl();
                gcComboBox.removeEventListener(InputMan.GcComboBoxEvent.TextChanged, this.textChangedHandler);
                var text = document.getElementById('setText').value;
                gcComboBox.setText(text);
                gcComboBox.addEventListener(InputMan.GcComboBoxEvent.TextChanged, this.textChangedHandler);

            },
            textChangedHandler: function(){
                var gcComboBox = this.$refs.combo.getNestedIMControl();
                var item = products.filter(product => product.includes(gcComboBox.getDisplayText())) 
                if(item.length === 0){
                    gcComboBox.setText('');
                }  
            }
        }
    });

    const autoFilters = [
        GC.InputMan.AutoFilter.Contains,
        GC.InputMan.AutoFilter.StartWith,
        GC.InputMan.AutoFilter.None
    ];
   
</script>

<style>
    body {
        min-height: 220px;
    }
</style>
