
    <div class="flexbox">
        <div>
            文字配列に連結<br>
            <gc-list-box [items]="strProducts" (selectedChanged)="updateSelectedItem($event)"></gc-list-box>
        </div>
        <div>
            オブジェクト配列に連結<br>
            <gc-list-box [items]="objProducts" [displayMemberPath]="'name'" [valueMemberPath]="'name'" (selectedChanged)="updateSelectedItem($event)"></gc-list-box>
        </div>
        <div>
            option要素から生成<br>
            <select #gcListBoxDom>
                <option>果汁100%オレンジ</option>
                <option>果汁100%グレープ</option>
                <option>果汁100%レモン</option>
                <option>果汁100%ピーチ</option>
                <option>コーヒーマイルド</option>
                <option>コーヒービター</option>
            </select>
        </div>
    </div>
    選択された項目：<span>{{selectedItemStr}}</span>
