<template>
    <div>
        <gc-listbox 
            :key="Date.now()"
            :items='items'
            :width='100'
            :virtual-mode='virtualMode'
        />
        <table class="sample">
            <tr>
                <th>仮想化</th>
                <td>
                    <label><input type="checkbox" v-model="virtualMode">仮想化を有効にする</label>
                </td>
            </tr>
            <tr>
                <th>項目数</th>
                <td>
                    <select v-model="count">
                        <option value="1000">1000</option>
                        <option value="10000">10000</option>
                        <option value="100000">100000</option>
                    </select>
                </td>
            </tr>
        </table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: function(){
            var res = {
                count: 1000,
                virtualMode: true
            };
            res.items = this.generateItems(res.count);
            return res;
        },
        methods: {
            generateItems: function(length) {
                var items = [];
                for (var i = 0; i < length; i++) {
                    items.push('項目' + i);
                }
                return items;
            }
        },
        watch: {
            count: function(newV){
                this.items = this.generateItems(newV);
            }
        }
    });
</script>