<template>
    <div>
        <gc-text-box ref='gcTextBox'></gc-text-box>
        <br><br>
        イベント<br>
        <textarea id="log" rows="10" cols="30"></textarea>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        methods: {
            log: function(message){
                const textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            }
        },
        mounted: function(){
            const gcValidator = new InputMan.GcValidator({
                items: [
                    {
                        control: this.$refs.gcTextBox.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ]
                    }
                ],
                defaultNotify: {
                    tip: {
                        direction: InputMan.TipDirection.Right
                    }
                }
            });

            // イベントハンドラ
            gcValidator.addEventListener(InputMan.GcValidatorEvent.ValidationFailed, (sender, eArgs) => {
                this.log('ValidationFailed');
            });

            gcValidator.validate();
        }
    });
</script>