﻿<gc-function-key (onActived)="onActived($event)" [enabled]="enabled">
    <gc-function-key-info [key]="InputMan.FunctionKey.F1" description="F1キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F3" description="F3キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.Home" description="Home"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.End" description="End"></gc-function-key-info>
</gc-function-key>
<table class="sample">
       <tr>
           <th>コントロール全体</th>
           <td>
               <label><input type="checkbox" [(ngModel)]="enabled" />有効化する</label>
           </td>
       </tr>
       <tr>
           <th>キーの指定</th>
           <td>
               <select [(ngModel)]="selected">
                   <option [value]="InputMan.FunctionKey.F1">F1</option>
                   <option [value]="InputMan.FunctionKey.F3">F3</option>
                   <option [value]="InputMan.FunctionKey.Home">Home</option>
                   <option [value]="InputMan.FunctionKey.End">End</option>
               </select>
               <label><input type="checkbox" checked (change)="updateKeyEnabled($event)"/>有効化する</label>
           </td>
       </tr>
   </table>