<template>
    <div class="flexbox">
        <div id="container1" ref='container1'>
            <p>ドロップダウンが下に表示されます。</p>
            <gc-combobox :items='products' :container='container1' />
        </div>
        <div id="container2" ref='container1'>
            <p>ドロップダウンが上に表示されます。</p>
            <gc-combobox :items='products' :container='container1' />
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import { products } from './data';
    
    new Vue({
        el: '#app',
        data:{
            container1: undefined,
            container2: undefined,
            products: products
        },
        mounted: function(){
            this.container1 = this.$refs.container1;
            this.container2 = this.$refs.container2;
        }
    });
</script>