
    テキストコントロール<br>
    <gc-text-box (onInitialized)="gcTextBox=$event"></gc-text-box><br><br>
    マスクコントロール<br>
    <gc-mask [formatPattern]="'〒\\D{3}-\\D{4}'" (onInitialized)="gcMask=$event"></gc-mask><br><br>
    数値コントロール<br>
    <gc-number [allowDeleteToNull]="true" [value]="null" (onInitialized)="gcNumber=$event"></gc-number><br><br>
    日付時刻コントロール<br>
    <gc-datetime [value]="null" (onInitialized)="gcDateTime=$event"></gc-datetime><br><br>
    コンボコントロール<br>
    <gc-combo-box [items]="products" (onInitialized)="gcComboBox=$event"></gc-combo-box>
