::-webkit-scrollbar {
    border-radius: 6px;
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    display: none;
}

.app-logo {
    margin-left: 35px;
}

.header-group .app-menu-btn_item:first-child{
    display: none;
}


@media screen and (min-width: 1024px){
    .app-sider{
        overflow-y: hidden;
    }
    .app-sider:hover{
        overflow-y: auto;
    }
}

@media screen and (min-width: 1880px){

    .responsive .gc-playground_description {
        max-height: 800px !important;
    }
}

.gc-playground_description, .gc-playground_description p {
    font-size: 14px;
}

.btn_with-product-style{
    background: #4f3b88;
}
 
.btn_with-product-style:hover{
    background: #7456c6;
}
 
.description-title h1 {
    border-left: 4px solid #4f3b88;
}
 
.app-content-description h1 {
    border-left: 4px solid #4f3b88;
}

.gc-tree-item[data-selected="true"]{
    border-right-color: #4f3b88;
    color: #4f3b88;
}
 
.app-menu-text_item[data-isselected="true"] > a{
    border-bottom-color: #4f3b88;
}
 
.tab_item_selected_style2[data-selected="true"]{
    border-bottom-color: #4f3b88;
}
 
 
.algolia-autocomplete .algolia-docsearch-suggestion--category-header{
    background-color: #4f3b88;
}
 
 
.loading-ring div {
    border-color: #4f3b88 transparent transparent transparent;
}
 
 
.app-breadcrumb {
    color: #4f3b88;
}

/* .app-nav {
    background: #4f3b88;
}

.app-nav .menu-icon-container {
    background: #423578;
    color: white;
} */

.gc-tree-item > a > div[ent="ent"]::before{
    content: 'Ent';
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 10px;
    background: rgb(247, 167, 17);
    font-size: 10px;
    color: white;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: -0.1em;
    text-transform: uppercase;
}

table {
    width:100%;
    border-collapse:collapse;
    margin-top:1rem;
}
th {
    padding:0.25rem 0.5rem;
    text-align:left;
    background:#F0F0F0;
    border:1px solid #D2D2D2;
    font-weight:normal;
}
td {
    padding:0.25rem 0.5rem;
    border:1px solid #D2D2D2;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.flexbox>* {
    margin: 0 1rem 1rem 0;
}
.flexbox>a {
    width: 300px;
    border: 1px solid #D2D2D2;
    text-decoration: none;
    color: inherit;
    min-height: 20rem;
}
.flexbox>a>h2 {
    font-size: 16px;
    margin: 0.5rem;
}
.flexbox>a>p {
    margin: 0.5rem;
}

/**SearchResultDialog */
.search-result-dialog {
    width: 480px;
    box-sizing: border-box;
    position: absolute;
    right: 0%;
    top: 70%;
}

.empty-result{
    line-height: 1.2em;
    font-size: .90em;
    color: #63676d;
    text-align: left;
    text-indent: 60px;
    font-weight: 700;
    height: 25px;
}

.highlight {
    color: #065cc2;
    background: rgba(143, 187, 237, .1);
    padding: .1em .05em;
    box-sizing: border-box;
}

.arrow {
    margin-left: 85%;
    width: 14px;
    height: 14px;
    background: #fff;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    z-index: 1000;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    border-radius: 2px;
}

.content {
    padding: 16px 8px 8px;
    border: 1px solid #d9d9d9;
    background: #fff;
    border-radius: 4px;
}

.content-header {
    padding: 8px;
    font-size: 1em;
    color: #fff;
    background-color: #01c1d5;
}

.content-listitem {
    overflow: hidden;
    padding: 8px 0 0;
}

.content-listitem-header {
    float: left;
    width: 30%;
    text-align: right;
    position: relative;
    padding: 5.33333px 10.66667px;
    color: #a4a7ae;
    font-size: .9em;
    word-wrap: break-word;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Open Sans', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content-listitem-header::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ddd;
    right: 0;
}

.content-listitem-detail {
    display: block;
    float: right;
    width: 70%;
    position: relative;
    padding: 5.33333px 0 5.33333px 10.66667px;
    box-sizing: border-box;
    color: #02060c;
    font-size: .9em;
    font-weight: 700;
}

.content-listitem-detail:hover {
    background-color: rgba(69, 142, 225, 0.05);
}

.content-listitem .content-text {
    margin-bottom: 4px;

}

.content-listitem-link {
    display: block;
    cursor: pointer;
}
/**SearchResultDialog */

.gc-tree-item > a > div[new="new"]::before {
    content: 'New';
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 10px;
    background: #4f3b88;
    font-size: 10px;
    color: white;
    white-space: nowrap;
    font-weight: bold;
}

.gc-tree-item > a > div[upd="upd"]::before {
    content: 'Upd';
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 10px;
    background: #4f3b88;
    font-size: 10px;
    color: white;
    white-space: nowrap;
    font-weight: bold;
}

.btn-code_icon{
    background-color: #4f3b88;
}