
<gc-mask
    [showClearButton]="showClearButton"
    value="123412341234"
    [formatPattern]="'℡ \\D{2,4}-\\D{2,4}-\\D{4}'">
</gc-mask>
<table class="sample">
    <tr>
        <th>クリアボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="showClearButton">表示する</label>
        </td>
    </tr>
</table>