﻿<gc-function-key (onactived)="onActived" [combinationKeyDisplayMode]="combinationKeyDisplayMode">
    <gc-function-key-info [key]="InputMan.FunctionKey.F1" description="F1キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F2" description="F2キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F3" description="F3キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F4" description="F4キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F5" description="F5キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F6" description="F6キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F7" description="F7キー"></gc-function-key-info>
    <gc-function-key-info [key]="InputMan.FunctionKey.F8" description="F8キー"></gc-function-key-info>

    <gc-function-key-info [key]="SF9" description="Shift+F9キー"></gc-function-key-info>
    <gc-function-key-info [key]="SF10" description="Shift+F10キー"></gc-function-key-info>
    <gc-function-key-info [key]="SF11" description="Shift+F11キー"></gc-function-key-info>
    <gc-function-key-info [key]="SF12" description="Shift+F12キー"></gc-function-key-info>
    <gc-function-key-info [key]="CFH" description="Ctrl+Homeキー"></gc-function-key-info>
    <gc-function-key-info [key]="CFE" description="Ctrl+Endキー"></gc-function-key-info>
    <gc-function-key-info [key]="AFPU" description="Alt+PageUpキー"></gc-function-key-info>
    <gc-function-key-info [key]="AFPD" description="Alt+PageDownキー"></gc-function-key-info>
</gc-function-key><br/>
F1〜F5キーを押してください。<br/>
また、CtrlキーやShiftキーを押しながらF1からF5キーを押してください。<br/><br/>

<table class="sample">
    <tr>
        <th>装飾キーの表示</th>
        <td>
            <select [(ngModel)]="combinationKeyDisplayMode">
                <option [value]="InputMan.CombinationKeyDisplayMode.Dynamic">装飾キー押下時に装飾キーを含むファンクションキーだけを表示</option>
                <option [value]="InputMan.CombinationKeyDisplayMode.Always">すべてのファンクションキーを常に表示</option>
            </select>
        </td>
    </tr>
</table>