
<gc-combo-box 
    [items]='items'
    [showClearButton]='showClearButton'
    [selectedIndex]='0'>
</gc-combo-box>
<table class="sample">
    <tr>
        <th>クリアボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="showClearButton">表示する</label>
        </td>
    </tr>
</table>