<gc-number [value]="-100" [minValue]="-100" [maxValue]="100" [maxMinBehavior]="maxMinBehavior"
    [acceptsCrlf]="acceptsCrlf" (onInvalidInput)="onInvalidInput()" (onInvalidRange)="onInvalidRange()"></gc-number>
（-100～100）
<table class="sample">
    <tr>
        <th>範囲外値の制御方法</th>
        <td>
            <select (change)="maxMinBehavior=maxMinBehaviors[$event.target.selectedIndex]">
                <option>最大値か最小値の近い方に設定</option>
                <option>値を削除</option>
                <option selected>変更前の値に戻す</option>
                <option>最後の入力をキャンセルする</option>
                <option>最後に入力された現在値を保持</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>改行コードの扱い</th>
        <td>
            <select (change)="acceptsCrlf=crLfModes[$event.target.selectedIndex]">
                <option>そのまま使用</option>
                <option>すべての改行コードを削除</option>
                <option>改行コード以降の文字列を切り取り</option>
            </select>
        </td>
    </tr>
</table>