/* ウォーターマークのスタイル */
.gcim_watermark_null {
    color: lightgray;
}
.gcim_watermark_empty-era {
    color: pink;
}
.displayStyle{
    display: inline-block
}
.gcim_watermark_null{
    width: 200px;
}
.gcim_watermark_empty-era{
    width: 200px;
}