
    <table class="outer-table">
        <tr>
            <th colspan="2">受注明細</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="inner-table">
                    <tr>
                        <th>受注コード</th>
                        <td><gc-number (onInitialized)="controls['受注コード']=$event" [minValue]="1001" [maxValue]="1120" 
                            [showSpinButton]="true" (onSpinUp)="onSpinUp()" (onSpinDown)="onSpinDown()"></gc-number></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>担当社員</th>
            <th>出荷先</th>
        </tr>
        <tr>
            <td>
                <table class="inner-table">
                    <tr>
                        <th>社員コード</th>
                        <td><gc-number (onInitialized)="controls['社員コード']=$event"></gc-number></td>
                    </tr>
                    <tr>
                        <th>フリガナ</th>
                        <td><gc-text-box (onInitialized)="controls['フリガナ']=$event"></gc-text-box></td>
                    </tr>
                    <tr>
                        <th>氏名</th>
                        <td><gc-text-box (onInitialized)="controls['氏名']=$event"></gc-text-box></td>
                    </tr>
                    <tr>
                        <th>在籍支社</th>
                        <td><gc-mask (onInitialized)="controls['在籍支社']=$event"></gc-mask></td>
                    </tr>
                    <tr>
                        <th>部署名</th>
                        <td><gc-mask (onInitialized)="controls['部署名']=$event"></gc-mask></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="inner-table">
                    <tr>
                        <th>出荷先名</th>
                        <td><gc-text-box [className]="'nameStyle'" (onInitialized)="controls['出荷先名']=$event"></gc-text-box></td>
                    </tr>
                    <tr>
                        <th>郵便番号</th>
                        <td><gc-mask (onInitialized)="controls['郵便番号']=$event" [formatPattern]="'〒\\D{3}-\\D{4}'"></gc-mask></td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td><gc-text-box [className]="'nameStyle'" (onInitialized)="controls['住所']=$event"></gc-text-box></td>
                    </tr>
                    <tr>
                        <th>受注日</th>
                        <td><gc-datetime (onInitialized)="controls['受注日']=$event" [formatPattern]="'yyy/M/d'" [displayFormatPattern]="'gggE年M月d日'"></gc-datetime></td>
                    </tr>
                    <tr>
                        <th>出荷日</th>
                        <td><gc-datetime (onInitialized)="controls['出荷日']=$event" [formatPattern]="'yyy/M/d'" [displayFormatPattern]="'gggE年M月d日'"></gc-datetime></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th colspan="2">商品一覧</th>
        </tr>
        <tr>
            <td colspan="2">
                <div id="ss" style="height:200px;width:700px;"></div>
            </td>
        </tr>
        <tr>
            <th colspan="2">合計</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="inner-table">
                    <tr>
                        <th>合計</th>
                        <td><gc-number (onInitialized)="controls['合計']=$event" [displayFormatDigit]="displayFormatDigit" [displayPositiveSuffix]="'円'"></gc-number></td>
                        <th>税額</th>
                        <td><gc-number (onInitialized)="controls['税額']=$event" [displayFormatDigit]="displayFormatDigit" [displayPositiveSuffix]="'円'"></gc-number></td>
                        <th>総額</th>
                        <td><gc-number (onInitialized)="controls['総額']=$event" [displayFormatDigit]="displayFormatDigit" [displayPositiveSuffix]="'円'"></gc-number></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
