.outer-table {
  border-collapse: collapse;
}
.outer-table > tbody > tr > th {
  text-align: left;
  padding: 0.25rem 0.5rem;
  background: #5a6268;
  color: white;
}
.outer-table > tbody > tr {
  border: thin solid #545b62;
}
.inner-table {
  border-collapse: collapse;
}
.inner-table > tbody > tr > th {
  text-align: left;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
}
.inner-table > tbody > tr > td {
  padding: 0.25rem 0.5rem;
}
.nameStyle .gcim{
  width: 300px;
}