<div id="container">
    <gc-combo-box 
        [items]="products" 
        [showSpinButton]="showSpinButton" 
        [spinButtonPosition]="spinButtonPosition"
        [showDropDownButton]="showDropDownButton" 
        [dropDownButtonPosition]="dropDownButtonPosition" 
        *ngFor="let item of items; trackBy: trackByIndex.bind(this)"
        [spinWheel]="spinWheel"></gc-combo-box>
</div>
<table class="sample">
    <tr>
        <th>スピンボタン</th>
        <td>
            <label><input type="checkbox" (change)="showSpinButton=$event.target.checked" checked>スピンボタンを表示する</label>
        </td>
    </tr>
    <tr>
        <th>スピンボタンの位置</th>
        <td>
            <select (change)="spinButtonPosition=spinButtonPositions[$event.target.selectedIndex]">
                <option>右</option>
                <option>左</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>ドロップダウンボタン</th>
        <td>
            <label><input type="checkbox" (change)="showDropDownButton=$event.target.checked"
                    checked>ドロップダウンボタンを表示する</label>
        </td>
    </tr>
    <tr>
        <th>ドロップダウンボタンの位置</th>
        <td>
            <select (change)="dropDownButtonPosition=dropDownButtonPositions[$event.target.selectedIndex]">
                <option>右</option>
                <option>左</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>マウスホイールでのスピン操作</th>
        <td><label><input type="checkbox" [(ngModel)]="spinWheel">有効にする</label></td>
    </tr>
</table>