<template>
    <div >
        <gc-combobox 
            :key='Date.now()'
            :items='products'
            :is-multi-select='isMultiSelect' />
        <table class="sample">
            <tr>
                <th>複数選択</th>
                <td>
                    <label><input type="checkbox" checked @change="isMultiSelect=$event.target.checked">複数選択を許可</label>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            products: products,
            isMultiSelect: true
        }
    });
</script>
<style>
    body {
        min-height: 220px;
    }
</style>