
    <p>タッチデバイスで各コントロールを長押ししてください。</p>
    <div class="flexbox">
        <div>
        テキストコントロール<br>
        <gc-text-box [text]="'テキスト'"></gc-text-box>
        </div>
        <div>
        複数行テキストコントロール<br>
        <gc-multiline-textbox [text]="'宮城県仙台市泉区紫山３－１－４'"></gc-multiline-textbox>
        </div>
        <div>
        マスクコントロール<br>
        <gc-mask [formatPattern]="'〒\\D{3}-\\D{4}'"></gc-mask>
        </div>
        <div>
        日付時刻コントロール<br>
        <gc-datetime></gc-datetime>
        </div>
        <div>
        数値コントロール<br>
        <gc-number></gc-number>
        </div>
        <div>
        コンボコントロール<br>
        <gc-combo-box [items]="products"></gc-combo-box>
        </div>
    </div>
