<div class="flexbox">
    <div #container1 id="container1">
        <p>ドロップダウンが下に表示されます。</p>
        <gc-combo-box [items]="products" [container]="container1"></gc-combo-box>
    </div>
    <div #container2 id="container2">
        <p>ドロップダウンが上に表示されます。</p>
        <gc-combo-box [items]="products" [container]="container2"></gc-combo-box>
    </div>
</div>