<template>
    <div >
        <gc-combobox 
            ref="combo"
            :items='products'
            @selectedchanged='log("SelectedChanged")'
            @dropdownclosed='log("DropDownClosed")'
            @dropdownopened='log("DropDownOpened")'
            @textchanged='log("TextChanged")'
            @spindown='log("SpinDown")'
            @spinup='log("SpinUp")'
            @itemschanged='log("ItemsChanged")'
            @checkedchanged='log("CheckedChanged")'
        /><br><br>
    イベント<br>
    <textarea id="log" rows="10" cols="30"></textarea>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            products: products,
        },
        mounted: function(){
            var dropdown = this.$refs.combo.getNestedIMControl().getDropDownWindow();
            dropdown.onClosing((sender, eArgs) => {
                this.log('onClosing');
            });
            dropdown.onOpening((sender, eArgs) => {
                this.log('onOpening');
            });
        },
        methods: {
            log: function(message){
                var textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            }
        }
    });
   
</script>
