<template>
    <div>
        <gc-number 
            :value='-100' 
            :min-value='-100' 
            :max-value='100'
            :max-min-behavior='maxMinBehavior'
            :accepts-crlf='acceptsCrlf'
            @oninvalidinput='alert("不正な文字の入力です。半角数字で入力してください。")'
            @oninvalidrange='alert("-100以上100以下の数字を入力してください。")' />（-100～100）
        <table class="sample">
            <tr>
                <th>範囲外値の制御方法</th>
                <td>
                    <select v-model="maxMinBehavior">
                        <option :value='GC.InputMan.MaxMinBehavior.AdjustToMaxMin'>最大値か最小値の近い方に設定</option>
                        <option :value='GC.InputMan.MaxMinBehavior.Clear'>値を削除</option>
                        <option :value='GC.InputMan.MaxMinBehavior.Restore'>変更前の値に戻す</option>
                        <option :value='GC.InputMan.MaxMinBehavior.CancelInput'>最後の入力をキャンセルする</option>
                        <option :value='GC.InputMan.MaxMinBehavior.Keep'>最後に入力された現在値を保持</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>改行コードの扱い</th>
                <td>
                    <select v-model="acceptsCrlf">
                        <option :value='GC.InputMan.CrLfMode.NoControl'>そのまま使用</option>
                        <option :value='GC.InputMan.CrLfMode.Filter'>すべての改行コードを削除</option>
                        <option :value='GC.InputMan.CrLfMode.Cut'>改行コード以降の文字列を切り取り</option>
                    </select>
                </td>
            </tr>
        </table>

    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            maxMinBehavior: InputMan.MaxMinBehavior.Restore,
            acceptsCrlf: InputMan.CrLfMode.NoControl
        }
    });
</script>