﻿<gc-multiline-textbox [text]="text" [wordWrap]="wordWrap" [countWrappedLine]="countWrappedLine"
    [maxLineCount]="maxLineCount" [scrollBars]="scrollBars" [scrollBarMode]="scrollBarMode"></gc-multiline-textbox>
<table class="sample">
    <tr>
        <th>ワードラップ</th>
        <td><label><input type="checkbox" [(ngModel)]="wordWrap">自動的に改行する</label></td>
    </tr>
    <tr>
        <th>入力可能な行数</th>
        <td>
            <input type="number" [(ngModel)]="maxLineCount">
            <label><input type='checkbox' [(ngModel)]="countWrappedLine">折り返した改行を含める</label>
        </td>
    </tr>
    <tr>
        <th>スクロールバー</th>
        <td>
            <label>
                <select (change)="scrollBars=scrollBarEnum[$event.target.selectedIndex]">
                    <option>なし</option>
                    <option>水平と垂直</option>
                    <option>垂直</option>
                    <option>水平</option>
                </select> 種類
            </label><br>
            <label>
                <select (change)="scrollBarMode=scrollBarModes[$event.target.selectedIndex]">
                    <option>表示領域を超えた場合のみ表示</option>
                    <option>常に表示</option>
                </select> 表示方法
            </label>
        </td>
    </tr>
</table>