body {
    padding-bottom: 12rem;
}
table.form {
    border-collapse: collapse;
}
table.form > tbody > tr > * {
    padding: 0.25rem 0.5rem;
    border: 1px solid #bee5eb;
}
table.form > tbody > tr > th {
    text-align: left;
    background: #d1ecf1;
    color: #0c5460;
    font-weight: normal;
}
.gcim {
    border-color: #bee5eb;
    width: 200px;
}
/* ウォーターマークのスタイル */
.gcim_watermark_null {
    color: #0c5460;
}
.gcim-notify__tip-container {
    margin-left: 16px;
}

.gcim__soft-keyboard{
    width: 400px;
}