<template>
    
    <div>
        <gc-combobox
            ref="combo"
            :items='items'
            :show-clear-button='showClearButton'
            :selected-index='0' />
        <table class="sample">
        <tr>
            <th>クリアボタンの表示</th>
            <td>
                <label><input type="checkbox" v-model="showClearButton">表示する</label>
            </td>
        </tr>
    </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    
    new Vue({
        el: '#app',
        data: {
            items: ['果汁100%オレンジ', '果汁100%グレープ', '果汁100%レモン', '果汁100%ピーチ', 'コーヒーマイルド', 'コーヒービター'],
            showClearButton: true,
        }
    });
   
</script>

<style>
   body {
        min-height: 220px;
    }
    .odd {
        background: lavender;
    }
</style>
