﻿<div class="flexbox">
    <div>
        半角カタカナを入力<br>
        <gc-multiline-textbox [format]="'N'" [autoConvert]="true"></gc-multiline-textbox>
    </div>
    <div>
        全角文字を入力<br>
        <gc-multiline-textbox [format]="'Ｚ'" [autoConvert]="true"></gc-multiline-textbox>
    </div>
    <div>
        ふりがなの取得<br>
        <gc-multiline-textbox [imeReadingStringAppend]="false" (onIMEReadingStringOutput)="readingString=$event.getIMEReadingString()"></gc-multiline-textbox><br>
        ｶﾅ: <span id="furigana">{{readingString}}</span>
    </div>
</div>