<template>
    <div>
        InputManJSコントロール：
        <form id="imfm" action="" target="_parent">
            <div class="flexbox">
                <div>
                    テキストコントロール<br>
                    <gc-text-box></gc-text-box>
                </div>
                <div>
                    マスクコントロール<br>
                    <gc-mask format-pattern="〒\\D{3}-\\D{4}"></gc-mask>
                </div>
                <div>
                    数値コントロール<br>
                    <gc-number></gc-number>
                </div>
                <div>
                    日付時刻コントロール<br>
                    <gc-datetime></gc-datetime>
                </div>
            </div>
        </form>

        Wijmoコントロール：
        <form id="wjfm">
            InputNumber<br>
            <div id="theNumber" name="number"></div>
        </form>

        <br>HTML入力要素：
        <form id="htmlfm">
            <input id="input">
        </form>

        <form id="op">
            <table class="sample">
                <tr>
                    <th>保存するタイミング</th>
                    <td>
                        <label><input type="radio" id="onReload" value="0" name="saveMode" checked @change="(e)=> this.saveMode='saveonrefresh'">ブラウザ更新時に保存する</label>
                        <label><input type="radio" id="onSubmit" value="1" name="saveMode" @change="(e)=> this.saveMode='saveonsubmit'">データ送信時にも保存する</label>
                    </td>
                </tr>
                <tr>
                    <th>データの保存先</th>
                    <td>
                        <label><input type="radio" id="local" value="0" name="storageMode" checked @change="(e)=> this.storageMode='localstorage'">ローカルストレージ</label>
                        <label><input type="radio" id="session" value="1" name="storageMode" @change="(e)=> this.storageMode='sessionstorage'">セッションストレージ</label>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <button type="button" @click="() => window.parent.location.reload()">ブラウザを更新する</button>
        <input type="submit" form="imfm" value="フォームデータを送信する">
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import '@grapecity/wijmo.styles/wijmo.css';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import * as wjcInput from '@grapecity/wijmo.input';
    import { InputMan } from '@grapecity/inputman';
    import './license';
    import './wijmoRule';

    new Vue({
        el: '#app',
        data: {
            saveMode: null,
            storageMode: null,
        },
        mounted: function(){
            const theNumber = new wjcInput.InputNumber('#theNumber');

            //オプション要素の永続化を実行する
            let op = new GC.InputMan.GcFormPersistence(document.getElementById('op'));
            op.persist();

            this.saveMode = document.getElementById('onSubmit').checked ? InputMan.SaveMode.SaveOnSubmit : InputMan.SaveMode.SaveOnRefresh;
            this.storageMode = document.getElementById('session').checked ? InputMan.StorageMode.SessionStorage : InputMan.StorageMode.LocalStorage;

            //InputManJSフォームの永続化を実行する
            this.fp = new GC.InputMan.GcFormPersistence(document.getElementById('imfm'), {
                saveMode: this.saveMode,
                storageMode: this.storageMode
            });
            this.fp.persist();

            //wijmoフォームの永続化を実行する
            this.wjfp = new GC.InputMan.GcFormPersistence(document.getElementById('wjfm'), {
                saveMode: this.saveMode,
                storageMode: this.storageMode
            });
            this.wjfp.persist();

            //標準のHTML要素の永続化を実行する
            this.htmlfp = new GC.InputMan.GcFormPersistence(document.getElementById('htmlfm'), {
                saveMode: this.saveMode,
                storageMode: this.storageMode
            });
            this.htmlfp.persist();
        },
        watch: {
            saveMode: function(newVal){
                this.fp.saveMode = newVal;
                this.htmlfp.saveMode = newVal;
                this.wjfp.saveMode = newVal;
            },
            storageMode: function(newVal){
                this.fp.storageMode = newVal;
                this.htmlfp.storageMode = newVal;
                this.wjfp.storageMode = newVal;
            }
        }
    });
</script>

