<template>
    <div >
        <gc-combobox 
            :key='Date.now()'
            :items='items'
            :virtual-mode='virtualMode' />
        <table class="sample">
            <tr>
                <th>仮想化</th>
                <td>
                    <label><input type="checkbox" checked @change="virtualMode=$event.target.checked">仮想化を有効にする</label>
                </td>
            </tr>
            <tr>
                <th>項目数</th>
                <td>
                    <select @change="count=$event.target.value">
                        <option value=1000>1000</option>
                        <option value=10000>10000</option>
                        <option value=100000>100000</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: function(){
            var res = {
                virtualMode: true,
                count: 1000,
            };
            res.items = this.generateItems(res.count);
            return res;
        },
        methods: {
            generateItems: function(length) {
                var items = [];
                for (var i = 0; i < length; i++) {
                    items.push('項目' + i);
                }
                return items;
            }
        },
        watch: {
            count: function(val){
                this.items = this.generateItems(val);
            }
        }
    });
</script>
<style>
    body {
        min-height: 220px;
    }
</style>