<table class="form">
  <tr>
    <th>カードブランド</th>
    <td>
      <gc-combo-box [items]="cardTypeItems" [watermarkDisplayNullText]="'選択してください。'" [isEditable]="false"
        [exitOnLeftRightKey]="cardTypeExitOnLeftRightKey" [exitOnEnterKey]="cardTypeExitOnEnterKey" (textChanged)="cardNoFormat=cardNoFormats[$event.getDisplayText()]"
        (onInitialized)="cardType=$event"></gc-combo-box>
    </td>
  </tr>
  <tr>
    <th>カード番号</th>
    <td>
      <gc-mask [watermarkDisplayNullText]="'半角数字を入力してください。'" [formatPattern]="cardNoFormat"
        [exitOnLastChar]="true" [exitOnLeftRightKey]="cardTypeExitOnLeftRightKey"
        [exitOnEnterKey]="cardTypeExitOnEnterKey" (onInitialized)="cardNumber=$event"></gc-mask>
    </td>
  </tr>
  <tr>
    <th>カード名義</th>
    <td>
      <gc-text-box [watermarkDisplayNullText]="'半角英字を入力してください。'" [format]="'AS'"
        [exitOnLeftRightKey]="cardNumberExitOnLeftRightKey" [exitOnEnterKey]="cardNumberExitOnEnterKey" (onInitialized)="ownerName=$event"></gc-text-box>
    </td>
  </tr>
  <tr>
    <th>有効期限</th>
    <td>
      <gc-datetime [watermarkDisplayNullText]="'年月を入力してください。'" [formatPattern]="'yyyy年MM月'"
        [displayFormatPattern]="'MM/yy'" [exitOnLastChar]="true" [exitOnLeftRightKey]="expirationDateExitOnLeftRightKey"
        [exitOnEnterKey]="expirationDateExitOnEnterKey" [showDropDownButton]="true"
        [dropDownConfig]="expirationDateDropDownConfig" [minDate]="expirationDateMinDate"
        [maxDate]="expirationDateMaxDate" [value]="null" (onInitialized)="expirationDate=$event">
      </gc-datetime>
    </td>
  </tr>
  <tr>
    <th>セキュリティコード</th>
    <td>
      <gc-text-box [watermarkDisplayNullText]="'3～4桁の数値です。'" [maxLength]="'4'" [format]="'9'" [exitOnLastChar]="true" [passwordChar]="'*'"
        [passwordRevelationMode]="securityPasswordRevelationMode"
        [exitOnLeftRightKey]="securityCodeExitOnLeftRightKey" [exitOnEnterKey]="securityCodeExitOnEnterKey" (onInitialized)="securityCode=$event"></gc-text-box>
    </td>
  </tr>
</table>