<template>
    <div >
        <gc-combobox 
            :items='employees' 
            :item-height='42'
            :display-member-path='"name"'
            :value-member-path='"name"'
            :drop-down-width='290'
            :item-template='itemTemplate'
            :header-template='headerTemplate'
            :footer-template='footerTemplate' />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import employees from './data';
    
    new Vue({
        el: '#app',
        data: {
            employees: employees,
            itemTemplate: `<div class="template-item">
                <div class="id">{!id}</div>
                <div class="image"><img src="{!image}"></div>
                <div class="name"><ruby>{!lastName}<rt>{!lastKana}</rt></ruby>&nbsp;<ruby>{!firstName}<rt>{!firstKana}</rt></ruby></div>
                <div class="note">{!office}<br>{!department}</div>
                </div>`,
            headerTemplate: '<div class="template-item"><div class="id">ID</div><div class="image">写真</div><div class="name">氏名</div><div class="note">所属</div></div>',
            footerTemplate: `<div>
                <span>選択されている項目: {!instance.getSelectedItem() == null ? '何も選択されていません' : instance.getSelectedItem().name}</span>
                </div>`
        }
    });
    const ExitKeys = [
        InputMan.ExitKey.None,
        InputMan.ExitKey.Both,
        InputMan.ExitKey.Enter,
        InputMan.ExitKey.ShiftEnter
    ];
    const ExitOnLeftRightKeys = [
        InputMan.ExitOnLeftRightKey.None,
        InputMan.ExitOnLeftRightKey.Both,
        InputMan.ExitOnLeftRightKey.Left,
        InputMan.ExitOnLeftRightKey.Right
    ];
</script>
<style>
body {
    min-height: 350px;
}
.viewport {
    line-height: 1.2;
}
.template-item {
    display: flex;
}
.template-item > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.id {
    width: 40px;
}
.image {
    width: 50px;
}
.image img {
    width: 40px;
}
.name {
    width: 110px;
    justify-content: initial;
    padding-left: 5px;
}
.name ruby {
    font-size: 16px;
    font-weight: bold;
    color: #2676c0;
}
.name rt {
    font-weight: initial;
    color: grey;
}
.list-item[selected="true"] .name ruby, .list-item[selected="true"] .name rt {
    color: white;
}
.note {
    width: 70px;
}
</style>