<template>
    <div>
        <gc-mask 
            :format-pattern='formatPattern'
            :watermark-display-null-text='watermarkDisplayNullText'
            :watermark-null-text='watermarkNullText'
            :prompt-char='promptChar'
            />
        <table class="sample">
            <tr>
                <th>代替テキスト</th>
                <td>
                    <label><input type="checkbox" v-model="showWatermarkDisplayNullText">フォーカスがないときの代替テキスト</label><br>
                    <label><input type="checkbox" v-model="showWatermarkNullText">フォーカスがあるときの代替テキスト</label>
                </td>
            </tr>
            <tr>
                <th>プロンプト文字</th>
                <td><gc-text-box v-model="promptChar"/></td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import './styles.css';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            formatPattern: '\\D{2,4}-\\D{2,4}-\\D{4}',
            promptChar: "_",
            showWatermarkDisplayNullText: true,
            showWatermarkNullText: true,
            watermarkDisplayNullText: '電話番号',
            watermarkNullText: '市外局番から入力ください'
        },
        watch: {
            showWatermarkDisplayNullText: function(newV){
                this.watermarkDisplayNullText = newV ? '電話番号' : '';
            },
            showWatermarkNullText: function(newV){
                this.watermarkNullText = newV ? '市外局番から入力ください' : '';
            }
        }
    });
</script>