<template>
    <div>
        <div>
            <gc-calculator ref="calc"></gc-calculator>
        </div>

        <table class="sample">
            <tr>
                <th>税込み計算する</th>
                <td>
                    <button @click="performClick">実行</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import {InputMan} from '@grapecity/inputman';

    let App = Vue.extend({
        name: 'app',
        methods: {
            performClick: function(){
                let calculator = this.$refs.calc.getNestedIMControl();
                //現在の値に1.1を掛けるように電卓キーを実行していきます
                calculator.performClick(InputMan.GcCalculatorKey.Multiply);
                calculator.performClick(InputMan.GcCalculatorKey.D_1);
                calculator.performClick(InputMan.GcCalculatorKey.Dot);
                calculator.performClick(InputMan.GcCalculatorKey.D_1);
                calculator.performClick(InputMan.GcCalculatorKey.Equal);
            }
        }
    });
    
    new Vue({ render: h => h(App) }).$mount('#app');

    
</script>

<style>
    body {
        margin-bottom: 24px;
    }
</style>
