<template>
    <div>
        <div class="flexbox">
            <div>
                テキストコントロール<br>
                <gc-text-box id='textbox' :text='"テキスト"' />
            </div>
            <div>
                複数行テキストコントロール<br>
                <gc-multiline-textbox id='multitextbox' :text='"宮城県仙台市泉区紫山３－１－４"' />
            </div>
            <div>
                マスクコントロール<br>
                <gc-mask id='mask' :format-pattern='formatPattern' />
            </div>
            <div>
                数値コントロール<br>
                <gc-number id='number' />
            </div>
            <div>
                日付時刻コントロール<br>
                <gc-datetime id='datetime' />
            </div>
            <div>
                カレンダーコントロール<br>
                <gc-calendar id='calendar' />
            </div>
            <div>
                コンボコントロール<br>
                <gc-combobox id='combo' :items='products' />
            </div>
            <div>
                リストコントロール<br>
                <gc-listbox id='list' :items='products' :width='200' />
            </div>
            <div>
                ドロップダウンプラグイン<br>
                <gc-text-box id='textbox-dropdown' ref="textBoxDropDown" />
            </div>
            <div>
                検証コントロール<br>
                <gc-text-box id='textbox-validator' ref="textBoxValidator" />
            </div>
            <div>
                ソフトウェアキーボード<br>
                <input id="soft-key-input" autocomplete="off" @focus="()=> this.$refs.keyboard.getNestedIMControl().open()">
                <gc-soft-keyboard ref='keyboard' target="#soft-key-input"></gc-soft-keyboard>
            </div>
        </div>

        ファンクションキーコントロール<br>
        <gc-function-key @onactived="onFunctionkeyActivated">
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F1" description="F1"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F2" description="F2"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F3" description="F3"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F4" description="F4"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F5" description="F5"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F6" description="F6"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F7" description="F7"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F8" description="F8"></gc-function-key-info>

            <gc-function-key-info :function-key="SF9" description="Shift+F9"></gc-function-key-info>
            <gc-function-key-info :function-key="SF10" description="Shift+F10"></gc-function-key-info>
            <gc-function-key-info :function-key="SF11" description="Shift+F11"></gc-function-key-info>
            <gc-function-key-info :function-key="SF12" description="Shift+F12"></gc-function-key-info>
            <gc-function-key-info :function-key="CFH" description="Ctrl+Home"></gc-function-key-info>
            <gc-function-key-info :function-key="CFE" description="Ctrl+End"></gc-function-key-info>
            <gc-function-key-info :function-key="AFPU" description="Alt+PageUp"></gc-function-key-info>
            <gc-function-key-info :function-key="AFPD" description="Alt+PageDown"></gc-function-key-info>
        </gc-function-key>
        <br>
        <div>
            電卓コントロール<br>
            <gc-calculator></gc-calculator>
        </div>
        <gc-shortcut>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#multitextbox' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#list' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox-dropdown' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox-validator' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#soft-key-input' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#multitextbox' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#list' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox-dropdown' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox-validator' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#soft-key-input' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        </gc-shortcut>
        <div id="products">
            <table class="form">
                <tbody>
                    <tr>
                        <th>商品コード</th>
                        <th>商品名</th>
                        <th>価格</th>
                    </tr>
                    <tr>
                        <th colspan="3">飲料</th>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td class="product">果汁100%オレンジ</td>
                        <td>200円</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td class="product">コーヒーマイルド</td>
                        <td>190円</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td class="product">ピリピリビール</td>
                        <td>280円</td>
                    </tr>
                    <tr>
                        <th colspan="3">調味料</th>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td class="product">ホワイトソルト</td>
                        <td>260円</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td class="product">ブラックペッパー</td>
                        <td>210円</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td class="product">ピュアシュガー</td>
                        <td>280円</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import './styles.css';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            products: products,
            formatPattern: '〒\\D{3}-\\D{4}',
            SF9: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F9,
            SF10: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F10,
            SF11: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F11,
            SF12: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F12,
            CFH: GC.InputMan.FunctionKey.Ctrl | GC.InputMan.FunctionKey.Home,
            CFE: GC.InputMan.FunctionKey.Ctrl | GC.InputMan.FunctionKey.End,
            AFPU: GC.InputMan.FunctionKey.Alt | GC.InputMan.FunctionKey.PageUp,
            AFPD: GC.InputMan.FunctionKey.Alt | GC.InputMan.FunctionKey.PageDown,
        },
        methods: {
            onFunctionkeyActivated:function(s, e){
                window.alert('「' + e.description + '」キーが押されました。')
            }
        },
        mounted: function(){
            // ドロップダウンプラグイン
            const gcTextBoxDropDown = this.$refs.textBoxDropDown.getNestedIMControl();
            const gcDropDown = gcTextBoxDropDown.createDropDown();
            gcDropDown.getElement().appendChild(document.getElementById('products'));
            document.getElementById('products').addEventListener('click', (e) => {
                if (e.srcElement.className.indexOf('product') >= 0) {
                    gcTextBoxDropDown.setText(e.srcElement.innerText);
                    gcDropDown.close();
                }
            });

            // 検証コントロール
            const gcTextBoxValidator = this.$refs.textBoxValidator.getNestedIMControl();
            const validator = new GCIM.GcValidator({
                items: [
                    {
                        control: gcTextBoxValidator,
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ],
                    }
                ],
                defaultNotify: {
                    fail: {
                        icon: {
                            direction: InputMan.IconDirection.Inside
                        },
                        controlState: true
                    }
                }
            });
            validator.validate();
        }
    });
</script>

