body {
    min-height: 350px;
}
.viewport {
    line-height: 1.2;
}
.template-item {
    display: flex;
}
.template-item > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.id {
    width: 40px;
}
.image {
    width: 50px;
}
.image img {
    width: 40px;
}
.name {
    width: 110px;
    justify-content: initial;
    padding-left: 5px;
}
.name ruby {
    font-size: 16px;
    font-weight: bold;
    color: #2676c0;
}
.name rt {
    font-weight: initial;
    color: grey;
}
.list-item[selected="true"] .name ruby, .list-item[selected="true"] .name rt {
    color: white;
}
.note {
    width: 70px;
}