﻿<div class="flexbox">
    <div>
        通常の状態<br>
        <gc-text-box [text]="'テキスト'"></gc-text-box>
    </div>
    <div>
        無効な状態<br>
        <gc-text-box [text]="'テキスト'" [enabled]="false"></gc-text-box>
    </div>
    <div>
        ウォーターマーク<br>
        <gc-text-box [watermarkDisplayNullText]="'氏名'" [watermarkNullText]="'全角で入力してください'"></gc-text-box>
    </div>
</div>
<div class="peoperty-header">コントロール全般のスタイル</div>
<div class="peoperty-panel" (click)="updateStyle($event)">
    <label><input type="checkbox" value=".gcim,width">コントロールの幅</label><br>
    <label><input type="checkbox" value=".gcim,height">コントロールの高さ</label><br>
    <label><input type="checkbox" value=".gcim,backgroundColor">背景色</label><br>
    <label><input type="checkbox" value=".gcim,borderColor">境界線の色</label><br>
    <label><input type="checkbox" value=".gcim,borderWidth">境界線の幅</label><br>
    <label><input type="checkbox" value=".gcim,borderStyle">境界線のスタイル</label><br>
    <label><input type="checkbox" value=".gcim,borderRadius">境界線の角丸</label><br>
    <label><input type="checkbox" value=".gcim__input,cursor">カーソルの形</label><br>
    <label><input type="checkbox" value=".gcim,boxShadow">コントロールの影</label><br>
</div>
<div class="peoperty-header">テキストのスタイル</div>
<div class="peoperty-panel" (click)="updateStyle($event)">
    <label><input type="checkbox" value=".gcim,color">文字色</label><br>
    <label><input type="checkbox" value=".gcim__input,fontSize">フォントのサイズ</label><br>
    <label><input type="checkbox" value=".gcim__input,fontWeight">フォントの太さ</label><br>
    <label><input type="checkbox" value=".gcim__input,fontStyle">フォントのスタイル</label><br>
    <label><input type="checkbox" value=".gcim__input,fontFamily">フォントの種類</label><br>
    <label><input type="checkbox" value=".gcim__input,textAlign">水平方向の位置</label><br>
    <label><input type="checkbox" value=".gcim__input,textShadow">テキストの影</label><br>
</div>
<div class="peoperty-header">コントロール無効時のスタイル</div>
<div class="peoperty-panel" (click)="updateStyle($event)">
    <label><input type="checkbox" value=".gcim__input:disabled,backgroundColor">背景色</label><br>
    <label><input type="checkbox" value=".gcim__input:disabled,color">文字色</label><br>
    <label><input type="checkbox" value=".gcim__input:disabled,cursor">カーソルの形</label><br>
</div>
<div class="peoperty-header">フォーカス時のスタイル</div>
<div class="peoperty-panel" (click)="updateStyle($event)">
    <label><input type="checkbox" value=".gcim_focused,backgroundColor">背景色</label><br>
    <label><input type="checkbox" value=".gcim_focused,borderColor">境界線の色</label><br>
    <label><input type="checkbox" value=".gcim_focused,color">文字色</label><br>
</div>
<div class="peoperty-header">ウォーターマークのスタイル</div>
<div class="peoperty-panel" (click)="updateStyle($event)">
    <label><input type="checkbox" value=".gcim_watermark_null,backgroundColor">背景色</label><br>
    <label><input type="checkbox" value=".gcim_watermark_null,borderColor">境界線の色</label><br>
    <label><input type="checkbox" value=".gcim_watermark_null,color">文字色</label><br>
</div>
<div class="peoperty-header">ウォーターマークのフォーカス時のスタイル</div>
<div class="peoperty-panel" (click)="updateStyle($event)">
    <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,backgroundColor">背景色</label><br>
    <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,borderColor">境界線の色</label><br>
    <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,color">文字色</label><br>
</div>
<button id="copyStyle" (click)="copyStyle()">CSSコードをコピー</button><br>
<textarea id="style" cols="60" rows="10">{{styleStr}}</textarea>