<div class="flexbox">
    <div id="container1" #container1>
        <p>ドロップダウンが下に表示されます。</p>
        <gc-datetime [showDropDownButton]="true" [dropDownConfig]="dropDownConfig"
            [dropDownButtonVisible]="dropDownButtonVisible" [autoDropDown]="autoDropDown" [container]="container1"
            (onInitialized)="gcDateTime1=$event"></gc-datetime>
    </div>
    <div id="container2" #container2>
        <p>ドロップダウンが上に表示されます。</p>
        <gc-datetime [showDropDownButton]="true" [dropDownConfig]="dropDownConfig"
            [dropDownButtonVisible]="dropDownButtonVisible" [autoDropDown]="autoDropDown" [container]="container2"
            (onInitialized)="gcDateTime2=$event"></gc-datetime>
    </div>
</div>
<table class="sample">
    <tr>
        <th>ドロップダウン操作</th>
        <td><label><input type="checkbox" [(ngModel)]="autoDropDown">フォーカス時にドロップダウンを開く</label></td>
    </tr>
    <tr>
        <th>コードによるドロップダウン操作</th>
        <td>
            <button id="open" (click)='showDropdown(true)'>ドロップダウンを開く</button>
            <button id="close" (click)='showDropdown(false)'>ドロップダウンを閉じる</button>
        </td>
    </tr>
    <tr>
        <th>ドロップダウンボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="dropDownButtonVisible">ドロップダウンボタンを表示する</label>
        </td>
    </tr>
</table>