
<gc-datetime
    [showClearButton]='showClearButton'>
</gc-datetime>
<table class="sample">
    <tr>
        <th>クリアボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="showClearButton">表示する</label>
        </td>
    </tr>
</table>