<gc-datetime [formatPattern]="'yyyy/MM/dd'" [displayFormatPattern]="'yyy/M/d'" [watermarkDisplayNullText]="'生年月日'"
    [watermarkNullText]="'西暦で入力してください'" [value]="null"></gc-datetime>
<gc-datetime [formatPattern]="'gggee年MM月dd日'" [displayFormatPattern]="'gggE年M月d日'" [value]="value"
    [watermarkDisplayEmptyEraText]="'和暦表示できない日付です'" [watermarkEmptyEraText]="'正しい和暦を入力してください'"(onInitialized)="onInitialized()">
</gc-datetime>
<table class="sample">
    <tr>
        <th>プロンプト文字</th>
        <td><gc-text-box [(text)]="promptChar"></gc-text-box>
    </tr>
</table>