<template>
    <div>
        <gc-function-key @onactived="onActived" :combination-key-display-mode="combinationKeyDisplayMode">
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F1" description="F1キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F2" description="F2キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F3" description="F3キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F4" description="F4キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F5" description="F5キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F6" description="F6キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F7" description="F7キー"></gc-function-key-info>
            <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F8" description="F8キー"></gc-function-key-info>

            <gc-function-key-info :function-key="SF9" description="Shift+F9キー"></gc-function-key-info>
            <gc-function-key-info :function-key="SF10" description="Shift+F10キー"></gc-function-key-info>
            <gc-function-key-info :function-key="SF11" description="Shift+F11キー"></gc-function-key-info>
            <gc-function-key-info :function-key="SF12" description="Shift+F12キー"></gc-function-key-info>
            <gc-function-key-info :function-key="CFH" description="Ctrl+Homeキー"></gc-function-key-info>
            <gc-function-key-info :function-key="CFE" description="Ctrl+Endキー"></gc-function-key-info>
            <gc-function-key-info :function-key="AFPU" description="Alt+PageUpキー"></gc-function-key-info>
            <gc-function-key-info :function-key="AFPD" description="Alt+PageDownキー"></gc-function-key-info>
        </gc-function-key><br/>
        F1〜F5キーを押してください。<br/>
        また、CtrlキーやShiftキーを押しながらF1からF5キーを押してください。<br/><br/>

        <table class="sample">
            <tr>
                <th>装飾キーの表示</th>
                <td>
                    <select v-model="combinationKeyDisplayMode">
                        <option :value="GC.InputMan.CombinationKeyDisplayMode.Dynamic">装飾キー押下時に装飾キーを含むファンクションキーだけを表示</option>
                        <option :value="GC.InputMan.CombinationKeyDisplayMode.Always">すべてのファンクションキーを常に表示</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from "@grapecity/inputman";

    new Vue({
        el: '#app',
        data: {
            combinationKeyDisplayMode: InputMan.CombinationKeyDisplayMode.Dynamic,
            SF9: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F9,
            SF10: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F10,
            SF11: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F11,
            SF12: GC.InputMan.FunctionKey.Shift | GC.InputMan.FunctionKey.F12,
            CFH: GC.InputMan.FunctionKey.Ctrl | GC.InputMan.FunctionKey.Home,
            CFE: GC.InputMan.FunctionKey.Ctrl | GC.InputMan.FunctionKey.End,
            AFPU: GC.InputMan.FunctionKey.Alt | GC.InputMan.FunctionKey.PageUp,
            AFPD: GC.InputMan.FunctionKey.Alt | GC.InputMan.FunctionKey.PageDown,
        },
        methods: {
            onActived: function(s, e){
                window.alert(e.description + 'が押下されました。')
            }
        }
    });

    
</script>

