<style>
    .landing-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-page .middle-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing-page h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .landing-page .card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

    .landing-page .card_container .card {
        width: 350px;
        border: 2px solid rgba(216, 216, 216, 1);
        box-sizing: border-box;
        margin: 15px;
        flex-direction: column;
        cursor: pointer;
    }

    .landing-page .card_container:last-child {
        margin-right: 0;
    }

    .landing-page .card_container .card2 {
        height: 420px;
        width: 605px;
        border: 2px solid rgba(216, 216, 216, 1);
        box-sizing: border-box;
        margin: 15px;
        flex-direction: column;
    }

    .landing-page .card2 .img-container {
        height: 270px;
        width: calc(100% - 30px);
        border: 1px solid gray;
        margin: 21px;
        overflow: hidden;
    }

    .landing-page .card2 p {
        font-size: 12px;
        max-width: 100%;
    }

    .landing-page a {
        text-decoration: inherit;
        color: #000000;
        max-width: 100%;
    }

    .landing-page i {
        font-size: 100px;
        color: #fff;
    }

    .landing-page .controlsImage {
        display: block;
        max-width: 100%;
        width: 100%;
    }

    .landing-page .referenceImage {
        display: block;
        max-width: 100%;
        width: 100%;
    }
</style>

<div class="landing-page">
    <h1>収録コントロール</h1>
    <div class="card_container">
        <div class="card">
            <a href="textBox/overview">
                <img src="/inputmanjs/demos/ja/images/controls_textBox.png" class="controlsImage">
                <h2 class="middle-center">テキスト</h2>
            </a>
        </div>
        <div class="card">
            <a href="multiLineTextBox/overview">
                <img src="/inputmanjs/demos/ja/images/controls_multiLineTextBox.png" class="controlsImage">
                <h2 class="middle-center">複数行テキスト</h2>
            </a>
        </div>
        <div class="card">
            <a href="mask/overview">
                <img src="/inputmanjs/demos/ja/images/controls_mask.png" class="controlsImage">
                <h2 class="middle-center">マスク</h2>
            </a>
        </div>
        <div class="card">
            <a href="number/overview">
                <img src="/inputmanjs/demos/ja/images/controls_number.png" class="controlsImage">
                <h2 class="middle-center">数値</h2>
            </a>
        </div>
        <div class="card">
            <a href="calculator/overview">
                <img src="/inputmanjs/demos/ja/images/controls_calculator.png" class="controlsImage">
                <h2 class="middle-center">電卓</h2>
            </a>
        </div>
        <div class="card">
            <a href="dateTime/overview">
                <img src="/inputmanjs/demos/ja/images/controls_dateTime.png" class="controlsImage">
                <h2 class="middle-center">日付時刻</h2>
            </a>
        </div>
        <div class="card">
            <a href="calendar/overview">
                <img src="/inputmanjs/demos/ja/images/controls_calendar.png" class="controlsImage">
                <h2 class="middle-center">カレンダー</h2>
            </a>
        </div>
        <div class="card">
            <a href="comboBox/overview">
                <img src="/inputmanjs/demos/ja/images/controls_comboBox.png" class="controlsImage">
                <h2 class="middle-center">コンボ</h2>
            </a>
        </div>
        <div class="card">
            <a href="listBox/overview">
                <img src="/inputmanjs/demos/ja/images/controls_listBox.png" class="controlsImage">
                <h2 class="middle-center">リスト</h2>
            </a>
        </div>
        <div class="card">
            <a href="dropDown/overview">
                <img src="/inputmanjs/demos/ja/images/controls_dropDown.png" class="controlsImage">
                <h2 class="middle-center">ドロップダウン</h2>
            </a>
        </div>
        <div class="card">
            <a href="validator/overview">
                <img src="/inputmanjs/demos/ja/images/controls_validator.png" class="controlsImage">
                <h2 class="middle-center">検証</h2>
            </a>
        </div>
        <div class="card">
            <a href="functionKey/overview">
                <img src="/inputmanjs/demos/ja/images/controls_functionkey.png" class="controlsImage">
                <h2 class="middle-center">ファンクションキー</h2>
            </a>
        </div>
        <div class="card">
            <a href="softKeyboard/overview">
                <img src="/inputmanjs/demos/ja/images/controls_softkeyboard.png" class="controlsImage">
                <h2 class="middle-center">ソフトウェアキーボード</h2>
            </a>
        </div>
    </div>
    <h1 id="examples" style="padding-top: 135px; margin-top: -135px;">実用例</h1>
    <div class="card_container">
        <div class="middle-center card2">
            <div class="img-container">
                <a href="/inputmanjs/demos/examples/entryForm">
                    <img class="referenceImage" src="/inputmanjs/demos/ja/images/examples_entryForm.png" />
                </a>
            </div>
            <a href="/inputmanjs/demos/examples/entryForm">
                <h2>お問い合わせフォーム</h2>
            </a>
            <p>様々なフォーカス移動機能や、入力検証のメッセージやアイコン、表形式のドロップダウンなどを備えたお問い合わせフォーム画面を作成する方法を紹介します。</p>
        </div>
        <div class="middle-center card2">
            <div class="img-container">
                <a href="/inputmanjs/demos/examples/userInfo">
                    <img class="referenceImage" src="/inputmanjs/demos/ja/images/examples_userInfo.png" />
                </a>
            </div>
            <a href="/inputmanjs/demos/examples/userInfo">
                <h2>社員情報入力</h2>
            </a>
            <p>氏名のフリガナ自動入力、郵便番号のマスク入力、日付や数値のドロップダウン入力などの機能を備えた、社員情報入力画面を作成する方法を紹介します。</p>
        </div>
        <div class="middle-center card2">
            <div class="img-container">
                <a href="/inputmanjs/demos/examples/creditCard">
                    <img class="referenceImage" src="/inputmanjs/demos/ja/images/examples_creditCard.png" />
                </a>
            </div>
            <a href="/inputmanjs/demos/examples/creditCard">
                <h2>クレジットカード入力</h2>
            </a>
            <p>カード会社とカード番号書式の連動、名前の大文字英字への自動変換、有効期限の入力／表示書式などの機能を備えた、クレジットカード入力画面を作成する方法を紹介します。</p>
        </div>
        <div class="middle-center card2">
            <div class="img-container">
                <a href="/inputmanjs/demos/examples/order">
                    <img class="referenceImage" src="/inputmanjs/demos/ja/images/examples_order.png" />
                </a>
            </div>
            <a href="/inputmanjs/demos/examples/order">
                <h2>受注明細</h2>
            </a>
            <p>InputManJSの様々な入力コントロールとSpreadJSのスプレッドシートコントロールを使用して、マスター詳細形式の受注管理画面を作成する方法を紹介します。</p>
        </div>
    </div>
</div>