<template>
    <div >
        <gc-combobox 
            :items='products' 
            :exit-on-left-right-key='exitOnLeftRightKey'
            :exit-on-enter-key="exitOnEnterKey" /><br>
        <gc-combobox 
            :items='products' 
            :exit-on-left-right-key='exitOnLeftRightKey'
            :exit-on-enter-key="exitOnEnterKey" /><br>
        <gc-combobox 
            :items='products' 
            :exit-on-left-right-key='exitOnLeftRightKey'
            :exit-on-enter-key="exitOnEnterKey" /><br>
        
        <table class="sample">
            <tr>
                <th>矢印キーによるフォーカス移動</th>
                <td>
                    <select @change="exitOnLeftRightKeyChanged">
                        <option>なし</option>
                        <option>両方</option>
                        <option>左</option>
                        <option>右</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Enterキーによるフォーカス移動</th>
                <td>
                    <select @change="exitOnEnterKeyChanged">
                        <option>なし</option>
                        <option>両方</option>
                        <option>Enter</option>
                        <option>Shift+Enter</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            products: products,
            exitOnLeftRightKey: undefined,
            exitOnEnterKey: undefined,
        },
        methods: {
            exitOnLeftRightKeyChanged: function(e){
                this.exitOnLeftRightKey = ExitOnLeftRightKeys[e.target.selectedIndex]
            },
            exitOnEnterKeyChanged: function(e){
                this.exitOnEnterKey = ExitKeys[e.target.selectedIndex]
            }
        }
    });
    const ExitKeys = [
        InputMan.ExitKey.None,
        InputMan.ExitKey.Both,
        InputMan.ExitKey.Enter,
        InputMan.ExitKey.ShiftEnter
    ];
    const ExitOnLeftRightKeys = [
        InputMan.ExitOnLeftRightKey.None,
        InputMan.ExitOnLeftRightKey.Both,
        InputMan.ExitOnLeftRightKey.Left,
        InputMan.ExitOnLeftRightKey.Right
    ];
</script>
