<template>
    <div>
        <gc-listbox 
            :items='items'
            @checkedchanged='log("CheckedChanged")'
            @focusedchanged='log("FocusedChanged")'
            @itemclick='log("ItemClick")'
            @itemschanged='log("ItemsChanged")'
            @loadcomplete='log("LoadComplete")'
            @selectedchanged='log("SelectedChanged")' />
        <br><br>
        イベント<br>
        <textarea id="log" rows="10" cols="30"></textarea>
 
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';

    new Vue({
        el: '#app',
        data: function() {
            var res = {
                items: products,
            }
            return res;
        },
        methods: {
            log: function(message){
                var textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            }
        }
    });
</script>