<template>
    <div >
        <div class="flexbox">
            <div id="container1" ref="container1">
                <p>ドロップダウンが下に表示されます。</p>
                <gc-datetime 
                    :show-drop-down-button='true'
                    :drop-down-button-visible='dropDownButtonVisible'
                    :auto-drop-down='autoDropDown'
                    :container='container1'
                    ref='datetime' />
            </div>
            <div id="container2" ref="container2">
                <p>ドロップダウンが上に表示されます。</p>
                <gc-datetime 
                    :show-drop-down-button='true'
                    :drop-down-button-visible='dropDownButtonVisible'
                    :auto-drop-down='autoDropDown'
                    :container='container2'
                    ref='datetime2' />
            </div>
        </div>
        
        <table class="sample">
            <tr>
                <th>種類</th>
                <td>
                    <select v-model="pikerType">
                        <option value='datetime'>日付と時刻</option>
                        <option value='date'>日付</option>
                        <option value='time'>時刻</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>最小日付</th>
                <td>
                    <gc-datetime 
                        :show-drop-down-button='true'
                        :drop-down-config='{dropDownType: "calendar"}'
                        :display-format-pattern='"yyy/MM/dd"'
                        :format-pattern='"yyy/MM/dd"'
                        v-model="minDate" />
                </td>
            </tr>
            <tr>
                <th>最大日付</th>
                <td>
                    <gc-datetime 
                        :show-drop-down-button='true'
                        :drop-down-config='{dropDownType: "calendar"}'
                        :display-format-pattern='"yyy/MM/dd"'
                        :format-pattern='"yyy/MM/dd"'
                        v-model="maxDate" />
                </td>
            </tr>
            <tr>
                <th>分の間隔</th>
                <td>
                    <select v-model='minuteInterval'>
                        <option value="1">1分</option>
                        <option value="5">5分</option>
                        <option value="10">10分</option>
                        <option value="15">15分</option>
                        <option value="20">20分</option>
                        <option value="30">30分</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>秒の間隔</th>
                <td>
                    <select v-model='secondsInterval'>
                        <option value="1">1秒</option>
                        <option value="5">5秒</option>
                        <option value="10">10秒</option>
                        <option value="15">15秒</option>
                        <option value="20">20秒</option>
                        <option value="30">30秒</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>フォーカス時のドロップダウン操作</th>
                <td>
                    <label><input type="checkbox" v-model="autoDropDown">フォーカス時にドロップダウンを開く</label>
                </td>
            </tr>
            <tr>
                <th>コードによるドロップダウン操作</th>
                <td>
                    <button id="open" @click="showDropDown(true)">ドロップダウンを開く</button>
                    <button id="close" @click="showDropDown(false)">ドロップダウンを閉じる</button>
                </td>
            </tr>
            <tr>
                <th>ドロップダウンボタンの表示</th>
                <td>
                    <label><input type="checkbox" v-model="dropDownButtonVisible">ドロップダウンボタンを表示する</label>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data:{
            picker: undefined,
            picker2: undefined,
            container1: undefined,
            container2: undefined,
            minDate: null,
            maxDate: null,
            minuteInterval: InputMan.Interval.Default,
            secondsInterval: InputMan.Interval.Default,
            pikerType: InputMan.PickerType.DateTime,
            autoDropDown: false,
            dropDownButtonVisible: true
        },
        methods: {
            oninitialized: function(sender){
                
            },
            showDropDown: function(isShow){
                if(isShow){
                    this.gcDateTime.getDropDownWindow().open();
                }else{
                    this.gcDateTime.getDropDownWindow().close();
                }
            }
        },
        watch: {
            minDate: function(newVal){
                this.picker.setMinDate(newVal);
                this.picker2.setMinDate(newVal);
            },
            maxDate: function(newVal){
                this.picker.setMaxDate(newVal);
                this.picker2.setMaxDate(newVal);
            },
            minuteInterval: function(newVal){
                this.picker.setMinuteInterval(newVal);
                this.picker2.setMinuteInterval(newVal);
            },
            secondsInterval: function(newVal){
                this.picker.setSecondsInterval(newVal);
                this.picker2.setSecondsInterval(newVal);
            },
            pikerType: function(newVal){
                this.picker.setPickerType(newVal);
                this.picker2.setPickerType(newVal);
            }
        },
        mounted: function(){
            this.picker = this.$refs.datetime.getNestedIMControl().addDropDown(InputMan.DropDownButtonAlignment.RightSide, InputMan.DateDropDownType.Picker);
            this.picker2 = this.$refs.datetime2.getNestedIMControl().addDropDown(InputMan.DropDownButtonAlignment.RightSide, InputMan.DateDropDownType.Picker);
            this.container1 = this.$refs.container1;
            this.container2 = this.$refs.container2;
        }
    });
</script>