.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.flexbox > div {
    height: 350px;
    width: 300px;
    background-color: #f8f8f8;
}
#container2 > p {
    margin-top: 250px;
}
.gcim-calendar__outter-container table>tr>* {
    padding: 0px;
    border: 0px;
}