<template>
    <div>
        入力必須<br>
        <gc-number ref='gcNumber1' 
            :allow-delete-to-null='true' 
            :value='null' /><br><br>
        正数のみ入力可<br>
        <gc-number ref='gcNumber2' 
            :min-value='1'
            :max-value='100'
            :max-min-behavior='maxMinBehavior'
            :value='-1' /><br><br>
        偶数のみ入力可<br>
        <gc-number ref='gcNumber3' :value='1' /><br><br>
        すべての検証規則<br>
        <gc-number ref='gcNumber4' 
            :allow-delete-to-null='true'
            :min-value='1'
            :max-value='10000'
            :max-min-behavior='maxMinBehavior'
            :value='null' /><br><br>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: {
            maxMinBehavior: InputMan.MaxMinBehavior.Keep
        },
        mounted: function(){
            const validator = new InputMan.GcValidator({
                items: [
                    // 入力必須
                    {
                        control: this.$refs.gcNumber1.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: '数値を入力してください'
                            }
                        ]
                    },
                    // 正数のみ入力可
                    {
                        control: this.$refs.gcNumber2.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.OutOfRange,
                                failMessage: '正数を入力してください'
                            }
                        ]
                    },
                    // 偶数のみ入力可
                    {
                        control: this.$refs.gcNumber3.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: (control) => {
                                    return control.getValue() % 2 == 0;
                                },
                                failMessage: (control, context) => {
                                    return '偶数を入力してください。奇数' + control.getValue() + 'が入力されました。';
                                }
                            }
                        ]
                    },
                    // すべての検証規則
                    {
                        control: this.$refs.gcNumber4.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required,
                                failMessage: '数値を入力してください'
                            },
                            {
                                rule: InputMan.ValidateType.OutOfRange,
                                failMessage: '正数を入力してください'
                            },
                            {
                                rule: (control) => {
                                    return control.getValue() % 2 == 0;
                                },
                                failMessage: (control, context) => {
                                    return '偶数を入力してください。奇数' + control.getValue() + 'が入力されました。';
                                }
                            }
                        ]
                    }
                ],
                defaultNotify: {
                    tip: true
                }
            });
            validator.validate();
        }
    });
</script>