<template>
    <table class="outer-table">
        <tr>
            <th colspan="2">受注明細</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="inner-table">
                    <tr>
                        <th>受注コード</th>
                        <td><gc-number 
                            :min-value='1001' 
                            :max-value='1120' 
                            :show-spin-button='true'
                            @onspinup='update'
                            @onspindown='update'
                            @oninitialized='controls["受注コード"]=arguments[0]' /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>担当社員</th>
            <th>出荷先</th>
        </tr>
        <tr>
            <td>
                <table class="inner-table">
                    <tr>
                        <th>社員コード</th>
                        <td><gc-number @oninitialized='controls["社員コード"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>フリガナ</th>
                        <td><gc-text-box @oninitialized='controls["フリガナ"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>氏名</th>
                        <td><gc-text-box @oninitialized='controls["氏名"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>在籍支社</th>
                        <td><gc-mask @oninitialized='controls["在籍支社"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>部署名</th>
                        <td><gc-mask @oninitialized='controls["部署名"]=arguments[0]' /></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="inner-table">
                    <tr>
                        <th>出荷先名</th>
                        <td><gc-text-box style="width:300px;" @oninitialized='controls["出荷先名"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>郵便番号</th>
                        <td><gc-mask @oninitialized='controls["郵便番号"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td><gc-text-box style="width:300px;" @oninitialized='controls["住所"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>受注日</th>
                        <td><gc-datetime 
                            format-pattern='yyy/M/d' display-format-pattern='gggE年M月d日' 
                            @oninitialized='controls["受注日"]=arguments[0]' /></td>
                    </tr>
                    <tr>
                        <th>出荷日</th>
                        <td><gc-datetime 
                            format-pattern='yyy/M/d' display-format-pattern='gggE年M月d日'
                            @oninitialized='controls["出荷日"]=arguments[0]' /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th colspan="2">商品一覧</th>
        </tr>
        <tr>
            <td colspan="2">
                <div id="ss" style="height:200px;width:700px;"></div>
            </td>
        </tr>
        <tr>
            <th colspan="2">合計</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="inner-table">
                    <tr>
                        <th>合計</th>
                        <td><gc-number 
                            display-format-digit='##,##0' display-positive-suffix='円'
                            @oninitialized='controls["合計"]=arguments[0]' /></td>
                        <th>税額</th>
                        <td><gc-number 
                            display-format-digit='##,##0' display-positive-suffix='円'
                            @oninitialized='controls["税額"]=arguments[0]' /></td>
                        <th>総額</th>
                        <td><gc-number 
                            display-format-digit='##,##0' display-positive-suffix='円'
                            @oninitialized='controls["総額"]=arguments[0]' /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import '@grapecity/spread-sheets/styles/gc.spread.sheets.css';
    import "./styles.css";
    import './license';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import { Spread } from '@grapecity/spread-sheets';
    import  受注  from './data';
    
    new Vue({
        el: '#app',
        data:{
            sheet: undefined,
            textFields: ['フリガナ', '氏名', '出荷先名', '住所'],
            controls: {
                '受注コード': undefined,
                '社員コード': undefined,
                'フリガナ': undefined,
                '氏名': undefined,
                '在籍支社': undefined,
                '部署名': undefined,
                '出荷先名': undefined,
                '郵便番号': undefined,
                '住所': undefined,
                '受注日': undefined,
                '出荷日': undefined,
                '合計': undefined,
                '税額': undefined,
                '総額': undefined,
            }
        },
        methods: {
            update: function() {
                var index = this.controls.受注コード.value - 1001;
                for (var fieldName in this.controls) {
                    if (this.textFields.indexOf(fieldName) >= 0) {
                        this.controls[fieldName].text = 受注[index][fieldName];
                    } else {
                        this.controls[fieldName].value = 受注[index][fieldName];
                    }
                }
                this.sheet.autoGenerateColumns = true;
                this.sheet.setDataSource(受注[index].受注明細);
                this.sheet.setColumnWidth(0, 100);
                this.sheet.setColumnWidth(1, 220);
                this.sheet.setColumnWidth(2, 100);
                this.sheet.setColumnWidth(3, 120);
            }
        },
        mounted: function(){
            const spread = new Spread.Sheets.Workbook(document.getElementById('ss'), { sheetCount: 1 });
            const sheet = spread.getSheet(0);
            console.log(受注);
            this.sheet = sheet;
            this.update();
        }
    });
    

</script>