<template>
    <div>
        <gc-multiline-textbox
            @oneditstatuschanged="log('onEditStatusChanged')" 
            @onfocusout="log('onFocusOut')" 
            @onimereadingstringoutput="log('onIMEReadingStringOutput')" 
            @oninput="log('onInput')" 
            @oninvalidinput="log('onInvalidInput')" 
            @onkeydown="log('onKeyDown')" 
            @onkeyexit="log('onKeyExit')" 
            @onkeyup="log('onKeyUp')" 
            @ontextchanged="log('onTextChanged')"
            @oninitialized='oninitialized' />
        <br><br>
        イベント<br>
        <textarea id="log" rows="10" cols="30"></textarea>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
  
    var app = new Vue({
        el: '#app',
        methods: {
            log: function(message) {
                const textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            },
            oninitialized: function(sender){
                 sender.onSyncValueToOriginalInput((sender, eArgs) => {
                    this.log('onSyncValueToOriginalInput');
                });
            }
        }
    });
</script>