
<gc-number
    [showClearButton]="showClearButton"
    [value]="1234"
    [allowDeleteToNull]="false">
</gc-number>
<table class="sample">
    <tr>
        <th>クリアボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="showClearButton">表示する</label>
        </td>
    </tr>
</table>