<template>
    <div class="flexbox">
        <div>
            デフォルト(スタイルの変更なし)
            <gc-calculator class="calculator1" />
        </div>
        <div>
            電卓ボタンのスタイルを変更する
            <gc-calculator class="calculator2" />
        </div>
        <div>
            電卓のサイズと背景色、結果パネルを変更する
            <gc-calculator class="calculator3" />
        </div>
        <div>
            ポップアップ電卓(サイズを小さくして表示)<br/>
            <gc-number :show-calculator-as-popup='true' calculator-button-position='leftside' class="has_popup" /><br/>
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import {InputMan} from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {}
    });
    
</script>

<style>
    body {
        margin-bottom: 24px;
    }
</style>
