/* 2つ目の電卓ボタンのスタイル */
.calculator2 .gcim__calculator .calculator-btn:hover {
    background-color:yellow
}
.calculator2 .gcim__calculator .calculator-btn:active {
    background-color: red;
    font-weight: bold;
}
.calculator2 .calculator-btn[data-key-type="Memory"] {
    background-color: gray;
}
.calculator2 .calculator-btn[data-key-type="Math"] {
    background-color: lightgrey;
}
.calculator2 .calculator-btn[data-key-type="Edit"] {
    background-color: pink;
}
.calculator2 .calculator-btn[data-key-type="Numeric"] {
    background-color: white;
}
.calculator2 .calculator-btn[data-key-type="Reset"] {
    background-color: magenta;
}

.calculator2 .gcim__calculator .calculator-btn[data-key="BS"] {
    font-size: 20px;
}

/* 3つ目の電卓のスタイル */
.calculator3 .gcim__calculator {
    width: 300px;
    height: 300px;
    background-color: black;
}
.calculator3 .gcim__calculator .calculator-output-panel{
    height: 50px;
}
.calculator3 .gcim__calculator .calculator-output {
    color: red;
    font-size: 30px;
    text-align: center;
}


/* ポップアップ電卓のスタイル */
.has_popup .gcim__calculator {
    width: 300px;
    height: 300px;
}