<div id="container" (click)="containerClickHandler($event)">
    <div class="flexbox">
        <div>
            通常の状態<br>
            <gc-combo-box [items]="orders" [displayMemberPath]="'product'" [valueMemberPath]="'product'"
                [dropDownWidth]="'auto'" [footerTemplate]="'商品を選択してください'" [selectedIndex]="0">
                <gc-combo-box-column [name]="'id'" [label]="'商品コード'" [width]="80"></gc-combo-box-column>
                <gc-combo-box-column [name]="'product'" [label]="'商品名'" [width]="200"></gc-combo-box-column>
            </gc-combo-box>
        </div>
        <div>
            無効な状態<br>
            <gc-combo-box [items]="orders" [displayMemberPath]="'product'" [valueMemberPath]="'product'"
                [dropDownWidth]="'auto'" [footerTemplate]="'商品を選択してください'" [selectedIndex]="0" [enabled]="false">
                <gc-combo-box-column [name]="'id'" [label]="'商品コード'" [width]="80"></gc-combo-box-column>
                <gc-combo-box-column [name]="'product'" [label]="'商品名'" [width]="200"></gc-combo-box-column>
            </gc-combo-box>
        </div>
        <div>
            ウォーターマーク<br>
            <gc-combo-box [items]="orders" [displayMemberPath]="'product'" [valueMemberPath]="'product'"
                [dropDownWidth]="'auto'" [footerTemplate]="'商品を選択してください'" [watermarkDisplayNullText]="'商品'" [watermarkNullText]="'商品を選択'">
                <gc-combo-box-column [name]="'id'" [label]="'商品コード'" [width]="80"></gc-combo-box-column>
                <gc-combo-box-column [name]="'product'" [label]="'商品名'" [width]="200"></gc-combo-box-column>
            </gc-combo-box>
        </div>
    </div>
    <div class="peoperty-header">コントロール全般のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim,width">コントロールの幅</label><br>
        <label><input type="checkbox" value=".gcim,height">コントロールの高さ</label><br>
        <label><input type="checkbox" value=".gcim,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim,borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value=".gcim,borderStyle">境界線のスタイル</label><br>
        <label><input type="checkbox" value=".gcim,borderRadius">境界線の角丸</label><br>
        <label><input type="checkbox" value=".gcim__input,cursor">カーソルの形</label><br>
        <label><input type="checkbox" value=".gcim,boxShadow">コントロールの影</label><br>
    </div>
    <div class="peoperty-header">テキストのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__input,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__input,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__input,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__input,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim__input,textAlign">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim__input,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">コントロール無効時のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__input:disabled,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim__input:disabled,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__input:disabled,cursor">カーソルの形</label><br>
    </div>
    <div class="peoperty-header">フォーカス時のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim_focused,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_focused,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_focused,color">文字色</label><br>
    </div>
    <div class="peoperty-header">ウォーターマークのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim_watermark_null,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_watermark_null,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_watermark_null,color">文字色</label><br>
    </div>
    <div class="peoperty-header">ウォーターマークのフォーカス時のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,color">文字色</label><br>
    </div>
    <div class="peoperty-header">ドロップダウンリストの全般のスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderStyle">境界線のスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox,borderRadius">境界線の角丸</label><br>
        <label><input type="checkbox" value=".gcim__listbox>.viewport,cursor">カーソルの形</label><br>
        <label><input type="checkbox" value=".gcim__listbox,boxShadow">コントロールの影</label><br>
    </div>
    <div class="peoperty-header">ドロップダウンリストのテキストのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value="$spec:text_style_align">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim__listbox,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">ドロップダウンリストのヘッダのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox .column-header,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim__listbox .column-header,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">ドロップダウンリストのフッタのスタイル</div>
    <div class="peoperty-panel">
        <label><input type="checkbox" value=".gcim__listbox .footer_style,color">文字色</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,textAlign">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim__listbox .footer_style,textShadow">テキストの影</label><br>
    </div>
    <button (click)="copyStyle()">CSSコードをコピー</button><br>
    <textarea #style cols="60" rows="10">{{cssText}}</textarea>
</div>