﻿<div class="flexbox">
    <div>通常のスタイル
        <gc-function-key  id="functionkey1" (onActived)="onActived($event)">
            <gc-function-key-info [key]="InputMan.FunctionKey.F1" description="メニュー画面へ"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F2" description="更新"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F3" description="削除"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F4" description="印刷"></gc-function-key-info>
        </gc-function-key>
    </div>
    <div>スタイルを変更する
        <gc-function-key  id="functionkey2" (onActived)="onActived($event)">
            <gc-function-key-info [key]="InputMan.FunctionKey.F1" description="メニュー画面へ"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F2" description="更新"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F3" description="削除"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F4" description="印刷"></gc-function-key-info>
        </gc-function-key>
    </div>
</div>