<template>
    <div >
        <gc-combobox 
            :key="Date.now()"
            :show-header="showHeader"
            :allow-column-resize='allowColumnResize'
            :columns='columns'
            :items='orders' 
            display-member-path='product'
            value-member-path='product'
            drop-down-width='auto' />
        <table class="sample">
            <tr>
                <th>ヘッダ</th>
                <td>
                    <label><input type="checkbox" v-model="showHeader">ヘッダを表示</label>
                </td>
            </tr>
            <tr>
                <th>ソート</th>
                <td>
                    <label><input type="checkbox" checked @change="clickSortChanged">ヘッダをクリックしてソート</label>
                </td>
            </tr>
            <tr>
                <th>リサイズ</th>
                <td>
                    <label><input type="checkbox" v-model="allowColumnResize">列のリサイズを許可</label>
                </td>
            </tr>
            <tr>
                <th>列幅の自動調整</th>
                <td>
                    <label><input type="checkbox" @change="autoWidthChanged">列幅を自動調整する</label>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import orders from './data';
    
    new Vue({
        el: '#app',
        data: {
            orders: orders,
            showHeader: true,
            allowColumnResize: true,
            columns: [
                { name: 'id', label: '商品コード', width: 80, clickSort: true },
                { name: 'product', label: '商品名', width: 200, clickSort: true },
                { name: 'date', label: '受注日', width: 120, clickSort: true },
                { name: 'price', label: '単価', width: 80, clickSort: true },
                { name: 'amount', label: '数量', width: 80, clickSort: true },
            ]
        },
        methods: {
            clickSortChanged: function(e){
                this.columns.forEach(col => col.clickSort = e.target.checked);
                this.$forceUpdate();
            },
            autoWidthChanged: function(e){
                var widths = [80, 200, 120, 80, 80];
                this.columns.forEach((col,index) => col.width = e.target.checked ? "auto" : widths[index]);
                this.$forceUpdate();
            }
        }
    });
</script>
<style>
    body {
        min-height: 220px;
    }
</style>