<template>
    <gc-listbox 
        :width='100'
        :virtual-mode='true'
        :load='load' />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import {loadData} from './data';

    new Vue({
        el: '#app',
        data: function() {
            var res = {
                load: function(context) {
                    loadData(
                        { pageNumber: context.pageNumber, pageSize: 20 }, 
                        (items) => context.success(items))
                },
            }
            return res;
        }
    });
</script>