<template>
    <div>
        <table @click="handleAction">
            <tr>
                <td style="min-width: 300px;">
                    <table>
                        <tr>
                            <td>商品コード</td>
                            <td><gc-mask :format-pattern='formatPattern' :enabled='isEnabled' v-model='商品コード' /></td>
                        </tr>
                        <tr>
                            <td>商品名</td>
                            <td><gc-text-box v-model='商品名' :enabled='isEnabled' /></td>
                        </tr>
                        <tr>
                            <td>分類</td>
                            <td><gc-combobox :items='category' :enabled='isEnabled' v-model='分類' /></td>
                        </tr>
                        <tr>
                            <td>価格</td>
                            <td><gc-number 
                                :display-positive-prefix='"$"'
                                :display-negative-prefix='"-$"'
                                :display-format-digit='"##,##0"'
                                :show-numeric-pad='true'
                                :enabled='isEnabled'
                                v-model='価格' /></td>
                        </tr>
                        <tr>
                            <td>発売日</td>
                            <td><gc-datetime 
                                :format-pattern='"yyy/M/d"'
                                :display-format-pattern='""'
                                :show-drop-down-button='true'
                                :drop-down-config='{dropDownType: "calendar"}'
                                :enabled='isEnabled'
                                v-model='発売日' /></td>
                        </tr>
                    </table><br>
                    <div id="editForm" style="display: block;">
                        <button name="edit">編集</button>
                        <button name="add">追加</button>
                        <button name="remove">削除</button>
                    </div>
                    <div id="commitForm" style="display: none;">
                        <button name="commit">確定</button>
                        <button name="cancel">キャンセル</button>
                    </div>
                    <div>
                        <button name="moveCurrentToFirst">&lt;&lt;</button>
                        <button name="moveCurrentToPrevious">&lt;</button>
                        <button name="moveCurrentToNext">&gt;</button>
                        <button name="moveCurrentToLast">&gt;&gt;</button>
                    </div>
                </td>
                <td>
                    <div id="grid" style="height: 15rem;"></div>
                </td>
            </tr>
        </table><br>
        <table style="table-layout: fixed; width: 100%;">
            <tr>
                <td>
                    <label>編集された項目：<div id="gridEdited" style="height: 6.5rem;"></div></label>
                </td>
                <td>
                    <label>追加された項目：<div id="gridAdded" style="height: 6.5rem;"></div></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>削除された項目：<div id="gridRemoved" style="height: 6.5rem;"></div></label>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import '@grapecity/wijmo.styles/wijmo.css';
    import './styles.css';
    import Vue from 'vue';
    import './license';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import { FlexGrid } from '@grapecity/wijmo.grid';
    import { CollectionView } from '@grapecity/wijmo';
    import {getProducts, categoryNames} from './data';
    
    new Vue({
        el: '#app',
        data: function() {
            return {
                grid: undefined,
                gridEdited: undefined,
                gridAdded: undefined,
                gridRemoved: undefined,
                cv: undefined,
                columns: [
                    { header: '商品コード', binding: '商品コード', width: 100 },
                    { header: '商品名', binding: '商品名', width: 200 },
                    { header: '分類', binding: '分類', width: 120 },
                    { header: '価格', binding: '価格', format: 'c', width: 80 },
                    { header: '発売日', binding: '発売日', width: 120 }
                ],
                formatPattern: '\\A\\D{3}',
                category: categoryNames,
                isEnabled: false,
                '商品コード': undefined,
                '商品名': undefined,
                '分類': undefined,
                '価格': undefined,
                '発売日': undefined,
            }
        },
        methods: {
            handleAction: function(e){
                let name = e.target.getAttribute('name');
                if(!name){
                    return;
                }
                this[name]();
            },
            
            update: function(e){
                this.columns.forEach(c => {
                    var f = c.binding;
                    var v = this.cv.currentItem[f];
                    if(f == '分類'){
                        v = categoryNames.indexOf(v);
                    }
                    this[f] = v;
                })
            },
            edit: function() {
                this.cv.editItem(this.cv.currentItem);
                this.setEnabled(true);
                this.switchForms();
            },
            add: function(){
                this.cv.addNew();
                this.setEnabled(true);
                this.switchForms();
            },
            remove: function(){
                this.cv.remove(this.cv.currentItem);
            },
            commit: function(){
                this.columns.forEach(c => {
                    var fieldName = c.binding;
                    this.cv.currentItem[fieldName] = fieldName == '分類' ? 
                    categoryNames[this[fieldName]] : this[fieldName];
                })
                this.cv.commitEdit();
                this.cv.commitNew();
                this.setEnabled(false);
                this.switchForms();
            },
            cancel: function(){
                this.cv.cancelEdit();
                this.cv.cancelNew();
                this.setEnabled(false);
                this.switchForms();
            },
            moveCurrentToFirst: function() {
                this.cv.moveCurrentToFirst();
            },
            moveCurrentToPrevious: function(){
                this.cv.moveCurrentToPrevious();
            },
            moveCurrentToNext: function(){
                this.cv.moveCurrentToNext();
            },
            moveCurrentToLast: function(){
                this.cv.moveCurrentToLast();
            },
            setEnabled: function(isEnabled) {
                this.isEnabled = isEnabled;
            },
            switchForms: function() {
                const editForm = document.getElementById('editForm');
                const commitForm = document.getElementById('commitForm');
                editForm.style.display = editForm.style.display == 'block' ? 'none' : 'block';
                commitForm.style.display = commitForm.style.display == 'block' ? 'none' : 'block';
            }
        },
        mounted: function(){
            var cv = new CollectionView(getProducts(), {
                trackChanges: true,
                currentChanged: () => this.update()
            });
            this.grid = new FlexGrid('#grid', {
                itemsSource: cv,
                isReadOnly: true,
                columns: [
                    { header: '商品コード', binding: '商品コード', width: 100 },
                    { header: '商品名', binding: '商品名', width: 200 },
                    { header: '分類', binding: '分類', width: 120 },
                    { header: '価格', binding: '価格', format: 'c', width: 80 },
                    { header: '発売日', binding: '発売日', width: 120 }
                ]
            });
            this.gridEdited = new FlexGrid('#gridEdited', {
                itemsSource: cv.itemsEdited,
                isReadOnly: true
            });
            this.gridAdded = new FlexGrid('#gridAdded', {
                itemsSource: cv.itemsAdded,
                isReadOnly: true
            });
            this.gridRemoved = new FlexGrid('#gridRemoved', {
                itemsSource: cv.itemsRemoved,
                isReadOnly: true
            });
            this.cv = cv;
            this.update();
        }
    });
</script>

