<div>
    InputManJSコントロール：
    <form id="imfm" action="" target="_parent" #f="ngForm" (ngSubmit)="reload()">
        <div class="flexbox">
            <div>
                テキストコントロール<br>
                <gc-text-box></gc-text-box>
            </div>
            <div>
                マスクコントロール<br>
                <gc-mask [formatPattern]='"〒\\D{3}-\\D{4}"'></gc-mask>
            </div>
            <div>
                数値コントロール<br>
                <gc-number></gc-number>
            </div>
            <div>
                日付時刻コントロール<br>
                <gc-datetime></gc-datetime>
            </div>
        </div>
    </form>

    Wijmoコントロール：
    <form id="wjfm">
        InputNumber<br>
        <div id="theNumber" name="number"></div>
    </form>

    <br>HTML入力要素：
    <form id="htmlfm">
        <input id="input">
    </form>

    <form id="op">
        <table class="sample">
            <tr>
                <th>保存するタイミング</th>
                <td>
                    <label><input type="radio" id="onReload" value="0" name="saveMode" checked (change)="saveMode='saveonrefresh'">ブラウザ更新時に保存する</label>
                    <label><input type="radio" id="onSubmit" value="1" name="saveMode" (change)="saveMode='saveonsubmit'">データ送信時にも保存する</label>
                </td>
            </tr>
            <tr>
                <th>データの保存先</th>
                <td>
                    <label><input type="radio" id="local" value="0" name="storageMode" checked (change)="storageMode='localstorage'">ローカルストレージ</label>
                    <label><input type="radio" id="session" value="1" name="storageMode" (change)="storageMode='sessionstorage'">セッションストレージ</label>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <button type="button" (click)="reload()">ブラウザを更新する</button>
    <input type="submit" form="imfm" value="フォームデータを送信する">
</div>