<gc-datetime [showDropDownButton]="showDropDownButton" [dropDownConfig]="dropDownConfig" [value]="value"
    [minDate]="minDate" [maxDate]="maxDate" [maxMinBehavior]="maxMinBehavior" (onInitialized)="onInitialized($event)"
    [acceptsCrlf]="acceptsCrlf" [maxMinBehavior]="maxMinBehavior"
    (onInvalidInput)="onInvalidInput()" (onInvalidValue)="onInvalidValue()" (onInvalidRange)="onInvalidRange()"></gc-datetime>（2018/1/1
00:00:00～2018/12/31 23:59:59）
<table class="sample">
    <tr>
        <th>範囲外値の制御方法</th>
        <td>
            <select (change)="maxMinBehavior=maxMinBehaviors[$event.target.selectedIndex]">
                <option>最大値か最小値の近い方に設定</option>
                <option>値を削除</option>
                <option selected>変更前の値に戻す</option>
                <option>最後の入力をキャンセルする</option>
                <option>最後に入力された現在値を保持</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>リテラル文字列を含まない値</th>
        <td>
            <gc-text-box [(text)]="rawValue"></gc-text-box>
            <button id='getValue' (click)="getValue()">値の取得</button>
            <button id='setValue' (click)="setValue()">値の設定</button>
        </td>
    </tr>
    <tr>
        <th>改行コードの扱い</th>
        <td>
            <select id="setAcceptsCrlf" (change)="acceptsCrlf=crLfModes[$event.target.selectedIndex]">
                <option>そのまま使用</option>
                <option>すべての改行コードを削除</option>
                <option>改行コード以降の文字列を切り取り</option>
            </select>
        </td>
    </tr>
</table>