<template>
    <div>
        テキストコントロール<br>
        <gc-text-box :text="textValue"></gc-text-box><br><br>
        複数行テキストコントロール<br>
        <gc-multiline-textbox :text="textValue"></gc-multiline-textbox><br><br>
        マスクコントロール<br>
        <gc-mask :value="maskValue" :format-pattern="maskFormatPattern"></gc-mask><br><br>
        日付時刻コントロール<br>
        <gc-datetime :value="dateValue"></gc-datetime><br><br>
        数値コントロール<br>
        <gc-number :value="numberValue"></gc-number><br><br>
        カレンダーコントロール<br>
        <gc-calendar :selected-date="dateValue" :focus-date="dateValue"></gc-calendar><br><br>
        コンボコントロール<br>
        <gc-combobox :items="listItems" :selected-index="selectedListIndex"></gc-combobox><br><br>
        リストコントロール<br>
        <gc-listbox :items="listItems" :selected-index="selectedListIndex"></gc-listbox>
    </div>
</template>

<script>
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    
    new Vue({
        el: '#app',
        data: {
            textValue: 'テキスト',
            maskValue: '9813205',
            maskFormatPattern: '〒\\D{3}-\\D{4}',
            dateValue: new Date(2020, 0, 1),
            numberValue: 1,
            listItems: ['項目1', '項目2', '項目3', '項目4', '項目5'],
            selectedListIndex: 0
        }
    });
</script>