<table class="form">
    <tr>
        <th colspan="2">社員番号</th>
        <td>
            <gc-number [(value)]="idControlValue" [formatDigit]="'00000'" [displayFormatDigit]="'00000'"
                [showNumericPad]="true" [exitOnLeftRightKey]="idExitOnLeftRightKey" [exitOnEnterKey]="idExitOnEnterKey">
            </gc-number>
        </td>
    </tr>
    <tr>
        <th rowspan="2">氏名</th>
        <th>漢字</th>
        <td>
            <gc-text-box [(text)]="fullnameControlValue" [imeReadingStringKanaMode]="fullnameIMEReadingStringKanaMode"
                [exitOnLeftRightKey]="fullnameExitOnLeftRightKey" [exitOnEnterKey]="fullnameExitKey" (onIMEReadingStringOutput)="updateIMEReadingString($event)"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>フリガナ</th>
        <td>
            <gc-text-box [(text)]="kanaControlValue" [exitOnLeftRightKey]="kanaExitOnLeftRightKey" [exitOnEnterKey]="kanaExitOnEnterKey"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th rowspan="2">自宅住所</th>
        <th>郵便番号</th>
        <td><gc-mask [formatPattern]="'〒\\D{3}-\\D{4}'" [exitOnLastChar]="true" [exitOnLeftRightKey]="postalExitOnLeftRightKey" [exitOnEnterKey]="postalExitOnEnterKey" [(value)]="postalControlValue"></gc-mask></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><gc-text-box [className]="'wide-input'" [exitOnLeftRightKey]="addressExitOnLeftRightKey" [exitOnEnterKey]="addressExitOnEnterKey" [(text)]="addressControlValue"></gc-text-box></td>
    </tr>
    <tr>
        <th colspan="2">電話番号</th>
        <td><gc-mask [formatPattern]="'\\D{2,4}-\\D{2,4}-\\D{4}'" [exitOnLastChar]="true" [exitOnLeftRightKey]="telExitOnLeftRightKey" [exitOnEnterKey]="telExitOnEnterKey" [(value)]="telControlValue"></gc-mask></td>
    </tr>
    <tr>
        <th colspan="2">生年月日</th>
        <td><gc-datetime [formatPattern]="'yyy/M/d'" [displayFormatPattern]="''" [exitOnLastChar]="true" [exitOnLeftRightKey]="birthdayExitOnLeftRightKey" [exitOnEnterKey]="birthdayExitOnEnterKey" [(value)]="birthdayControlValue" [showDropDownButton]="true" [dropDownConfig]="birthdayDropDownConfig"></gc-datetime></td>
    </tr>
    <tr>
        <th rowspan="2">所属部署</th>
        <th>部署名</th>
        <td><gc-combo-box [items]="departmentItems" [exitOnLeftRightKey]="departmentExitOnLeftRightKey" [exitOnEnterKey]="departmentlExitOnEnterKey" (onInitialized)="onInitialized($event)" [(selectedValue)]="departmentControlValue"></gc-combo-box></td>
    </tr>
    <tr>
        <th>内線</th>
        <td><gc-number [formatDigit]="'000'" [displayFormatDigit]="'000'" [showNumericPad]="true" [exitOnLeftRightKey]="departmentExitOnLeftRightKey" [exitOnEnterKey]="departmentlExitOnEnterKey" [(value)]="extensionControlValue"></gc-number></td>
    </tr>
    <tr>
        <th colspan="2">通信欄</th>
        <td><gc-multiline-textbox [(text)]="noteControlValue" [className]="'wide-input'"></gc-multiline-textbox></td>
    </tr>
</table><br>
<button id="getData" (click)="getJSONString()">JSONデータを取得</button><br>
<textarea id="data" cols="60" rows="10">{{componentJSONStr}}</textarea>