
    <gc-combo-box tabindex="0" [items]="data" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-combo-box><br>
    <gc-combo-box tabindex="1" [items]="data" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-combo-box><br>
    <gc-combo-box tabindex="2" [items]="data" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-combo-box><br>
    
    <table class="sample">
        <tr>
            <th>矢印キーによるフォーカス移動</th>
            <td>
                <select (change)="exitOnLeftRightKey=ExitOnLeftRightKeys[$event.target.selectedIndex]">
                    <option>なし</option>
                    <option>両方</option>
                    <option>左</option>
                    <option>右</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Enterキーによるフォーカス移動</th>
            <td>
                <select (change)="exitOnEnterKey=ExitKeys[$event.target.selectedIndex]">
                    <option>なし</option>
                    <option>両方</option>
                    <option>Enter</option>
                    <option>Shift+Enter</option>
                </select>
            </td>
        </tr>
    </table>
