
    <div class="flexbox">
        <div>
            名前<br>
            <gc-text-box (onInitialized)="initGcTextBoxDropDown($event)"></gc-text-box>
        </div>
        <div>
            電話番号<br>
            <gc-mask [formatPattern]="'\\D{3}-\\D{4}-\\D{4}'" (onInitialized)="initGcMaskDropDown($event)"></gc-mask>
        </div>
    </div>

    
