<gc-mask [formatPattern]="'〒\\D{3}-\\D{4}'" [(value)]="value" [acceptsCrlf]="acceptsCrlf"></gc-mask>
<table class="sample">
    <tr>
        <th>リテラル文字列を含まない値</th>
        <td>
            <gc-text-box [(text)]="inputText"></gc-text-box>
            <button id="getValueBtn" (click)="inputText=value">値の取得</button>
            <button id="setValueBtn" (click)="value=inputText">値の設定</button>
        </td>
    </tr>
    <tr>
        <th>改行コードの扱い</th>
        <td>
            <select id="setAcceptsCrlf" (change)="acceptsCrlf=crLfModes[$event.target.selectedIndex]">
                <option>そのまま使用</option>
                <option>すべての改行コードを削除</option>
                <option>改行コード以降の文字列を切り取り</option>
            </select>
        </td>
    </tr>
</table>