<template>
    <div>
        <label>漢字入力: <gc-multiline-textbox
                            :ime-reading-string-append="imeReadingStringAppend" 
                            :ime-reading-string-kana-mode="imeReadingStringKanaMode"
                            v-model="text" 
                            @onimereadingstringoutput="imeReadingStringOutput" /></label><br>
        <p>ふりがな: <span>{{readingString}}</span></p>
        <button @click="clearText">クリア</button>

        <table class="sample">
            <tr>
                <th>ふりがなの文字種</th>
                <td>
                    <select v-model="imeReadingStringKanaMode">
                        <option value="katakanahalf">半角カタカナ</option>
                        <option value="katakana">全角カタカナ</option>
                        <option value="hiragana">ひらがな</option>
                    </select>
                </td>
            </tr>
        </table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    //import './styles.css';

    var app = new Vue({
        el: '#app',
        data: {
            readingString: "",
            
            text:"",
            imeReadingStringAppend: false,
            imeReadingStringKanaMode: InputMan.KanaMode.KatakanaHalf
        },
        methods: {
            imeReadingStringOutput: function(sender, arg) {
                this.readingString = arg.readingString;
            },

            clearText: function() {
                this.readingString = "";
                this.text = "";
            }
        }
    });
</script>