<div class="flexbox">
    <div id="container1" #container1>
        <p>ドロップダウンが下に表示されます。</p>
        <gc-number (onInitialized)="gcNumber1=$event" [displayFormatDigit]="'##,##0'" [displayPositivePrefix]="'税込 '"
            [displayNegativePrefix]="'税込 ▲'" [displayPositiveSuffix]="'円'" [displayNegativeSuffix]="'円'"
            [formatDigit]="'#####'" [positivePrefix]="'$'" [negativePrefix]="'-$'" [positiveSuffix]="'（税込）'"
            [negativeSuffix]="'（税込）'" [showNumericPad]="true" [autoDropDown]="autoDropDown"
            [dropDownButtonVisible]="dropDownButtonVisible" [container]="container1"></gc-number>
    </div>
    <div id="container2" #container2>
        <p>ドロップダウンが上に表示されます。</p>
        <gc-number (onInitialized)="gcNumber2=$event" [displayFormatDigit]="'##,##0'" [displayPositivePrefix]="'税込 '"
            [displayNegativePrefix]="'税込 ▲'" [displayPositiveSuffix]="'円'" [displayNegativeSuffix]="'円'"
            [formatDigit]="'#####'" [positivePrefix]="'$'" [negativePrefix]="'-$'" [positiveSuffix]="'（税込）'"
            [negativeSuffix]="'（税込）'" [showNumericPad]="true" [autoDropDown]="autoDropDown"
            [dropDownButtonVisible]="dropDownButtonVisible" [container]="container2"></gc-number>
    </div>
</div>
<table class="sample">
    <tr>
        <th>フォーカス時のドロップダウン操作</th>
        <td>
            <label><input type="checkbox" id="openOnFocus"
                    (change)="autoDropDown=$event.target.checked">フォーカス時にドロップダウンを開く</label>
        </td>
    </tr>
    <tr>
        <th>コードによるドロップダウン操作</th>
        <td>
            <button id="open" (click)="toggleDropDown(true)">ドロップダウンを開く</button>
            <button id="close" (click)="toggleDropDown(false)">ドロップダウンを閉じる</button>
        </td>
    </tr>
    <tr>
        <th>ドロップダウンボタンの表示</th>
        <td>
            <label><input type="checkbox" id="setDropDownButtonVisible" checked
                    (change)="dropDownButtonVisible=$event.target.checked">ドロップダウンボタンを表示する</label>
        </td>
    </tr>
</table>