
<gc-datetime 
    [autoScale]="autoScale"
    [minScaleFactor]="minScaleFactor"
    displayFormatPattern="yyyy年MM月dd日 HH時mm分ss秒"
    formatPattern="yyyy年MM月dd日 HH時mm分ss秒" >
</gc-datetime>
<br><br>
<button (click)='clearText()'>テキストクリア</button>
<table class="sample">
    <tr>
        <th>長体表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="autoScale">有効にする</label>
        </td>
    </tr>
    <tr>
        <th>最小倍率</th>
        <td>
            <input type="number" max="1.0" min="0.1" step="0.1" [(ngModel)]="minScaleFactor">
        </td>
    </tr>
</table>