/* コントロールのスタイル */
.gcim-calendar__outter-container {
    background-color: floralwhite;
}
  
/* ヘッダのスタイル */
.gcim-calendar__header {
    background-color: lightgreen;
}
  
/* 曜日タイトルのスタイル */
.gcim-calendar__month-body__corner-cell, .gcim-calendar__month-body__week-title {
    background-color: lightsteelblue;
}
  
/* 今日の日付ボタンのスタイル */
.gcim-calendar__today-button {
    color: green;
}
  
/* 週番号のスタイル */
.gcim-calendar__month-body__week-number {
    color: green;
}
  
/* 曜日のスタイル */
.gcim-calendar__weekday_sunday {
    color: red;
}
.gcim-calendar__weekday_monday {
    color: initial;
}
.gcim-calendar__weekday_tuesday {
    color: initial;
}
.gcim-calendar__weekday_wednesday {
    color: initial;
}
.gcim-calendar__weekday_thursday {
    color: initial;
}
.gcim-calendar__weekday_friday {
    color: initial;
}
.gcim-calendar__weekday_saturday {
    color: blue;
}
  
/* 休日のスタイル */
[calendar-holiday-type] {
    color: red;
}
  
/* 隣接日のスタイル */
.gcim-calendar__month-body__trailing-day {
    color: initial;
    opacity: 0.1;
}
  
/* 選択日のスタイル */
.gcim-calendar__month-body__selected-day {
    background-color: purple;
    color: white;
}
  
/* フォーカス日のスタイル */
.gcim-calendar__month-body__focusd-day {
    background-color: mediumpurple;
    color: white;
}
  
/* 六曜のスタイル */
.gcim-calendar__month-body__rokuyou {
    color: orange;
}
  
/* 今日のスタイル */
.gcim-calendar__month-body__today {
    border: solid 2px red;
}