<template>
    <div class="flexbox">
        <div>
            電卓コントロール
            <gc-calculator></gc-calculator><br/>
        </div>
        <div>
            ドロップダウン電卓<br>
            <gc-number :show-calculator-as-drop-down='true' calculator-button-position='rightside'></gc-number><br />
        </div>
        <div>
            ポップアップ電卓<br>
            <gc-number :show-calculator-as-popup='true' calculator-button-position='leftside'></gc-number><br />
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';

    let App = Vue.extend({
        name: 'app',
    });
    
    
    new Vue({ render: h => h(App) }).$mount('#app');

    
</script>

<style>
    body {
        margin-bottom: 24px;
    }
</style>
