<template>
    <div class="flexbox">
        <div>
            スピンボタン<br>
            <gc-number 
                :display-format-digit='"#0.00"'
                :display-positive-prefix='"重量 "'
                :display-positive-suffix='" kg"'
                :format-digit='"#0.00"'
                :positive-suffix='" kg"'
                :show-spin-button='true'
                :min-value= '0'
            />
        </div>
        <div>
            漢数字表記<br>
            <gc-number 
                :display-format-digit='"[DBNum1]G"'
                :display-positive-prefix='"税込 "'
                :display-negative-prefix='"税込 ▲"'
                :display-positive-suffix='" 円"'
                :display-negative-suffix='" 円"'
                :format-digit='"#,###,###"'
                :positive-prefix='"$"'
                :negative-prefix='"-$"'
                :positive-suffix='"（税込）"'
                :negative-suffix='"（税込）"'
                :max-value='9999999'
                :value='1234000'
            />
        </div>
        <div>
            ドロップダウン数値パッド<br>
            <gc-number 
                :display-format-digit='"##,##0"'
                :display-positive-prefix='"税込 "'
                :display-negative-prefix='"税込 ▲"'
                :display-positive-suffix='" 円"'
                :display-negative-suffix='" 円"'
                :format-digit='"#####"'
                :positive-prefix='"$"'
                :negative-prefix='"-$"'
                :positive-suffix='"（税込）"'
                :negative-suffix='"（税込）"'
                :show-numeric-pad='true'
            />
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
     import './styles.css';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            // 表示書式の設定
            displayFormatDigit: '##,##0',
            displayPositivePrefix: '税込 ',
            displayNegativePrefix: '税込 ▲',
            displayPositiveSuffix: '円',
            displayNegativeSuffix: '円',

            // 入力書式の設定
            formatDigit: '#####',
            positivePrefix: '$',
            negativePrefix: '-$',
            positiveSuffix: '',
            negativeSuffix: '',

            // 記号などの設定
            currencySymbol: '¥',
            decimalPoint: '.',
            separator: ',',
        }
    });
</script>