<template>
    <div>
        <gc-function-key @onactived="onActived" :key-repeat="keyRepeat" :show-tip="showTip" :handle-mouse="handleMouse">
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F1" description="F1キー"></gc-function-key-info>
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F3" description="F3キー"></gc-function-key-info>
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.Home" description="Home"></gc-function-key-info>
             <gc-function-key-info :function-key="GC.InputMan.FunctionKey.End" description="End"></gc-function-key-info>
        </gc-function-key>
        <table class="sample">
            <tr>
                <th>イベントの繰り返し</th>
                <td>
                    <label><input type="checkbox" v-model="keyRepeat">繰り返し実行する※1</label>
                </td>
            </tr>
            <tr>
                <th>ツールチップの表示</th>
                <td>
                    <label><input type="checkbox" v-model="showTip">表示する</label>
                </td>
            </tr>
            <tr>
                <th>マウスクリックの有効化</th>
                <td>
                    <label><input type="checkbox" v-model="handleMouse">有効化する</label>
                </td>
            </tr>
        </table>
        <br>
        
        <p>※1 ファンクションキー長押ししている時のみ、イベントの繰り返しは実行されます。</p>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';

    new Vue({
        el: '#app',
        data: {
            handleMouse: true,
            keyRepeat: true,
            showTip: true,
        },
        methods: {
            onActived: function(s, e){
                console.log(e.description + 'が押下されました。');
            }
        }
    });

    
</script>

