<template>
<div>
    <gc-mask 
        :format-pattern='"(AAA|BBB|CCC|DDD|EEE)"'
        :show-spin-button='true'
        :allow-spin='allowSpin'
        :spin-on-keys='spinOnKeys'
        :spin-wheel='spinWheel'
        />
    <table class="sample">
        <tr>
            <th>スピン機能</th>
            <td><label><input type="checkbox" v-model="allowSpin">有効にする</label></td>
        </tr>
        <tr>
            <th>上下矢印キーでのスピン操作</th>
            <td><label><input type="checkbox" v-model="spinOnKeys">有効にする</label></td>
        </tr>
        <tr>
            <th>マウスホイールでのスピン操作</th>
            <td><label><input type="checkbox" v-model="spinWheel">有効にする</label></td>
        </tr>
    </table>
</div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            allowSpin: true,
            spinOnKeys: true,
            spinWheel: true
        }
    });
</script>