<template>
    <gc-number 
        :watermark-display-null-text='"本体価格"'
        :watermark-display-zero-text='"0円です"'
        :watermark-null-text='"税抜きで入力してください"'
        :watermark-zero-text='"0円は無効です"'
        :value='null'
    />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import './styles.css';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
        }
    });
</script>