<div class="flexbox">
    <div>
        テキストコントロール<br>
        <gc-text-box id='textbox' text='テキスト'></gc-text-box>
    </div>
    <div>
        マスクコントロール<br>
        <gc-mask id='mask' [formatPattern]='"(北海道|青森県|岩手県|宮城県|秋田県|山形県|福島県|茨城県|栃木県|群馬県|埼玉県|千葉県|東京都|神奈川県|山梨県|長野県|新潟県|富山県|石川県|福井県|岐阜県|静岡県|愛知県|三重県|滋賀県|京都府|大阪府|兵庫県|奈良県|和歌山県|鳥取県|島根県|岡山県|広島県|山口県|徳島県|香川県|愛媛県|高知県|福岡県|佐賀県|長崎県|熊本県|大分県|宮崎県|鹿児島県|沖縄県)"' [showSpinButton]='true'></gc-mask>
    </div>
    <div>
        数値コントロール<br>
        <gc-number id='number' [value]='1' [showSpinButton]='true' [showNumericPad]='true'></gc-number>
    </div>
    <div>
        日付時刻コントロール<br>
        <gc-datetime id='datetime' [showSpinButton]='true' [showDropDownButton]='true' [dropDownConfig]='dropdown'></gc-datetime>
    </div>
    <div>
        カレンダーコントロール<br>
        <gc-calendar id='calendar'></gc-calendar>
    </div>
    <div>
        コンボコントロール<br>
        <gc-combo-box id='combo' [items]='items' [showSpinButton]='true'></gc-combo-box>
    </div>
    <div>
        標準の入力要素<br>
        <input id="text" value="テキスト">
    </div>
</div>
<gc-shortcut>
    <!-- GcTextBoxにショートカットキーを追加します。-->
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

    <!-- GcMaskにショートカットキーを追加します。-->
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.U' [action]='InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.D' [action]='InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
    <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

    <!-- GcNumberにショートカットキーを追加します。-->
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.R' [action]='InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.U' [action]='InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.D' [action]='InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.Z' [action]='InputMan.GcShortcutAction.ThreeZero'></gc-shortcut-info>
    <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

    <!-- GcDateTimeにショートカットキーを追加します。-->
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.R' [action]='InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.U' [action]='InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.D' [action]='InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.W' [action]='InputMan.GcShortcutAction.Now'></gc-shortcut-info>
    <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

    <!-- GcCalendarにショートカットキーを追加します。-->
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.W' [action]='InputMan.GcShortcutAction.Now'></gc-shortcut-info>
    <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

    <!-- GcComboBoxにショートカットキーを追加します。-->
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.R' [action]='InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.U' [action]='InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.D' [action]='InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
    <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

    <!-- input要素にショートカットキーを追加します。-->
    <gc-shortcut-info target='#text' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
    <gc-shortcut-info target='#text' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    <gc-shortcut-info target='#text' [shortcutKey]='InputMan.GcShortcutKey.V' [action]='showValue'></gc-shortcut-info>

</gc-shortcut>
<table class="sample">
    <tr>
        <th>キー</th>
        <th>アクション</th>
        <th>対象のコントロール</th>
    </tr>
    <tr>
        <td>V</td>
        <td>現在の値を表示します。これはカスタムアクションです。</td>
        <td>全コントロール</td>
    </tr>
    <tr>
        <td>P</td>
        <td>前のフィールドまたはコントロールにフォーカスを移動します。</td>
        <td>全コントロール</td>
    </tr>
    <tr>
        <td>N</td>
        <td>次のフィールドまたはコントロールにフォーカスを移動します。</td>
        <td>全コントロール</td>
    </tr>
    <tr>
        <td>C</td>
        <td>値をクリアします。</td>
        <td>標準入力要素以外の全コントロール</td>
    </tr>
    <tr>
        <td>R</td>
        <td>ドロップダウンを開きます。</td>
        <td>数値、日付時刻、コンボ</td>
    </tr>
    <tr>
        <td>U</td>
        <td>上方向のスピン操作を行います。</td>
        <td>マスク、数値、日付時刻、コンボ</td>
    </tr>
    <tr>
        <td>D</td>
        <td>下方向のスピン操作を行います。</td>
        <td>マスク、数値、日付時刻、コンボ</td>
    </tr>
    <tr>
        <td>Z</td>
        <td>現在のカーソル位置に000を挿入します。</td>
        <td>数値</td>
    </tr>
    <tr>
        <td>W</td>
        <td>現在の日時を設定します。</td>
        <td>日付時刻、カレンダー</td>
    </tr>
</table>