<template>
    <div>
        <gc-number
            :value='1000'
            :display-format-digit='displayFormatDigit'
            :display-positive-prefix='displayPositivePrefix'
            :display-negative-prefix='displayNegativePrefix'
            :display-positive-suffix='displayPositiveSuffix'
            :display-negative-suffix='displayNegativeSuffix'
            :format-digit='formatDigit'
            :positive-prefix='positivePrefix'
            :negative-prefix='negativePrefix'
            :positive-suffix='positiveSuffix'
            :negative-suffix='negativeSuffix'
            :currency-symbol='currencySymbol'
            :decimal-point='decimalPoint'
            :separator='separator'
            />
        <p>表示書式</p>
        <table class="sample" style="margin-top: -1rem;">
            <tr>
                <th>書式</th>
                <td>
                    <select v-model="displayFormatDigit">
                        <option>#####</option>
                        <option>00000</option>
                        <option>##,###</option>
                        <option>##,##0</option>
                        <option>##,##0.##</option>
                        <option>##,##0.00</option>
                    </select>
                </td>
                <th>通貨記号</th>
                <td><gc-text-box v-model="currencySymbol" /></td>
            </tr>
            <tr>
                <th>接頭書式[正数]</th>
                <td><gc-text-box v-model="displayPositivePrefix"></td>
                <th>接尾書式[正数]</th>
                <td><gc-text-box v-model="displayPositiveSuffix"></td>
            </tr>
            <tr>
                <th>接頭書式[負数]</th>
                <td><gc-text-box v-model="displayNegativePrefix"></td>
                <th>接尾書式[負数]</th>
                <td><gc-text-box v-model="displayNegativeSuffix"></td>
            </tr>
        </table>
        <p>入力書式</p>
        <table class="sample" style="margin-top: -1rem;">
            <tr>
                <th>書式</th>
                <td>
                    <select v-model="formatDigit">
                        <option>#####</option>
                        <option>00000</option>
                        <option>##,###</option>
                        <option>##,##0</option>
                        <option>##,##0.##</option>
                        <option>##,##0.00</option>
                    </select>
                </td>
                <th>通貨記号</th>
                <td><gc-text-box :readOnly='true' :text='"（表示書式と同様）"'></td>
            </tr>
            <tr>
                <th>接頭書式[正数]</th>
                <td><gc-text-box v-model="positivePrefix"></td>
                <th>接尾書式[正数]</th>
                <td><gc-text-box v-model="positiveSuffix"></td>
            </tr>
            <tr>
                <th>接頭書式[負数]</th>
                <td><gc-text-box v-model="negativePrefix"></td>
                <th>接尾書式[負数]</th>
                <td><gc-text-box v-model="negativeSuffix"></td>
            </tr>
        </table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            // 表示書式の設定
            displayFormatDigit: '##,##0',
            displayPositivePrefix: '税込 ',
            displayNegativePrefix: '税込 ▲',
            displayPositiveSuffix: '円',
            displayNegativeSuffix: '円',

            // 入力書式の設定
            formatDigit: '#####',
            positivePrefix: '$',
            negativePrefix: '-$',
            positiveSuffix: '',
            negativeSuffix: '',

            // 記号などの設定
            currencySymbol: '¥',
            decimalPoint: '.',
            separator: ',',
        }
    });
</script>