<gc-datetime [exitOnLastChar]="exitOnLastChar" [exitOnLeftRightKey]="exitOnLeftRightKey" [tabAction]="tabAction"
    [highlightText]="highlightText" [exitOnEnterKey]="exitOnEnterKey"></gc-datetime><br>
<gc-datetime [exitOnLastChar]="exitOnLastChar" [exitOnLeftRightKey]="exitOnLeftRightKey" [tabAction]="tabAction"
    [highlightText]="highlightText" [exitOnEnterKey]="exitOnEnterKey"></gc-datetime><br>
<gc-datetime [exitOnLastChar]="exitOnLastChar" [exitOnLeftRightKey]="exitOnLeftRightKey" [tabAction]="tabAction"
    [highlightText]="highlightText" [exitOnEnterKey]="exitOnEnterKey"></gc-datetime><br>


<table class="sample">
    <tr>
        <th>自動フォーカス移動</th>
        <td><label><input type="checkbox" (change)="exitOnLastChar=$event.target.checked">入力完了時に自動的に次のコントロールに移動する</label>
        </td>
    </tr>
    <tr>
        <th>矢印キーによるフォーカス移動</th>
        <td>
            <select (change)="exitOnLeftRightKey=exitOnLeftRightKeys[$event.target.selectedIndex]">
                <option>なし</option>
                <option>両方</option>
                <option>左</option>
                <option>右</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>フォーカスの移動先</th>
        <td>
            <select (change)="tabAction=tabActions[$event.target.selectedIndex]">
                <option>コントロール間を移動</option>
                <option>フィールド間を移動</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>フォーカス移動後の状態</th>
        <td>
            <select (change)="highlightText=highlightTexts[$event.target.selectedIndex]">
                <option>キャレットをフィールドの先頭に移動</option>
                <option>フィールドを選択</option>
                <option>コントロールのすべての内容を選択</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Enterキーによるフォーカス移動</th>
        <td>
            <select (change)="exitOnEnterKey=ExitKeys[$event.target.selectedIndex]">
                <option>なし</option>
                <option>両方</option>
                <option>Enter</option>
                <option>Shift+Enter</option>
            </select>
        </td>
    </tr>
</table>