<template>
    <div>
        <gc-mask 
            :format-pattern='formatPattern'
            :accepts-crlf='acceptsCrlf'
            v-model="maskValue" />
        <table class="sample">
            <tr>
                <th>リテラル文字列を含まない値</th>
                <td>
                    <gc-text-box v-model="rawValue"/>
                    <button @click='sync("get")'>値の取得</button>
                    <button @click='sync("set")'>値の設定</button>
                </td>
            </tr>
            <tr>
                <th>改行コードの扱い</th>
                <td>
                    <select v-model="acceptsCrlf">
                        <option value="nocontrol">そのまま使用</option>
                        <option value="filter">すべての改行コードを削除</option>
                        <option value="cut">改行コード以降の文字列を切り取り</option>
                    </select>
                </td>
            </tr>
        </table>

    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            formatPattern: '〒\\D{3}-\\D{4}',
            maskValue: '',
            rawValue: '',
            acceptsCrlf: 'nocontrol'
        },
        methods: {
            sync: function(type){
               if(type == 'get'){
                   this.rawValue = this.maskValue;
               }else if(type == 'set'){
                   this.maskValue = this.rawValue;
               }
            }
        }
    });
</script>