
    入力必須<br>
    <gc-number [allowDeleteToNull]="true" [value]="null" (onInitialized)="gcNumber1=$event"></gc-number><br><br>
    正数のみ入力可<br>
    <gc-number [minValue]="1" [maxValue]="100" [maxMinBehavior]="maxMinBehavior" [value]="-1" (onInitialized)="gcNumber2=$event"></gc-number><br><br>
    偶数のみ入力可<br>
    <gc-number [value]="1" (onInitialized)="gcNumber3=$event"></gc-number><br><br>
    すべての検証規則<br>
    <gc-number [allowDeleteToNull]="true" [minValue]="1" [maxValue]="10000" [maxMinBehavior]="maxMinBehavior" [value]="null" (onInitialized)="gcNumber4=$event"></gc-number>
