<gc-combo-box [items]="items" [selectedIndex]="0" [ellipsis]="ellipsis" [ellipsisString]="ellipsisString"></gc-combo-box>
<table class="sample">
    <tr>
        <th>省略文字の表示</th>
        <td>
            <select (change)="ellipsis=ellipsisModes[$event.target.selectedIndex]">
                <option>表示しない</option>
                <option>文字列の末尾に表示</option>
                <option>文字列の中央部分に表示</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>省略文字に使用する文字</th>
        <td><input type="text" [(ngModel)]="ellipsisString"></td>
    </tr>
</table>