<template>
    <div>
        <table>
            <tr>
                <td>
                    <gc-calendar 
                        :max-selection-count='maxSelectionCount'
                        :selection-mode='selectionMode'
                        :allow-selection='allowSelection'
                        :week-number-select='weekNumberSelect'
                        :week-title-select='weekTitleSelect'
                        @onselecteddatechanged='selectedDateChanged'></gc-calendar>
                </td>
                <td style="vertical-align: top; padding-left: 2rem;">
                    <div>選択日付</div>
                    <div id="selections" style="height: 15rem; overflow: auto;"></div>
                </td>
            </tr>
        </table>
        <table class="sample">
            <tr>
                <th>選択方法</th>
                <td>
                    <select @change="selectionModeChanged">
                        <option>単一の日付</option>
                        <option>複数の日付</option>
                        <option>複数の日付（Ctrl／Shiftキーで選択可）</option>
                    </select><br>
                    <label><input type="checkbox" @change="weekNumberSelect=$event.target.checked">週番号のクリックで週全体を選択</label><br>
                    <label><input type="checkbox" @change="weekTitleSelect=$event.target.checked">曜日のクリックで曜日全体を選択</label>
                </td>
            </tr>
            <tr>
                <th>選択可能な日付</th>
                <td>
                    <select @change="allowSelectionChanged">
                        <option>すべて</option>
                        <option>営業日</option>
                        <option>休日と休業日</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>最大選択日数</th>
                <td><input type="number" value="14" @change="maxSelectionCount=$event.target.value"></td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data:{
            maxSelectionCount: 14,
            selectionMode: undefined,
            allowSelection: undefined,
            weekNumberSelect: false,
            weekTitleSelect: false
        },
        methods: {
            selectedDateChanged: function(sender, arg){
                const selections = document.getElementById('selections');
                const dates = sender.getSelections();
                if (dates.length > 0) {
                    selections.innerText = '';
                    for (var i = 0; i < dates.length; i++) {
                        selections.innerText += dates[i].toLocaleDateString() + '\n';
                    }
                } else {
                    selections.innerText = sender.getSelectedDate().toLocaleDateString();
                }
            },
            selectionModeChanged: function(e){
                this.selectionMode = calendarSelectionMode[e.target.selectedIndex];
            },
            allowSelectionChanged: function(e){
                this.allowSelection = allowSelections[e.target.selectedIndex];
            }
        }
    });

    const calendarSelectionMode = [
        InputMan.CalendarSelectionMode.One,
        InputMan.CalendarSelectionMode.MultiSimple,
        InputMan.CalendarSelectionMode.MultiRich
    ];
    const allowSelections = [
        InputMan.AllowSelection.Anyday,
        InputMan.AllowSelection.Workday,
        InputMan.AllowSelection.Holiday
    ];

 
</script>

<style>
    /* 休日のスタイル */
    [calendar-holiday-type] {
        color: red;
    }
</style>
