
    <div class="flexbox">
        <div>
            <gc-mask [formatPattern]="'〒\\D{3}-\\D{4}'" (onEditStatusChanged)="log('onEditStatusChanged')" (onFocusOut)="log('onFocusOut')"
            (onInput)="log('onInput')" (onInvalidInput)="log('onInvalidInput')" (onKeyDown)="log('onKeyDown')"
            (onKeyExit)="log('onKeyExit')" (onKeyUp)="log('onKeyUp')" (onSyncValueToOriginalInput)="log('onSyncValueToOriginalInput')" 
            (onTextChanged)="log('onTextChanged')" (onTextChanging)="log('onTextChanging')" onValueChanged="log('onValueChanged')"></gc-mask>
        </div>
        <div>
            <gc-mask [formatPattern]="'(AAA|BBB|CCC|DDD|EEE)'" [showSpinButton]="true" 
            (onEditStatusChanged)="log('onEditStatusChanged')" (onFocusOut)="log('onFocusOut')"
            (onInput)="log('onInput')" (onInvalidInput)="log('onInvalidInput')" (onKeyDown)="log('onKeyDown')"
            (onKeyExit)="log('onKeyExit')" (onKeyUp)="log('onKeyUp')" (onSyncValueToOriginalInput)="log('onSyncValueToOriginalInput')" 
            (onTextChanged)="log('onTextChanged')" (onTextChanging)="log('onTextChanging')" onValueChanged="log('onValueChanged')"></gc-mask>
        </div>
    </div>
    イベント<br>
    <textarea rows="10" cols="30" #logPanel>{{text}}</textarea>
