テキストコントロール<br>
<gc-text-box [(text)]="textValue"></gc-text-box><br><br>
複数行テキストコントロール<br>
<gc-multiline-textbox [(text)]="textValue"></gc-multiline-textbox><br><br>
マスクコントロール<br>
<gc-mask [(value)]="maskValue" formatPattern="〒\D{3}-\D{4}"></gc-mask><br><br>
日付時刻コントロール<br>
<gc-datetime [(value)]="dateValue"></gc-datetime><br><br>
数値コントロール<br>
<gc-number [(value)]="numberValue"></gc-number><br><br>
カレンダーコントロール<br>
<gc-calendar [(selectedDate)]="dateValue" [focusDate]="dateValue"></gc-calendar><br><br>
コンボコントロール<br>
<gc-combo-box [items]="listItems" [(selectedIndex)]="selectedListIndex"></gc-combo-box><br><br>
リストコントロール<br>
<gc-list-box [items]="listItems" [(selectedIndex)]="selectedListIndex"></gc-list-box>