table.form {
    border-collapse: collapse;
}
table.form > tr > * {
    padding: 0.25rem 0.5rem;
    border: 1px solid #c3e6cb;
}
table.form > tr > th {
    text-align: left;
    background: #d4edda;
    color: #155724;
    font-weight: normal;
}
.gcim {
    border-color: #c3e6cb;
    width: 200px;
}
.wide-input .gcim {
    width: 400px;
}