<template>
    <div>
        <gc-text-box ref='gcTextBox'></gc-text-box>
        <table class="sample">
            <tr>
                <th>通知の位置</th>
                <td>
                    <select v-model="direction" class="update">
                        <option :value="GC.InputMan.IconDirection.Inside">内側</option>
                        <option :value="GC.InputMan.IconDirection.Outside">外側</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>カスタムアイコン</th>
                <td>
                    <label><input type="checkbox" v-model="src" class="update">カスタムアイコンを表示</label><br>
                </td>
            </tr>
        </table>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: {
            direction: InputMan.IconDirection.Outside,
            src: false,
        },
        methods: {
            updateValidator: function(){
                if(this.validator){
                    this.validator.destroy();
                }
                this.validator = new GCIM.GcValidator({
                    items: [
                        {
                            control: this.$refs.gcTextBox.getNestedIMControl(),
                            ruleSet: [
                                {
                                    rule: InputMan.ValidateType.Required
                                }
                            ],
                        }
                    ],
                    defaultNotify: false ? null : {
                        icon: {
                            direction: this.direction,
                            failIconSrc: this.src ? 'images/exclamation.png' : ''
                        }
                    }
                });
                this.validator.validate();
            }
        },
        mounted: function(){
            this.updateValidator();
        },
        updated: function(){
            this.updateValidator();
        }
    });
</script>