<div>
    <div class="flexbox">
        <div>
            数値コントロール<br>
            <gc-number id='number' [value]='1' [showSpinButton]='true' [showNumericPad]='true'></gc-number>
        </div>
        <div>
            日付時刻コントロール<br>
            <gc-datetime id='datetime' [showSpinButton]='true' [showDropDownButton]='true' [dropDownConfig]='dropdown'></gc-datetime>
        </div>
        <gc-shortcut>
            <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.R' [action]='InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
            <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.U' [action]='InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
            <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.D' [action]='InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.C' [action]='InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.R' [action]='InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.U' [action]='InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.D' [action]='InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
        </gc-shortcut>
    </div>
    <table class="sample">
        <tr>
            <th>キー</th>
            <th>アクション</th>
        </tr>
        <tr>
            <td>P</td>
            <td>前のフィールドまたはコントロールにフォーカスを移動します。</td>
        </tr>
        <tr>
            <td>N</td>
            <td>次のフィールドまたはコントロールにフォーカスを移動します。</td>
        </tr>
        <tr>
            <td>C</td>
            <td>値をクリアします。</td>
        </tr>
        <tr>
            <td>R</td>
            <td>ドロップダウンを開きます。</td>
        </tr>
        <tr>
            <td>U</td>
            <td>上方向のスピン操作を行います。</td>
        </tr>
        <tr>
            <td>D</td>
            <td>下方向のスピン操作を行います。</td>
        </tr>
    </table>
</div> 