﻿<gc-calendar [firstDayOfWeek]="firstDayOfWeek" [calendarDimensions]="calendarDimensions"
    [firstMonthInView]="firstMonthInView" [showHeader]="showHeader" [showRokuyou]="showRokuyou"
    [showTrailing]="showTrailing" [emptyRows]="emptyRows" [focusDate]="focusDate" [showToday]="showToday" [showWeekNumber]="showWeekNumber"
    ></gc-calendar>
<table class="sample">
    <tr>
        <th>最初の列の曜日</th>
        <td>
            <select (change)="firstDayOfWeek=dayOfWeeks[$event.target.selectedIndex]">
                <option>システムの設定</option>
                <option>日曜</option>
                <option>月曜</option>
                <option>火曜</option>
                <option>水曜</option>
                <option>木曜</option>
                <option>金曜</option>
                <option>土曜</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>複数月の表示</th>
        <td>
            <label>列数：<input type="number" value="1" style="width: 3rem;"
                    (change)="setDimensions('width',$event.target.value)"></label>
            <label>行数：<input type="number" value="1" style="width: 3rem;"
                    (change)="setDimensions('height',$event.target.value)"></label>
        </td>
    </tr>
    <tr>
        <th>最初の月</th>
        <td>
            <select (change)="firstMonthInView=$event.target.selectedIndex">
                <option>指定なし</option>
                <option>1月</option>
                <option>2月</option>
                <option>3月</option>
                <option>4月</option>
                <option>5月</option>
                <option>6月</option>
                <option>7月</option>
                <option>8月</option>
                <option>9月</option>
                <option>10月</option>
                <option>11月</option>
                <option>12月</option>
            </select>
            （12ヶ月表示時のみ）
        </td>
    </tr>
    <tr>
        <th>ヘッダの表示</th>
        <td><label><input type="checkbox" checked (change)="showHeader=$event.target.checked">表示する</label></td>
    </tr>
    <tr>
        <th>隣接日の表示</th>
        <td><label><input type="checkbox" checked (change)="showTrailing=$event.target.checked">表示する</label></td>
    </tr>
    <tr>
        <th>空白行の表示</th>
        <td><label><input type="checkbox" (change)="setEmptyRows($event.target.checked)">表示する</label></td>
    </tr>
    <tr>
        <th>今日の日付の表示</th>
        <td><label><input type="checkbox" checked (change)="showToday=$event.target.checked">表示する</label></td>
    </tr>
    <tr>
        <th>週番号</th>
        <td><label><input type="checkbox" checked (change)="showWeekNumber=$event.target.checked">表示する</label></td>
    </tr>
    <tr>
        <th>六曜</th>
        <td>
            <button (click)="toggleRokuyou(true)">すべて表示</button>
            <button (click)="toggleRokuyou(false)">すべて非表示</button><br>
            <div id="rokuyouList">
                <label><input type="checkbox" (change)="setRokuyou($event.target.checked,0)">先勝</label>
                <label><input type="checkbox" (change)="setRokuyou($event.target.checked,1)">友引</label>
                <label><input type="checkbox" (change)="setRokuyou($event.target.checked,2)">先負</label>
                <label><input type="checkbox" (change)="setRokuyou($event.target.checked,3)">仏滅</label>
                <label><input type="checkbox" (change)="setRokuyou($event.target.checked,4)">大安</label>
                <label><input type="checkbox" (change)="setRokuyou($event.target.checked,5)">赤口</label>
            </div>
        </td>
    </tr>
</table>