<template>
    <gc-combobox
        :items='employees'
        :format-item='formatItem'
        :display-member-path='"fullName"'
        :generating-item='generatingItem' />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            employees: [
                { lastName: '森上', firstName: '偉久馬', office: '東京本社' },
                { lastName: '葛城', firstName: '孝史', office: '東京本社' },
                { lastName: '加藤', firstName: '泰江', office: '東京本社' },
                { lastName: '川村', firstName: '匡', office: '大阪支社' },
                { lastName: '松沢', firstName: '誠一', office: '大阪支社' },
                { lastName: '成宮', firstName: '真紀', office: '大阪支社' },
            ],
            formatItem: function(args){
                var item = args.itemObject;
                item.fullName = item.lastName + ' ' + item.firstName + '（' + item.office + '）';
                this.items[args.index].data.fullName = item.fullName;
            },
            generatingItem: function(args){
                args.item.classList.add(args.index % 2 ? 'odd' : 'even');
            }

        }
    });
   
</script>

<style>
   body {
        min-height: 220px;
    }
    .odd {
        background: lavender;
    }
</style>
