<ng-container #outlet>
</ng-container>

<ng-template #content>
    <gc-combo-box [items]="items" [columns]="columns" [allowDropDownResize]="true"
       [dropDownWidth]="700">
    </gc-combo-box>
</ng-template>

<table class="sample">
    <tr>
        <th>列の操作</th>
        <td>
            <button (click)="addColumn()">列を追加する</button>
            <button (click)="deleteColumn()">列を削除する</button>
        </td>
    </tr>
</table>