<div class="flexbox">
    <div>コンボコントロール全体でチップを表示する<br>
        <gc-combo-box 
            [items]="items" 
            [columns]="columns1" 
            [showTip]="true" 
            [dropDownWidth]="200"
            displayMemberPath="name"
            valueMemberPath="name"></gc-combo-box>
    </div>
    <div> 製品紹介列のみチップを表示する<br>
        <gc-combo-box 
            [items]="items" 
            [columns]="columns2" 
            [dropDownWidth]="200"
            displayMemberPath="name"
            valueMemberPath="name"></gc-combo-box>
    </div>
</div>
