body {
    min-height: 350px;
}
.viewport {
    line-height: 1.3;
}
.template-item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.template-item > * {
    margin: 0 5px;
}
.image {
    width: 40px;
    height: 40px;
}
.image img {
    width: 40px;
}
.names {
    width: 150px;
}
.name {
    font-size: 16px;
    font-weight: bold;
    color: #2676c0;
}
.category {
    font-size: 12px;
    color: green;
}
.description {
    width: 210px;
    white-space: normal;
}
.list-item[selected="true"] .name, .list-item[selected="true"] .category {
    color: white;
}
.odd {
    background: aliceblue;
}