﻿<gc-multiline-textbox [maxLength]="maxLength" [lengthAsByte]="lengthAsByte" [acceptsCrlf]="acceptsCrlf"></gc-multiline-textbox>
<table class="sample">
    <tr>
        <th>最大文字数</th>
        <td>
            <input type="number" value="0" id="setMaxLength" (change)="maxLength=$event.target.value">
            <label><input type="radio" name="setLengthAsByte" (change)="lengthAsByte=false" id="setLengthNotAsByte"
                    checked>文字単位</label>
            <label><input type="radio" name="setLengthAsByte" (change)="lengthAsByte=true"
                    id="setLengthAsByte">バイト単位</label>
        </td>
    </tr>
    <tr>
        <th>改行コードの扱い</th>
        <td>
            <select id="setAcceptsCrlf" (change)="acceptsCrlf=crLfModes[$event.target.selectedIndex]">
                <option>そのまま使用</option>
                <option>すべての改行コードを削除</option>
                <option>改行コード以降の文字列を切り取り</option>
            </select>
        </td>
    </tr>
</table>