﻿<div>
    <div>
        <gc-calculator></gc-calculator>
    </div>

    <table class="sample">
        <tr>
            <th>税込み計算する</th>
            <td>
                <button (click)="performClick()">実行</button>
            </td>
        </tr>
    </table>
</div>