﻿<gc-calendar [headerFormat]="headerFormat" [yearMonthFormat]="yearMonthFormat" [calendarYear]="calendarYear"
    [firstFiscalMonth]="firstFiscalMonth">
</gc-calendar>
<table class="sample">
    <tr>
        <th>月-日カレンダーの書式</th>
        <td>
            <gc-combo-box [items]="headerFormatItems" [displayMemberPath]="'value'" [valueMemberPath]="'value'"
                [dropDownWidth]="'auto'" (selectedChanged)="setHeaderFormat($event)"
                (textChanged)="headerFormat=$event.getDisplayText()">
                <gc-combo-box-column [name]="'value'" [label]="'書式'" [width]="120"></gc-combo-box-column>
                <gc-combo-box-column [name]="'text'" [label]="'説明'" [width]="120"></gc-combo-box-column>
            </gc-combo-box>
        </td>
    </tr>
    <tr>
        <th>年-月カレンダーの書式</th>
        <td>
            <gc-combo-box [items]="yearMonthFormatItems" [displayMemberPath]="'value'" [valueMemberPath]="'value'"
                [dropDownWidth]="'auto'" (selectedChanged)="setYearMonthFormat($event)"
                (textChanged)="yearMonthFormat=$event.getDisplayText()">
                <gc-combo-box-column [name]="'value'" [label]="'書式'" [width]="120"></gc-combo-box-column>
                <gc-combo-box-column [name]="'text'" [label]="'説明'" [width]="130"></gc-combo-box-column>
            </gc-combo-box>
        </td>
    </tr>
    <tr>
        <th>会計年度表示</th>
        <td>
            <label><input type="checkbox" (change)="setCalendarYear($event)">会計年度で表示</label><br>
            <label>最初の月
                <select id="setFirstFiscalMonth" (change)="firstFiscalMonth=months[$event.target.selectedIndex]">
                    <option>指定なし</option>
                    <option>1月</option>
                    <option>2月</option>
                    <option>3月</option>
                    <option selected>4月</option>
                    <option>5月</option>
                    <option>6月</option>
                    <option>7月</option>
                    <option>8月</option>
                    <option>9月</option>
                    <option>10月</option>
                    <option>11月</option>
                    <option>12月</option>
                </select>
            </label>
        </td>
    </tr>
</table>