<template>
    <div >
        <gc-datetime 
            :display-format-pattern='displayFormatPattern'
            :format-pattern='formatPattern'
             />
        <table class="sample">
            <tr>
                <th>表示書式</th>
                <td>
                    <gc-combobox
                        @textchanged='displayFormatPatternChanged'
                        :items="displayFormatPatterns"
                        :display-member-path='"value"'
                        :value-member-path='"value"'
                        :drop-down-width='"auto"'
                        :columns='[{ name: "value", label: "書式", width: 200 },
                                    { name: "desc", label: "説明", width: 320 }]' />
                </td>
            </tr>
            <tr>
                <th>入力書式</th>
                <td>
                    <gc-combobox 
                        @textchanged='formatPatternChanged'
                        :items="formatPatterns"
                        :display-member-path='"value"'
                        :value-member-path='"value"'
                        :drop-down-width='"auto"'
                        :columns='[{ name: "value", label: "書式", width: 260 },
                                    { name: "desc", label: "説明", width: 360 }]' />
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            displayFormatPatterns:[
                { value: 'yyy/M/d H:m:s', desc: '日付と時刻（2018/1/1 13:30:1）' },
                { value: 'yyy年M月d日 H時m分s秒', desc: '日付と時刻（2018年1月1日 13時30分1秒）' },
                { value: 'y/M/d', desc: '日付（18/1/1）' },
                { value: 'y年M月d日（ddd）', desc: '日付（18年1月1日（木））' },
                { value: 'gggE年M月d日 dddd', desc: '日付（平成元年12月1日 金曜日）' },
                { value: 'gg e年M月d日', desc: '日付（平 1年12月1日）' },
                { value: 'g. e/M/d', desc: '日付（H. 1/12/1）' },
                { value: 'H:m:s', desc: '時刻（13:30:1）' },
                { value: 'tt h時m分s秒', desc: '時刻（午後 1時30分1秒）' },
            ],
            formatPatterns: [
                { value: 'yyyy/MM/dd HH:mm:ss', desc: '日付と時刻（2018/01/01 13:30:01）' },
                { value: 'yyyy年MM月dd日 HH時mm分ss秒', desc: '日付と時刻（2018年01月01日 13時30分01秒）' },
                { value: 'yyyy/MM/dd', desc: '日付（2018/01/01）' },
                { value: 'yy年MM月dd日', desc: '日付（18年01月01日）' },
                { value: 'gggee年MM月dd日 HH時mm分ss秒', desc: '日付と時刻（平成01年12月01日 13時30分01秒）' },
                { value: 'gg ee年MM月dd日', desc: '日付（平 01年12月01日）' },
                { value: 'g. ee/MM/dd', desc: '日付（H. 01/12/01）' },
                { value: 'HH:mm:ss', desc: '時刻（13:30:01）' },
                { value: 'tt hh時mm分ss秒', desc: '時刻（午後 01時30分01秒）' },
            ],
            displayFormatPattern: undefined,
            formatPattern: undefined,
        },
        methods: {
            displayFormatPatternChanged: function(s){
                this.displayFormatPattern = s.getDisplayText();
            },
            formatPatternChanged: function(s){
                this.formatPattern = s.getDisplayText();
            }
        }
    });
</script>