<template>
    <div>
        <div>
            通常のパスワード文字表示(オプションなし)<br>
            <gc-text-box 
                v-model='p1'
                :password-char='passwordChar'
                :password-revelation-mode='GC.InputMan.PasswordRevelationMode.None' />
        </div>
        <br>
        <div>
            パスワード表示アイコンをクリックしている間だけテキストを表示する<br>
            <gc-text-box 
                v-model='p2'
                :password-char='passwordChar'
                :password-revelation-mode='GC.InputMan.PasswordRevelationMode.ShowEyeButton' />
        </div>
        <br>
        <div>
            入力から1秒後にパスワード文字表示にする<br>
            <gc-text-box 
                v-model='p3'
                :password-char='passwordChar'
                :password-revelation-mode='GC.InputMan.PasswordRevelationMode.ShowLastTypedChar' />
        </div>
        <br>
        <div>
            チェックボックスでパスワード表示を切り替える<br>
            <gc-text-box 
                ref="textbox4"
                v-model='p4'
                password-char='●'
                :password-revelation-mode='GC.InputMan.PasswordRevelationMode.None' />
            <input type="checkbox" v-model="showPassword"><label>表示する</label>
        </div>
        <br>
        <button @click="clearText">パスワードをクリア</button>
        <table class="sample">
            <tr>
            <th>パスワード表示に使用する文字</th>
            <td> 
                <gc-text-box v-model="passwordChar"/> 
            </td>
            </tr>
        <table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';

    new Vue({
        el: '#app',
        data: {
            passwordChar: '●',
            p1: '',
            p2: '',
            p3: '',
            p4: '',
            showPassword: true
        },
        methods: {
            clearText: function(){
                this.p1 = this.p2 = this.p3 = this.p4 = '';
            },
            showPasswordChange: function(){
                this.$refs.textbox4.getNestedIMControl().setPasswordChar(this.showPassword ? this.passwordChar : '');
            }
        },
        watch: {
            passwordChar: function(newVal, oldVal){
                this.showPasswordChange();
            },
            showPassword: function(newVal, oldVal){
                this.showPasswordChange();
            }
        }
    });
</script>