﻿<div>
    <div>
        <gc-calculator [buttonText]='btnText'></gc-calculator>
    </div>
    <br />
    <div>
        <button (click)="updateButtonText()">ボタンテキストの変更する</button>
        <button (click)="restoreButtonText()">ボタンテキストを初期化する</button>
    </div>
</div>