<template>
    <div >
        <gc-datetime 
            ref="datetime"
            :auto-scale='autoScale'
            :min-scale-factor='minScaleFactor'
            display-format-pattern='yyyy年MM月dd日 HH時mm分ss秒'
            format-pattern='yyyy年MM月dd日 HH時mm分ss秒' />
        <br><br>
        <button @click="clear">テキストクリア</button>
        <table class="sample">
            <tr>
                <th>長体表示</th>
                <td>
                    <label><input type="checkbox" v-model="autoScale">有効にする</label>
                </td>
            </tr>
            <tr>
                <th>最小倍率</th>
                <td>
                    <input type="number" max="1.0" min="0.1" v-model="minScaleFactor" step="0.1">
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            autoScale: true,
            minScaleFactor: 0.5,
        },
        methods: {
            clear: function(){
                this.$refs.datetime.getNestedIMControl().clear();
            }
        }
    });
</script>