﻿    <label>漢字入力:
    <gc-multiline-textbox [imeReadingStringKanaMode]="imeReadingStringKanaMode" [imeReadingStringAppend]="false"
        (onIMEReadingStringOutput)="furiganaText=$event.getIMEReadingString()" [(text)]="text"></gc-multiline-textbox></label><br>
    <p>ふりがな: <span id="furigana">{{furiganaText}}</span></p>
    <button (click)="clear()">クリア</button>

<table class="sample">
    <tr>
        <th>ふりがなの文字種</th>
        <td>
            <select id="setReadingImeStringKanaMode" (change)="imeReadingStringKanaMode=kanaModes[$event.target.selectedIndex]">
                <option>半角カタカナ</option>
                <option>全角カタカナ</option>
                <option>ひらがな</option>
            </select>
        </td>
    </tr>
</table>