
<gc-combo-box 
    [items]='items'
    [autoScale]='autoScale'
    [minScaleFactor]='minScaleFactor'
    [isEditable]='true' >
</gc-combo-box>
<br><br>
<button (click)='clearText()'>テキストクリア</button>
<table class="sample">
    <tr>
        <th>長体表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="autoScale">有効にする</label>
        </td>
    </tr>
    <tr>
        <th>最小倍率</th>
        <td>
            <input type="number" max="1.0" min="0.1" step="0.1" [(ngModel)]="minScaleFactor">
        </td>
    </tr>
</table>