<template>
    <div>
        <gc-combobox 
            ref="combo"
            :virtual-mode='true'
            :load='load' />
        <button @click="clearItems">最初からリロードする</button>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: function(){
            return  {
                load: this.load,
                pageSize: 20
            }
        },
        methods: {
            load: function(context){
                setTimeout(() => {
                    var items = this.generateItems(context.pageNumber);
                    context.success(items);
                }, 500)
            },
            generateItems: function(pageNumber){
                let items = [];
                for (let i = 0; i < pageSize; i++) {
                    items.push('項目' + (pageNumber * pageSize + i));
                }
                return items;
            },
            clearItems: function(){
                this.$refs.combo.getNestedIMControl().clearItems();
            }
        }
    });

    const pageSize = 20;

</script>
<style>
    body {
        min-height: 220px;
    }
</style>