<template>
    <div>
        <gc-multiline-textbox  tabindex="1"
            :max-length="maxLength"
            :accepts-return='false'
            :exit-on-last-char="isExitOnLastChar"
            :exit-on-left-right-key="exitOnLeftRightKey"
            :exit-on-enter-key="exitOnEnterKey" /><br>
        <gc-multiline-textbox tabindex="2"
            :accepts-return='false'
            :max-length="maxLength"
            :exit-on-last-char="isExitOnLastChar"
            :exit-on-left-right-key="exitOnLeftRightKey"
            :exit-on-enter-key="exitOnEnterKey" /><br>
        <gc-multiline-textbox tabindex="3"
            :accepts-return='false'
            :max-length="maxLength"
            :exit-on-last-char="isExitOnLastChar"
            :exit-on-left-right-key="exitOnLeftRightKey"
            :exit-on-enter-key="exitOnEnterKey" /><br>
        ※最大3文字まで入力可能

        <table class="sample">
            <tr>
                <th>自動フォーカス移動</th>
                <td><label><input type="checkbox" true-value="true" false-value="false" v-model="isExitOnLastChar">入力完了時に自動的に次のコントロールに移動する</label>
                </td>
            </tr>
            <tr>
                <th>矢印キーによるフォーカス移動</th>
                <td>
                    <select v-model="exitOnLeftRightKey">
                        <option value="none">なし</option>
                        <option value="both">両方</option>
                        <option value="left">左</option>
                        <option value="right">右</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Enterキーによるフォーカス移動</th>
                <td>
                    <select v-model="exitOnEnterKey">
                        <option value="none">なし</option>
                        <option value="both">両方</option>
                        <option value="enter">Enter</option>
                        <option value="shiftenter">Shift+Enter</option>
                    </select>
                </td>
            </tr>
        </table>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
  
    var app = new Vue({
        el: '#app',
        data: {
            maxLength: 3,
            isExitOnLastChar: false,
            exitOnLeftRightKey: "none",
            exitOnEnterKey: "none"
        }
    });
</script>