<table class="form">
    <tr>
        <th>氏名<span class="required">必須</span></th>
        <td>
            <gc-text-box (onInitialized)="username=$event" [watermarkDisplayNullText]="'例）葡萄太郎'" [watermarkNullText]="'ふりがなは自動的に出力します'"
                [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey" (onIMEReadingStringOutput)="onIMEReadingStringOutput($event)" (onInput)="onUsernameInput($event,args)"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>フリガナ<span class="required">必須</span></th>
        <td>
            <gc-text-box (onInitialized)="furigana=$event" [(text)]="furiganaText" [watermarkDisplayNullText]="'全角カナで入力してください'" [watermarkNullText]="'氏名を入力してください'" [format]="'Ｎ'"
                [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey" (onInput)="onFuriganaInput($event,args)"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>メールアドレス<span class="required">必須</span></th>
        <td>
            <gc-mask (onInitialized)="mail=$event" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-mask>
        </td>
    </tr>
    <tr>
        <th rowspan="3">住所<span class="required">必須</span></th>
        <td>
            <gc-mask (onInitialized)="postal=$event" [className]="'postal'" [formatPattern]="'〒\\D{3}-\\D{4}'" [exitOnLastChar]="true"
                [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-mask>
            <gc-text-box (onInitialized)="prefecture=$event" [className]="'prefecture'" [watermarkDisplayNullText]="'都道府県名を選択してください'"
                [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-text-box>
        </td>
    </tr>
    <tr>
        <td>
            <gc-text-box (onInitialized)="address1=$event" [watermarkDisplayNullText]="'市区町村名を入力してください'" [exitOnLeftRightKey]="exitOnLeftRightKey"
                [exitOnEnterKey]="exitOnEnterKey"></gc-text-box>
        </td>
    </tr>
    <tr>
        <td>
            <gc-text-box (onInitialized)="address2=$event" [watermarkDisplayNullText]="'番地以降を入力してください'" [watermarkNullText]="'全角文字に自動変換します'"
                [format]="'Ｚ'"  [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>電話番号<span class="required">必須</span></th>
        <td>
            <gc-mask (onInitialized)="phone=$event" [formatPattern]="'\\D{2,4}-\\D{2,4}-\\D{4}'" [exitOnLastChar]="true" [exitOnLeftRightKey]="exitOnLeftRightKey"
                [exitOnEnterKey]="exitOnEnterKey"></gc-mask>
        </td>
    </tr>
    <tr>
        <th>会社名<span class="required">必須</span></th>
        <td>
            <gc-text-box (onInitialized)="company=$event" [exitOnLeftRightKey]="exitOnLeftRightKey"
            [exitOnEnterKey]="exitOnEnterKey" [watermarkDisplayNullText]="'例）グレープシティ株式会社'"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>お問い合わせ内容</th>
        <td>
            <gc-multiline-textbox (onInitialized)="question=$event" [className]="question" [maxLength]="101" [height]="100"></gc-multiline-textbox></td>
    </tr>
</table>

<div id="prefDropdown">
    <table>
        <tr>
            <th>北海道</th>
            <td><span>北海道</span></td>
        </tr>
        <tr>
            <th>東北</th>
            <td><span>青森県</span><span>岩手県</span><span>宮城県</span><span>秋田県</span><span>山形県</span><span>福島県</span>
            </td>
        </tr>
        <tr>
            <th>関東</th>
            <td><span>茨城県</span><span>栃木県</span><span>群馬県</span><span>埼玉県</span><span>千葉県</span><span>東京都</span><span>神奈川県</span>
            </td>
        </tr>
        <tr>
            <th>甲信越</th>
            <td><span>山梨県</span><span>長野県</span><span>新潟県</span></td>
        </tr>
        <tr>
            <th>北陸</th>
            <td><span>富山県</span><span>石川県</span><span>福井県</span></td>
        </tr>
        <tr>
            <th>東海</th>
            <td><span>岐阜県</span><span>静岡県</span><span>愛知県</span><span>三重県</span></td>
        </tr>
        <tr>
            <th>近畿</th>
            <td><span>滋賀県</span><span>京都府</span><span>大阪府</span><span>兵庫県</span><span>奈良県</span><span>和歌山県</span>
            </td>
        </tr>
        <tr>
            <th>中国四国</th>
            <td><span>鳥取県</span><span>島根県</span><span>岡山県</span><span>広島県</span><span>山口県</span><span>徳島県</span><span>香川県</span><span>愛媛県</span><span>高知県</span>
            </td>
        </tr>
        <tr>
            <th>九州</th>
            <td><span>福岡県</span><span>佐賀県</span><span>長崎県</span><span>熊本県</span><span>大分県</span><span>宮崎県</span><span>鹿児島県</span>
            </td>
        </tr>
        <tr>
            <th>沖縄</th>
            <td><span>沖縄県</span></td>
        </tr>
    </table>
</div>
