table.form {
    border-collapse: collapse;
}
table.form > tbody > tr > * {
    padding: 0.25rem 0.5rem;
    border: 1px solid #D2D2D2;
}
table.form > tbody > tr > th {
    text-align: left;
    background: #F0F0F0;
    font-weight: normal;
}
table.form > tbody > tr > td {
    padding-right: 30px;
}
.required{
    background-color: orange;
    color: white;
    font-size: 12px;
    margin-left: 0.5rem;
    padding: 0 5px;
    float: right;
}
.gcim {
    width: 400px;
}
.gcim_watermark_null[gcim-notify__control-state] .gcim__input{
    color: gray;
}
.postal .gcim {
    width: 110px;
    margin-right: 10px;
}
.prefecture .gcim {
    width: 280px;
}
#prefDropdown table {
    background-color: azure;
    border: darkgray 1px solid;
    border-radius: 5px;
}
#prefDropdown th {
    padding: 0 0.5rem;
    border-right: steelblue 2px solid;
    font-weight: bold;
}
#prefDropdown span {
    margin: 0 0.5rem;
    color: blue;
    cursor : pointer;
}