
    <button id="performance_btn" (click)="changeControl()">コントロールを生成</button>
    <table class="sample">
        <tr>
            <th>コントロールの種類</th>
            <td>
                <select id="controlType">
                    <option>テキストコントロール</option>
                    <option>複数行テキストコントロール</option>
                    <option>マスクコントロール</option>
                    <option>日付時刻コントロール</option>
                    <option>数値コントロール</option>
                    <option>カレンダーコントロール</option>
                    <option>コンボコントロール</option>
                    <option>リストコントロール</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>コントロールの数</th>
            <td>
                <select id="controlCount">
                    <option>100</option>
                    <option>1000</option>
                </select>
            </td>
        </tr>
    </table>
    <div id="container"></div>
