フォーカスを失ったときに検証する<br>
<gc-text-box (onInitialized)="gcTextBox1=$event"></gc-text-box><br><br>
入力中に検証する<br>
<gc-text-box (onInitialized)="gcTextBox2=$event"></gc-text-box><br><br>
手動で検証する<br>
<gc-text-box (onInitialized)="gcTextBox3=$event"></gc-text-box><br>
<button id='btn' (click)="validate()">検証</button>