<template>
    <div>
        <div class="flexbox">
            <div>
                文字配列に連結<br>
                <gc-listbox 
                    :items='strProducts'
                    @selectedchanged='log(arguments[0])' />
            </div>
            <div>
                オブジェクト配列に連結<br>
                <gc-listbox 
                    :items='objProducts' 
                    :display-member-path='"name"'
                    :value-member-path='"name"'
                    @selectedchanged='log(arguments[0])' />
            </div>
            <div>
                option要素から生成<br>
                <select id="gcListBoxDom">
                    <option>果汁100%オレンジ</option>
                    <option>果汁100%グレープ</option>
                    <option>果汁100%レモン</option>
                    <option>果汁100%ピーチ</option>
                    <option>コーヒーマイルド</option>
                    <option>コーヒービター</option>
                </select>
            </div>
        </div>
        選択された項目：<span id="selectedItem"></span>    
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import { strProducts, objProducts } from './data';

    new Vue({
        el: '#app',
        data: function() {
            var res = {
                strProducts: strProducts,
                objProducts: objProducts,
            }
            return res;
        },
        methods: {
            log: function(sender){
                document.getElementById('selectedItem').innerText = sender.getSelectedValue();
            }
        },
        mounted: function(){
            // option要素から生成
            var gcListBoxDom = new InputMan.GcListBox(document.getElementById('gcListBoxDom'));
            gcListBoxDom.addEventListener(
                InputMan.GcListBoxEvent.SelectedChanged, 
                (sender) => this.log(sender)
            );
        }
    });
</script>