<template>
    <div class="flexbox">
        <div>通常のスタイル
            <gc-function-key  id="functionkey1" @onactived="onActived">
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F1" description="メニュー画面へ"></gc-function-key-info>
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F2" description="更新"></gc-function-key-info>
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F3" description="削除"></gc-function-key-info>
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F4" description="印刷"></gc-function-key-info>
            </gc-function-key>
        </div>
        <div>スタイルを変更する
            <gc-function-key  id="functionkey2" @onactived="onActived">
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F1" description="メニュー画面へ"></gc-function-key-info>
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F2" description="更新"></gc-function-key-info>
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F3" description="削除"></gc-function-key-info>
                <gc-function-key-info :function-key="GC.InputMan.FunctionKey.F4" description="印刷"></gc-function-key-info>
            </gc-function-key>
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';

    new Vue({
        el: '#app',
        data: {},
        methods: {
            onActived: function(s, e){
                window.alert(e.description + 'が押下されました。');
            }
        }
    });

    
</script>

