﻿<gc-text-box [autoConvert]="autoConvert" [format]="format"></gc-text-box>
<table class="sample">
    <tr>
        <th>文字種の設定</th>
        <td>
            <gc-combo-box [items]="combobox_items" [displayMemberPath]="'value'" [valueMemberPath]="'value'"
                (checkedChanged)="format=$event.getCheckedValues().join('')" [dropDownWidth]="'auto'"
                [isMultiSelect]="true">
                <gc-combo-box-column [name]="'value'" [label]="'値'" [width]="50"></gc-combo-box-column>
                <gc-combo-box-column [name]="'text'" [label]="'説明'" [width]="300"></gc-combo-box-column>
            </gc-combo-box>
        </td>
    </tr>
    <tr>
        <th>自動変換</th>
        <td>
            <label><input type="checkbox" (change)="autoConvert=$event.target.checked"
                    checked>指定した文字にあわせて自動的に変換する</label>
        </td>
    </tr>
</table>