<template>
    <div>
        テキストコントロール<br>
        <gc-text-box ref='gcTextBox'></gc-text-box><br><br>
        マスクコントロール<br>
        <gc-mask ref='gcMask' format-pattern="〒\\D{3}-\\D{4}"></gc-mask><br><br>
        数値コントロール<br>
        <gc-number ref='gcNumber' :allow-delete-to-null='true' :value='null'></gc-number><br><br>
        日付時刻コントロール<br>
        <gc-datetime ref='gcDateTime' :value='null'></gc-datetime><br><br>
        コンボコントロール<br>
        <gc-combobox ref='gcComboBox' 
            :items="[
                '果汁100%オレンジ', 
                '果汁100%グレープ', 
                '果汁100%レモン', 
                '果汁100%ピーチ', 
                'コーヒーマイルド', 
                'コーヒービター']">
        </gc-combobox>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: {},
        mounted: function(){
            const validator = new InputMan.GcValidator({
                items: [
                    // テキストコントロール
                    {
                        control: this.$refs.gcTextBox.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ]
                    },
                    // マスクコントロール
                    {
                        control: this.$refs.gcMask.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ]
                    },
                    // 数値コントロール
                    {
                        control: this.$refs.gcNumber.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ]
                    },
                    // 日付時刻コントロール
                    {
                        control: this.$refs.gcDateTime.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ]
                    },
                    // コンボコントロール
                    {
                        control: this.$refs.gcComboBox.getNestedIMControl(),
                        ruleSet: [
                            {
                                rule: InputMan.ValidateType.Required
                            }
                        ]
                    }
                ],
                defaultNotify: {
                    tip: true
                }
            });
            validator.validate();
        }
    });
</script>