<div class="flexbox">
    <div>
        単純なリスト<br>
        <gc-combo-box [items]="products"></gc-combo-box>
    </div>
    <div>
        複数列<br>
        <gc-combo-box [items]="orders" [displayMemberPath]="'product'" [valueMemberPath]="'product'"
            [dropDownWidth]="'auto'">
            <gc-combo-box-column [name]="'id'" [label]="'商品コード'" [width]="80" [clickSort]="true"></gc-combo-box-column>
            <gc-combo-box-column [name]="'product'" [label]="'商品名'" [width]="200"></gc-combo-box-column>
            <gc-combo-box-column [name]="'date'" [label]="'受注日'" [width]="120" [clickSort]="true"></gc-combo-box-column>
            <gc-combo-box-column [name]="'price'" [label]="'単価'" [width]="80" [clickSort]="true"></gc-combo-box-column>
            <gc-combo-box-column [name]="'amount'" [label]="'数量'" [width]="80" [clickSort]="true"></gc-combo-box-column>
        </gc-combo-box>
    </div>
    <div>
        テンプレート<br>
        <gc-combo-box [items]="gcProducts" [itemHeight]="50" [displayMemberPath]="'name'" [valueMemberPath]="'name'"
            [itemTemplate]="itemTemplate" [dropDownWidth]="'auto'" [generatingItem]="generatingItem.bind(this)">
        </gc-combo-box>
    </div>
</div>