<template>
    <div>
        <div class="flexbox">
            <div>
                <gc-listbox 
                    @oninitialized='gcListBox=arguments[0]'
                    @selectedchanged='selectedchanged'
                    @checkedchanged='checkedchanged'
                    :key="Date.now()"
                    :items='products'
                    :show-check-box='showCheckBox'
                    :selection-mode='selectionMode' />
            </div>
            <div>
                選択された項目：<div id="selectedItems"></div>
            </div>
            <div>
                チェックされた項目：<div id="checkedItems"></div>
            </div>
        </div>
        <table class="sample">
            <tr>
                <th>選択モード</th>
                <td>
                    <select v-model='selectionMode'>
                        <option value='single'>1つの項目のみ選択</option>
                        <option value='multiple'>クリックで複数の項目を選択</option>
                        <option value='multipleExt'>Ctrl／Shift+クリックで複数の項目を選択</option>
                    </select><br>
                    <button id="selectAll" :disabled='selectionMode == "single"' @click='handleAction("selectAll")'>すべて選択</button>
                    <button id="unselectAll" @click='handleAction("unselectAll")'>すべて選択解除</button>
                </td>
            </tr>
            <tr>
                <th>チェックボックス</th>
                <td>
                    <label><input type="checkbox" v-model='showCheckBox'> チェックボックスを表示</label>
                    <br>
                    <button id="checkAll" :disabled='!showCheckBox' @click='handleAction("checkAll")'>すべてチェック</button>
                    <button id="uncheckAll" :disabled='!showCheckBox' @click='handleAction("uncheckAll")'>すべてチェック解除</button>
                </td>
            </tr>
        </table>  
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import {products, allIndecies} from './data';

    new Vue({
        el: '#app',
        data: {
            products: products,
            showCheckBox: true,
            selectionMode: 'single',
            gcListBox: undefined
        },
        methods: {
            handleAction: function(type){
                switch(type){
                    case 'selectAll':
                        this.gcListBox.setSelectedIndices(allIndecies)
                        break;
                    case 'unselectAll':
                        this.gcListBox.clearSelected();
                        break;
                    case 'checkAll':
                        this.gcListBox.setCheckedIndices(allIndecies);
                        break;
                    case 'uncheckAll':
                        this.gcListBox.clearChecked();
                        break;
                }
            },
            selectedchanged: function(sender){
                document.getElementById('selectedItems').innerText = sender.getSelectedValues().join('\n');
            },
            checkedchanged: function(sender){
                document.getElementById('checkedItems').innerText = sender.getCheckedItems().map(item => item.Text).join('\n');
            }
        }
    });
</script>