
    <div class="flexbox">
        <div>
            検証失敗の通知<br>
            <gc-text-box (onInitialized)="gcTextBox1=$event"></gc-text-box>
        </div>
        <div>
            検証成功の通知<br>
            <gc-text-box (onInitialized)="gcTextBox2=$event" [text]="'テキスト'"></gc-text-box>
        </div>
    </div><br><br><br>

    <div class="peoperty-header">ツールチップのスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim-notify__tip-content,width">幅</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,height">高さ</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,borderRadius">境界線の角丸</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,boxShadow">影</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-text,fontSize">フォントのサイズ</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,fontWeight">フォントの太さ</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,fontStyle">フォントのスタイル</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,fontFamily">フォントの種類</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,textAlign">水平方向の位置</label><br>
        <label><input type="checkbox" value=".gcim-notify__tip-content,textShadow">テキストの影</label><br>
    </div>
    <div class="peoperty-header">検証失敗のツールチップのスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value="[gcim-notify__tip-state='fail'] .gcim-notify__tip-content,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='fail'] .gcim-notify__tip-content,color">文字色</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='fail'] .gcim-notify__tip-content,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='fail'] .gcim-notify__tip-content,borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='fail'] .gcim-notify__tip-content,borderStyle">境界線のスタイル</label><br>
    </div>
    <div class="peoperty-header">検証成功のツールチップのスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value="[gcim-notify__tip-state='success'] .gcim-notify__tip-content,backgroundColor">背景色</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='success'] .gcim-notify__tip-content,color">文字色</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='success'] .gcim-notify__tip-content,borderColor">境界線の色</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='success'] .gcim-notify__tip-content,borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value="[gcim-notify__tip-state='success'] .gcim-notify__tip-content,borderStyle">境界線のスタイル</label><br>
    </div>
    <div class="peoperty-header">検証失敗のコントロール状態のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim-notify__state-container[gcim-notify__control-state='fail'],borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim-notify__state-container[gcim-notify__control-state='fail'],borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value=".gcim-notify__state-container[gcim-notify__control-state='fail'],borderStyle">境界線のスタイル</label><br>
    </div>
    <div class="peoperty-header">検証成功のコントロール状態のスタイル</div>
    <div class="peoperty-panel" (click)="updateStyle($event)">
        <label><input type="checkbox" value=".gcim-notify__state-container[gcim-notify__control-state='success'],borderColor">境界線の色</label><br>
        <label><input type="checkbox" value=".gcim-notify__state-container[gcim-notify__control-state='success'],borderWidth">境界線の幅</label><br>
        <label><input type="checkbox" value=".gcim-notify__state-container[gcim-notify__control-state='success'],borderStyle">境界線のスタイル</label><br>
    </div>
    <button id="copyStyle" (click)="copyStyle()">CSSコードをコピー</button><br>
    <textarea id="style" cols="60" rows="10">{{style}}</textarea>
    <script src="https://cdn.grapecity.com/wijmo/5.latest/controls/wijmo.min.js"></script>
