<gc-datetime (onEditStatusChanged)="appendLog('onEditStatusChanged')" (onFocusOut)="appendLog('onFocusOut')"
    (onInput)="appendLog('onInput')" (onInvalidInput)="appendLog('onInvalidInput')"
    (onInvalidRange)="appendLog('onInvalidRange')" (onInvalidValue)="appendLog('onInvalidValue')"
    (onKeyDown)="appendLog('onKeyDown')" (onKeyExit)="appendLog('onKeyExit')" (onKeyUp)="appendLog('onKeyUp')"
    (onNumberChanged)="appendLog('onNumberChanged')" (onSpinDown)="appendLog('onSpinDown')"
    (onSpinUp)="appendLog('onSpinUp')" (onSyncValueToOriginalInput)="appendLog('onSyncValueToOriginalInput')"
    (onTextChanged)="appendLog('onTextChanged')" (onValueChanged)="appendLog('onValueChanged')"
    [showDropDownButton]="true" [dropDownConfig]="dropDownConfig" >

</gc-datetime><br><br>
イベント<br>
<textarea #logPanel rows="10" cols="30">{{logStr}}</textarea>