﻿    <gc-multiline-textbox tabindex="1" [maxLength]="3" [exitOnLastChar]="exitOnLastChar" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey" [acceptsReturn]="false"></gc-multiline-textbox><br>
    <gc-multiline-textbox tabindex="2" [maxLength]="3" [exitOnLastChar]="exitOnLastChar" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey" [acceptsReturn]="false"></gc-multiline-textbox><br>
    <gc-multiline-textbox tabindex="3" [maxLength]="3" [exitOnLastChar]="exitOnLastChar" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey" [acceptsReturn]="false"></gc-multiline-textbox><br>
    ※最大3文字まで入力可能

    <table class="sample">
        <tr>
            <th>自動フォーカス移動</th>
            <td><label><input type="checkbox" (change)="exitOnLastChar=$event.target.checked">入力完了時に自動的に次のコントロールに移動する</label>
            </td>
        </tr>
        <tr>
            <th>矢印キーによるフォーカス移動</th>
            <td>
                <select id="setExitOnLeftRightKey" (change)="exitOnLeftRightKey=ExitOnLeftRightKeys[$event.target.selectedIndex]">
                    <option>なし</option>
                    <option>両方</option>
                    <option>左</option>
                    <option>右</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Enterキーによるフォーカス移動</th>
            <td>
                <select id="setExitOnEnterKey" (change)="exitOnEnterKey=ExitKeys[$event.target.selectedIndex]">
                    <option>なし</option>
                    <option>両方</option>
                    <option>Enter</option>
                    <option>Shift+Enter</option>
                </select>
            </td>
        </tr>
    </table>