<template>
    <div>
        <h3>ソート条件、フィルタ条件を利用したサンプル</h3>
        <gc-combobox ref='combo1' :items="items" :columns="columns" display-member-path="product" value-member-path="product" drop-down-width="auto"></gc-combobox>
        <table class="sample">
            <tr>
                <th>ソート条件によるソート</th>
                <td>
                    <label><input type="checkbox" @change="updateSort">商品コードを昇順にする</label>
                </td>
            </tr>
            <tr>
                <th>フィルタ条件によるフィルタ</th>
                <td>
                    <label><input type="checkbox" @change="updateFilter">「なま」を含む商品名でフィルタする</label>
                </td>
            </tr>
        </table>
        <br>
        <h3>ソート関数、フィルタ関数を利用したサンプル</h3>
        <gc-combobox ref='combo2' :items="items" :columns="columns" display-member-path="product" value-member-path="product" drop-down-width="auto"></gc-combobox>
        <table class="sample">
            <tr>
                <th>ソート関数によるソート</th>
                <td>
                    <label><input type="checkbox" @change="doCustomSort" >商品コードと単価を昇順にする</label>
                </td>
            </tr>

            <tr>
                <th>フィルタ関数によるフィルタ<br>※入力した売上以上の項目を表示する</th>
                <td>
                    <gc-number v-model="filterValue" :minValue="0"></gc-number><button @click="doFilter">実行</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import './styles.css';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import data from './data';

    new Vue({
        el: '#app',
        data: {
            items: data,
            columns: [
                { name: 'id', label: '商品コード', width: 80 },
                { name: 'product', label: '商品名', width: 200 },
                { name: 'date', label: '受注日', width: 120 },
                { name: 'price', label: '単価', width: 80 },
                { name: 'amount', label: '数量', width: 80 }
            ],
            filterValue: 0
        },
        methods: {
            //ソート条件によるソート(昇順)
            updateSort: function(e){
                let sortIdInfo = { name: 'id', isAsc: true };
                let gcCombo = this.$refs.combo1.getNestedIMControl();
                e.target.checked ? gcCombo.sort(sortIdInfo) : gcCombo.sort(null);
            },

            //フィルタ条件によるフィルタ
            updateFilter: function(e){
                let filterIdInfo = [{ name: 'product', comparator: InputMan.FilterComparator.Contains, filterString: 'なま' }];
                let gcCombo = this.$refs.combo1.getNestedIMControl();
                if (e.target.checked === true) {
                    gcCombo.filter(filterIdInfo);
                } else {
                    gcCombo.filter(null);
                }
            },

            ////ソート関数によるソート
            doCustomSort: function(e){
                //昇順関数
                const ascFunc = (first, second) => {
                    if (first.item.id == second.item.id) {
                        return first.item.price - second.item.price;
                    }
                    return first.item.id - second.item.id;
                }

                let gcCombo = this.$refs.combo2.getNestedIMControl();
                if (e.target.checked === true) {
                    gcCombo.sort(ascFunc);
                } else {
                    gcCombo.sort(null);
                }
            },

            //フィルタ関数によるフィルタ
            doFilter: function(){
                this.$refs.combo2.getNestedIMControl().filter((v) => {
                    //売上がフィルタ値より大きければ表示する
                    return v.price * v.amount > this.filterValue;
                });
            }

        }
    });
</script>