﻿休業日<br>
<gc-calendar (onInitialized)="setWeekFlag($event)"></gc-calendar>
和暦<br>
<gc-calendar [headerFormat]="'gggE年 M月'" [yearMonthFormat]="'gggE年,M月'"></gc-calendar>
六曜<br>
<gc-calendar [showRokuyou]="showRokuyou"></gc-calendar>
複数月<br>
<gc-calendar [calendarDimensions]="[3,2]"></gc-calendar>