<template>
    <div >
        <gc-combobox 
            :items='items'
            :watermark-display-null-text='"商品"'
            :watermark-null-text='"商品名を入力してください"' />
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import './styles.css';
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            items: products,
        }
    });
</script>
<style>
    body {
        min-height: 220px;
    }
</style>