<template>
    <div>
        <div class="flexbox">
            <div>
                通常の状態<br>
                <gc-number :text='"テキスト"' />
            </div>
            <div>
                無効な状態<br>
                <gc-number :text='"テキスト"' :enabled='false' />
            </div>
            <div>
                ウォーターマーク<br>
                <gc-number 
                    :watermark-display-null-text='"本体価格"'
                    :watermark-display-zero-text='"0円です"'
                    :watermark-null-text='"税抜きで入力してください"'
                    :watermark-zero-text='"0円は無効です"'
                    :value='null'
                />
            </div>
        </div>
        <div class="peoperty-header">コントロール全般のスタイル</div>
        <div class="peoperty-panel" id="updateStyle">
            <label><input type="checkbox" value=".gcim,width">コントロールの幅</label><br>
            <label><input type="checkbox" value=".gcim,height">コントロールの高さ</label><br>
            <label><input type="checkbox" value=".gcim,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim,borderWidth">境界線の幅</label><br>
            <label><input type="checkbox" value=".gcim,borderStyle">境界線のスタイル</label><br>
            <label><input type="checkbox" value=".gcim,borderRadius">境界線の角丸</label><br>
            <label><input type="checkbox" value=".gcim__input,cursor">カーソルの形</label><br>
            <label><input type="checkbox" value=".gcim,boxShadow">コントロールの影</label><br>
        </div>
        <div class="peoperty-header">テキストのスタイル</div>
        <div class="peoperty-panel" id="updateStyle">
            <label><input type="checkbox" value=".gcim,color">文字色</label><br>
            <label><input type="checkbox" value=".gcim__input,fontSize">フォントのサイズ</label><br>
            <label><input type="checkbox" value=".gcim__input,fontWeight">フォントの太さ</label><br>
            <label><input type="checkbox" value=".gcim__input,fontStyle">フォントのスタイル</label><br>
            <label><input type="checkbox" value=".gcim__input,fontFamily">フォントの種類</label><br>
            <label><input type="checkbox" value=".gcim__input,textAlign">水平方向の位置</label><br>
            <label><input type="checkbox" value=".gcim__input,textShadow">テキストの影</label><br>
            <label><input type="checkbox" value=".gcim_gc-number_negative,color">マイナス値の文字色</label><br>
        </div>
        <div class="peoperty-header">コントロール無効時のスタイル</div>
        <div class="peoperty-panel" id="updateStyle">
            <label><input type="checkbox" value=".gcim__input:disabled,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim__input:disabled,color">文字色</label><br>
            <label><input type="checkbox" value=".gcim__input:disabled,cursor">カーソルの形</label><br>
        </div>
        <div class="peoperty-header">フォーカス時のスタイル</div>
        <div class="peoperty-panel" id="updateStyle">
            <label><input type="checkbox" value=".gcim_focused,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim_focused,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim_focused,color">文字色</label><br>
        </div>
        <div class="peoperty-header">ウォーターマークのスタイル</div>
        <div class="peoperty-panel" id="updateStyle">
            <label><input type="checkbox" value=".gcim_watermark_null,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim_watermark_null,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim_watermark_null,color">文字色</label><br>
        </div>
        <div class="peoperty-header">ウォーターマークのフォーカス時のスタイル</div>
        <div class="peoperty-panel" id="updateStyle">
            <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,color">文字色</label><br>
        </div>
        <button @click="copyStyle">CSSコードをコピー</button><br>
        <textarea id="style" cols="60" rows="10"></textarea>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            styles: {
                '.gcim': { width: '200px', height: '40px', backgroundColor: '#ddffdd', borderColor: '#009900', borderWidth: '2px', borderStyle: 'dashed', borderRadius: '12px', boxShadow: '5px 5px 5px rgba(0,0,0,0.5)', color: '#009900' },
                '.gcim__input': { cursor: 'crosshair', fontSize: '20px', fontWeight: 'bold', fontStyle: 'italic', fontFamily: 'serif', textAlign: 'right', textShadow: '1px 1px 1px rgba(0,0,0,0.5)' },
                '.gcim__input:disabled': { backgroundColor: '#666666', color: '#cccccc', cursor: 'wait' },
                '.gcim_focused': { backgroundColor: '#ddddff', borderColor: '#0000ff', color: '#0000ff' },
                '.gcim_watermark_null': { backgroundColor: '#ffdddd', borderColor: '#ff0000', color: '#ff0000' },
                '.gcim_focused.gcim_watermark_null': { backgroundColor: '#ffddff', borderColor: '#990099', color: '#990099' },
                '.gcim_gc-number_negative': {color: 'blue'},
            },
            indices: [],
            styleSheet: undefined
        },
        methods: {
            copyStyle: function(){
                document.getElementById('style').select();
                document.execCommand('copy');
            }
        },
        mounted: function(){
            const element = document.createElement('style');
            document.head.appendChild(element);
            this.styleSheet = element.sheet;
            var i = 0;
            for (const styleName in this.styles) {
                this.styleSheet.insertRule(styleName + '{}', i);
                this.indices[styleName] = i;
                i++;
            }
            const propertyPanels = document.getElementsByClassName('peoperty-panel');
            for (var i = 0; i < propertyPanels.length; i++) {
                propertyPanels[i].addEventListener('click', (event) => {
                    const element = event.target;
                    if (element.tagName == 'INPUT') {
                        const values = element.value.split(',');
                        const styleName = values[0];
                        const propertyName = values[1];
                        this.styleSheet.cssRules[this.indices[styleName]].style[propertyName] = element.checked ? this.styles[styleName][propertyName] : '';
                    }

                    var style = '';
                    for (var i = 0; i < this.styleSheet.cssRules.length; i++) {
                        if (this.styleSheet.cssRules[i].style.length > 0) {
                            style += this.styleSheet.cssRules[i].cssText.replace(/{/g, '{\n ').replace(/;/g, ';\n ').replace(/  }/g, '}') + '\n';
                        }
                    }
                    document.getElementById('style').value = style;
                });
            }
        }
    });
</script>