<template>
    <div>
        <gc-text-box 
            text="宮城県仙台市泉区紫山３－１－４"
            :ellipsis="ellipsis"
            :ellipsis-string="ellipsisString"></gc-text-box>
        <table class="sample">
            <tr>
                <th>省略文字の表示</th>
                <td>
                <select v-model="ellipsis">
                    <option value="none">表示しない</option>
                    <option value="ellipsisend">文字列の末尾に表示</option>
                    <option value="ellipsispath">文字列の中央部分に表示</option>
                </select>
                </td>
            </tr>
            <tr>
                <th>省略文字に使用する文字</th>
                <td><gc-text-box v-model="ellipsisString" /></td>
            </tr>
        </table>  
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    var app = new Vue({
        el: '#app',
        data: {
            ellipsis: "none",
            ellipsisString: "..."
        }
    });
</script>