﻿<gc-text-box [text]="'宮城県仙台市泉区紫山３－１－４'" [ellipsis]="ellipsisMode" [ellipsisString]="ellipsisString"></gc-text-box>
<table class="sample">
    <tr>
        <th>省略文字の表示</th>
        <td>
            <select id="setEllipsis" (change)="ellipsisMode=ellipsisModes[$event.target.selectedIndex]">
                <option>表示しない</option>
                <option>文字列の末尾に表示</option>
                <option>文字列の中央部分に表示</option>
            </select>

        </td>
    </tr>
    <tr>
        <th>省略文字に使用する文字</th>
        <td>
            <gc-text-box [(text)]="ellipsisString"></gc-text-box>
        </td>
    </tr>
</table>