﻿<div class="flexbox">
    <div>
        半角カタカナを入力<br>
        <gc-text-box [format]="'N'" [autoConvert]="true"></gc-text-box>
    </div>
    <div>
        全角文字を入力<br>
        <gc-text-box [format]="'Ｚ'" [autoConvert]="true"></gc-text-box>
    </div>
    <div>
        ふりがなの取得<br>
        <gc-text-box [imeReadingStringAppend]="false" (onIMEReadingStringOutput)="readingString=$event.eArgs.readingString"></gc-text-box><br>
        ｶﾅ: <span id="furigana">{{readingString}}</span>
    </div>
</div>