﻿<gc-multiline-textbox style="width:11rem;" text="〒９８１−３２０５　宮城県仙台市泉区紫山３－１－４" [cursorPosition]='position'></gc-multiline-textbox>
<table class="sample">
    <tr>
        <th>フォーカス時のカーソル位置</th>
        <td>
            <select [(ngModel)]="position">
                <option value="none">指定なし</option>
                <option value="start">先頭</option>
                <option value="end">末尾</option>
            </select>
        </td>
    </tr>
</table>