<gc-mask [formatPattern]="'\\D{2,4}-\\D{2,4}-\\D{4}'" [watermarkDisplayNullText]="watermarkDisplayNullText"
    [watermarkNullText]="watermarkNullText" [promptChar]="promptChar"></gc-mask>
<table class="sample">
    <tr>
        <th>代替テキスト</th>
        <td>
            <label><input type="checkbox" checked
                    (change)="watermarkDisplayNullText=$event.target.checked ?'電話番号' : ''">フォーカスがないときの代替テキスト</label><br>
            <label><input type="checkbox" checked
                    (change)="watermarkNullText=$event.target.checked ?'市外局番から入力ください' : ''">フォーカスがあるときの代替テキスト</label>
        </td>
    </tr>
    <tr>
        <th>プロンプト文字</th>
        <td>
            <gc-text-box [(text)]="promptChar"></gc-text-box>
        </td>
    </tr>
</table>