
    <div>
        <gc-combo-box [items]="data" [isEditable]="isEditable" [autoFilter]="autoFilter"></gc-combo-box>
    </div>
    <table class="sample">
        <tr>
            <th>テキストの編集</th>
            <td>
                <label><input type="checkbox" checked (change)="isEditable=$event.target.checked">テキストの編集を許可する</label>
            </td>
        </tr>
        <tr>
            <th>オートフィルタ</th>
            <td>
                <select (change)="autoFilter=autoFilters[$event.target.selectedIndex]">
                    <option>文字列を含む</option>
                    <option>文字列で始まる</option>
                    <option>なし</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>テキストの設定</th>
            <td>
                <input type="text" id="setText"><button (click)='setText()'>実行</button>
            </td>
        </tr>
    </table>
