<div>
    通常のパスワード文字表示(オプションなし)<br>
    <gc-text-box 
        #textbox1
        [passwordChar]='passwordChar'
        passwordRevelationMode='None'>
    </gc-text-box>
</div>
<br>
<div>
    パスワード表示アイコンをクリックしている間だけテキストを表示する<br>
    <gc-text-box 
        #textbox2
        [passwordChar]='passwordChar'
        passwordRevelationMode='ShowEyeButton'>
    </gc-text-box>
</div>
<br>
<div>
    入力から1秒後にパスワード文字表示にする<br>
    <gc-text-box 
        #textbox3
        [passwordChar]='passwordChar'
        passwordRevelationMode='ShowLastTypedChar'>
    </gc-text-box>
</div>
<br>
<div>
    チェックボックスでパスワード表示を切り替える<br>
    <gc-text-box 
        #textbox4
        passwordChar='●'
        passwordRevelationMode='None'>
    </gc-text-box>
    <input type="checkbox" checked (change)="onShowPasswordChanged($event)"><label>表示する</label>
</div>
<br>
<button (click)="clearText()">パスワードをクリア</button>
<table class="sample">
    <tr>
    <th>パスワード表示に使用する文字</th>
    <td> 
        <gc-text-box [text]='passwordChar' (onTextChanged)="onPasswordCharChanged($event)"></gc-text-box>
    </td>
    </tr>
<table>