<template>
    <div>
        <div class="flexbox">
            <div>
                テキストコントロール<br>
                <gc-text-box id='textbox' text='テキスト'></gc-text-box>
            </div>
            <div>
                マスクコントロール<br>
                <gc-mask id='mask' :format-pattern='"(北海道|青森県|岩手県|宮城県|秋田県|山形県|福島県|茨城県|栃木県|群馬県|埼玉県|千葉県|東京都|神奈川県|山梨県|長野県|新潟県|富山県|石川県|福井県|岐阜県|静岡県|愛知県|三重県|滋賀県|京都府|大阪府|兵庫県|奈良県|和歌山県|鳥取県|島根県|岡山県|広島県|山口県|徳島県|香川県|愛媛県|高知県|福岡県|佐賀県|長崎県|熊本県|大分県|宮崎県|鹿児島県|沖縄県)"' :show-spin-button='true'></gc-mask>
            </div>
            <div>
                数値コントロール<br>
                <gc-number id='number' :value='1' :show-spin-button='true' :show-numeric-pad='true'></gc-number>
            </div>
            <div>
                日付時刻コントロール<br>
                <gc-datetime id='datetime' :show-spin-button='true' :show-drop-down-button='true' :drop-down-config='{dropDownType: GC.InputMan.DateDropDownType.Calendar}'></gc-datetime>
            </div>
            <div>
                カレンダーコントロール<br>
                <gc-calendar id='calendar'></gc-calendar>
            </div>
            <div>
                コンボコントロール<br>
                <gc-combobox id='combo' :items='items' :show-spin-button='true'></gc-combobox>
            </div>
            <div>
                標準の入力要素<br>
                <input id="text" value="テキスト">
            </div>
        </div>
        <gc-shortcut>
            <!-- GcTextBoxにショートカットキーを追加します。-->
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#textbox' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

            <!-- GcMaskにショートカットキーを追加します。-->
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.U' :action='GC.InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.D' :action='GC.InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
            <gc-shortcut-info target='#mask' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

            <!-- GcNumberにショートカットキーを追加します。-->
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.R' :action='GC.InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.U' :action='GC.InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.D' :action='GC.InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.Z' :action='GC.InputMan.GcShortcutAction.ThreeZero'></gc-shortcut-info>
            <gc-shortcut-info target='#number' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

            <!-- GcDateTimeにショートカットキーを追加します。-->
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.R' :action='GC.InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.U' :action='GC.InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.D' :action='GC.InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.W' :action='GC.InputMan.GcShortcutAction.Now'></gc-shortcut-info>
            <gc-shortcut-info target='#datetime' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

            <!-- GcCalendarにショートカットキーを追加します。-->
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.W' :action='GC.InputMan.GcShortcutAction.Now'></gc-shortcut-info>
            <gc-shortcut-info target='#calendar' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

            <!-- GcComboBoxにショートカットキーを追加します。-->
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.C' :action='GC.InputMan.GcShortcutAction.Clear'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.R' :action='GC.InputMan.GcShortcutAction.DropDown'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.U' :action='GC.InputMan.GcShortcutAction.SpinUp'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.D' :action='GC.InputMan.GcShortcutAction.SpinDown'></gc-shortcut-info>
            <gc-shortcut-info target='#combo' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

            <!-- input要素にショートカットキーを追加します。-->
            <gc-shortcut-info target='#text' :shortcut-key='GC.InputMan.GcShortcutKey.P' :action='GC.InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
            <gc-shortcut-info target='#text' :shortcut-key='GC.InputMan.GcShortcutKey.N' :action='GC.InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
            <gc-shortcut-info target='#text' :shortcut-key='GC.InputMan.GcShortcutKey.V' :action='showValue'></gc-shortcut-info>

        </gc-shortcut>
        <table class="sample">
            <tr>
                <th>キー</th>
                <th>アクション</th>
                <th>対象のコントロール</th>
            </tr>
            <tr>
                <td>V</td>
                <td>現在の値を表示します。これはカスタムアクションです。</td>
                <td>全コントロール</td>
            </tr>
            <tr>
                <td>P</td>
                <td>前のフィールドまたはコントロールにフォーカスを移動します。</td>
                <td>全コントロール</td>
            </tr>
            <tr>
                <td>N</td>
                <td>次のフィールドまたはコントロールにフォーカスを移動します。</td>
                <td>全コントロール</td>
            </tr>
            <tr>
                <td>C</td>
                <td>値をクリアします。</td>
                <td>標準入力要素以外の全コントロール</td>
            </tr>
            <tr>
                <td>R</td>
                <td>ドロップダウンを開きます。</td>
                <td>数値、日付時刻、コンボ</td>
            </tr>
            <tr>
                <td>U</td>
                <td>上方向のスピン操作を行います。</td>
                <td>マスク、数値、日付時刻、コンボ</td>
            </tr>
            <tr>
                <td>D</td>
                <td>下方向のスピン操作を行います。</td>
                <td>マスク、数値、日付時刻、コンボ</td>
            </tr>
            <tr>
                <td>Z</td>
                <td>現在のカーソル位置に000を挿入します。</td>
                <td>数値</td>
            </tr>
            <tr>
                <td>W</td>
                <td>現在の日時を設定します。</td>
                <td>日付時刻、カレンダー</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import './styles.css';

    new Vue({
        el: '#app',
        data: {
            items: ['果汁100%オレンジ', 'コーヒーマイルド', 'ピリピリビール', 'ホワイトソルト', 'ブラックペッパー', 'ピュアシュガー'],
            showValue: function(args){
                alert(args.target.value || args.target.selectedValue || args.target.selectedDate);
            }
        },
    });
</script>