<template>
    <div>
        <gc-calendar 
            :header-format="headerFormat" 
            :year-month-format="yearMonthFormat"
            :calendar-year="calendarYear"
            :first-fiscal-month="firstFiscalMonth">
        </gc-calendar>
        <table class="sample">
                <tr>
                    <th>月-日カレンダーの書式</th>
                    <td>
                        <gc-combobox
                            :items="headerFormatOptions.items"
                            :columns="headerFormatOptions.columns"
                            :selected-value="headerFormat"
                            :value-member-path="'value'"
                            :display-member-path="'value'"
                            :drop-down-width="'auto'"
                            @selectedchanged="headerFormatChanged"
                            ></gc-combobox>
                    </td>
                </tr>
                <tr>
                    <th>年-月カレンダーの書式</th>
                    <td>
                         <gc-combobox
                            :items="yearMonthFormatOptions.items"
                            :columns="yearMonthFormatOptions.columns"
                            :selected-value="yearMonthFormat"
                            :value-member-path="'value'"
                            :display-member-path="'value'"
                            :drop-down-width="'auto'"
                            @selectedchanged="yearMonthFormatChanged"
                            ></gc-combobox>
                    </td>
                </tr>
                <tr>
                    <th>会計年度表示</th>
                    <td>
                        <label><input type="checkbox" id="setCalendarYear" @change="calendarYearChanged">会計年度で表示</label><br>
                        <label>最初の月
                            <select id="setFirstFiscalMonth" @change="firstFiscalMonth = $event.target.selectedIndex">
                                <option>指定なし</option>
                                <option>1月</option>
                                <option>2月</option>
                                <option>3月</option>
                                <option selected>4月</option>
                                <option>5月</option>
                                <option>6月</option>
                                <option>7月</option>
                                <option>8月</option>
                                <option>9月</option>
                                <option>10月</option>
                                <option>11月</option>
                                <option>12月</option>
                            </select>
                        </label>
                    </td>
                </tr>
            </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            // 月-日カレンダーの書式を設定します。
            headerFormat: 'yyy年 M月',
            // 年-月カレンダーの書式を設定します。
            yearMonthFormat: 'yyy年,M月',
            // カレンダーを会計年度の形式で表示しません。
            calendarYear: InputMan.CalendarYear.Normal,
            // 会計年度の最初の月を設定します。
            firstFiscalMonth: InputMan.Months.April,
            headerFormatOptions: {
                items:[
                    { value: 'yyy年 M月', desc: '2018年 1月' },
                    { value: 'yyy/M', desc: '2018/1' },
                    { value: 'gggE年 M月', desc: '平成元年1月' },
                    { value: 'g.e/M', desc: 'H.1/1' },
                    { value: 'yyy年度 M月', desc: '2018年度 1月' },
                    { value: 'FYyyy/M', desc: 'FY2018/1' },
                ],
                columns: [
                    { name: 'value', label: '書式', width: 120 },
                    { name: 'desc', label: '説明', width: 120 },
                ]
            },
            yearMonthFormatOptions: {
                items: [
                    { value: 'yyy年,M月', desc: '2018年、1月' },
                    { value: 'yyy,M', desc: '2018、1' },
                    { value: 'gggE年,M月', desc: '平成元年、1月' },
                    { value: 'g.e,M', desc: 'H.1、1' },
                    { value: 'yyy年度,M月', desc: '2018年度、1月' },
                    { value: 'FYyyy,M', desc: 'FY2018、1' },
                ],
                columns: [
                    { name: 'value', label: '書式', width: 120 },
                    { name: 'desc', label: '説明', width: 130 },
                ]
            }
        },
        methods: {
            headerFormatChanged: function(sender, args){
                this.headerFormat = sender.getSelectedValue();
            },
            yearMonthFormatChanged: function(sender, args){
                this.yearMonthFormat = sender.getSelectedValue();
            },
            calendarYearChanged: function(event){
                this.calendarYear = event.target.checked ? InputMan.CalendarYear.Fiscal : InputMan.CalendarYear.Normal
            }
        }
    });

    
</script>

<style>
    body {
        padding-bottom: 10rem;
    }
</style>
