<gc-number tabindex="0" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-number><br>
<gc-number tabindex="1" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-number><br>
<gc-number tabindex="2" [exitOnLeftRightKey]="exitOnLeftRightKey" [exitOnEnterKey]="exitOnEnterKey"></gc-number><br>

<table class="sample">
    <tr>
        <th>矢印キーによるフォーカス移動</th>
        <td>
            <select (change)="exitOnLeftRightKey=exitOnLeftRightKeys[$event.target.selectedIndex]">
                <option>なし</option>
                <option>両方</option>
                <option>左</option>
                <option>右</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Enterキーによるフォーカス移動</th>
        <td>
            <select (change)="exitOnEnterKey=ExitKeys[$event.target.selectedIndex]">
                <option>なし</option>
                <option>両方</option>
                <option>Enter</option>
                <option>Shift+Enter</option>
            </select>
        </td>
    </tr>
</table>