<gc-number [value]="10000" [displayFormatDigit]="displayFormatDigit" [displayPositivePrefix]="displayPositivePrefix"
    [displayNegativePrefix]="displayNegativePrefix" [displayPositiveSuffix]="displayPositiveSuffix" [displayNegativeSuffix]="displayNegativeSuffix" [formatDigit]="formatDigit"
    [positivePrefix]="positivePrefix" [negativePrefix]="negativePrefix" [positiveSuffix]="positiveSuffix" [negativeSuffix]="negativeSuffix" [currencySymbol]="currencySymbol"
    [decimalPoint]="decimalPoint" [separator]="separator"></gc-number>
<p>表示書式</p>
<table class="sample" style="margin-top: -1rem;">
    <tr>
        <th>書式</th>
        <td>
            <select (change)="displayFormatDigit=$event.target.value">
                <option>#####</option>
                <option>00000</option>
                <option>##,###</option>
                <option selected>##,##0</option>
                <option>##,##0.##</option>
                <option>##,##0.00</option>
            </select>
        </td>
        <th>通貨記号</th>
        <td>
            <gc-text-box [(text)]="currencySymbol"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>接頭書式[正数]</th>
        <td>
            <gc-text-box [(text)]="displayPositivePrefix"></gc-text-box>
        </td>
        <th>接尾書式[正数]</th>
        <td>
            <gc-text-box [(text)]="displayPositiveSuffix"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>接頭書式[負数]</th>
        <td>
            <gc-text-box [(text)]="displayNegativePrefix"></gc-text-box>
        </td>
        <th>接尾書式[負数]</th>
        <td>
            <gc-text-box [(text)]="displayNegativeSuffix"></gc-text-box>
        </td>
    </tr>
</table>
<p>入力書式</p>
<table class="sample" style="margin-top: -1rem;">
    <tr>
        <th>書式</th>
        <td>
            <select (change)="formatDigit=$event.target.value">
                <option>#####</option>
                <option>00000</option>
                <option>##,###</option>
                <option>##,##0</option>
                <option>##,##0.##</option>
                <option>##,##0.00</option>
            </select>
        </td>
        <th>通貨記号</th>
        <td>
            <gc-text-box [text]="'（表示書式と同様）'" [readOnly]="true"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>接頭書式[正数]</th>
        <td>
            <gc-text-box [(text)]="positivePrefix"></gc-text-box>
        </td>
        <th>接尾書式[正数]</th>
        <td>
            <gc-text-box [(text)]="positiveSuffix"></gc-text-box>
        </td>
    </tr>
    <tr>
        <th>接頭書式[負数]</th>
        <td>
            <gc-text-box [(text)]="negativePrefix"></gc-text-box>
        </td>
        <th>接尾書式[負数]</th>
        <td>
            <gc-text-box [(text)]="negativeSuffix"></gc-text-box>
        </td>
    </tr>
</table>