
<gc-text-box
    [showClearButton]="showClearButton"
    text="テキスト">
</gc-text-box>
<table class="sample">
    <tr>
        <th>クリアボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="showClearButton">表示する</label>
        </td>
    </tr>
</table>