<template>
    <div>
        都道府県<br>
        <gc-text-box @oninitialized="oninitialized" />

        <div id="prefecture">
            <table>
                <tr>
                    <th>北海道</th>
                    <td><span>北海道</span></td>
                </tr>
                <tr>
                    <th>東北</th>
                    <td><span>青森県</span><span>岩手県</span><span>宮城県</span><span>秋田県</span><span>山形県</span><span>福島県</span>
                    </td>
                </tr>
                <tr>
                    <th>関東</th>
                    <td><span>茨城県</span><span>栃木県</span><span>群馬県</span><span>埼玉県</span><span>千葉県</span><span>東京都</span><span>神奈川県</span>
                    </td>
                </tr>
                <tr>
                    <th>甲信越</th>
                    <td><span>山梨県</span><span>長野県</span><span>新潟県</span></td>
                </tr>
                <tr>
                    <th>北陸</th>
                    <td><span>富山県</span><span>石川県</span><span>福井県</span></td>
                </tr>
                <tr>
                    <th>東海</th>
                    <td><span>岐阜県</span><span>静岡県</span><span>愛知県</span><span>三重県</span></td>
                </tr>
                <tr>
                    <th>近畿</th>
                    <td><span>滋賀県</span><span>京都府</span><span>大阪府</span><span>兵庫県</span><span>奈良県</span><span>和歌山県</span>
                    </td>
                </tr>
                <tr>
                    <th>中国四国</th>
                    <td><span>鳥取県</span><span>島根県</span><span>岡山県</span><span>広島県</span><span>山口県</span><span>徳島県</span><span>香川県</span><span>愛媛県</span><span>高知県</span>
                    </td>
                </tr>
                <tr>
                    <th>九州</th>
                    <td><span>福岡県</span><span>佐賀県</span><span>長崎県</span><span>熊本県</span><span>大分県</span><span>宮崎県</span><span>鹿児島県</span>
                    </td>
                </tr>
                <tr>
                    <th>沖縄</th>
                    <td><span>沖縄県</span></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {},
        methods: {
            oninitialized: function(s){
                const gcTextBox = s;
                const gcDropDown = gcTextBox.createDropDown();

                const dropdownContent = document.getElementById('prefecture');
                document.getElementById('prefecture').addEventListener('click', (e) => {
                    if (e.srcElement.tagName.toLowerCase() == 'span') {
                        gcTextBox.setText(e.srcElement.innerText);
                        gcDropDown.close();
                    }
                });

                gcDropDown.getElement().appendChild(dropdownContent);
            }
        }
    });
</script>