<template>
    <div >
        <gc-combobox 
            :key='Date.now()'
            :items='products'
            :show-drop-down-button='showDropDownButton'
            :show-spin-button='showSpinButton'
            :spin-button-position='spinButtonPosition'
            :drop-down-button-position='dropDownButtonPosition'
            :spin-wheel='spinWheel' />
        <table class="sample">
            <tr>
                <th>スピンボタン</th>
                <td>
                    <label><input type="checkbox" checked @change="showSpinButton=$event.target.checked">スピンボタンを表示する</label>
                </td>
            </tr>
            <tr>
                <th>スピンボタンの位置</th>
                <td>
                    <select @change="spinButtonPosition=$event.target.value">
                        <option value='rightside'>右</option>
                        <option value='leftside'>左</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>ドロップダウンボタン</th>
                <td>
                    <label><input type="checkbox" checked @change="showDropDownButton=$event.target.checked">ドロップダウンボタンを表示する</label>
                </td>
            </tr>
            <tr>
                <th>ドロップダウンボタンの位置</th>
                <td>
                    <select @change="dropDownButtonPosition=$event.target.value">
                        <option value='rightside'>右</option>
                        <option value='leftside'>左</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>マウスホイールでのスピン操作</th>
                <td><label><input type="checkbox" v-model="spinWheel">有効にする</label></td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import products from './data';
    
    new Vue({
        el: '#app',
        data: {
            products: products,
            showSpinButton: true,
            showDropDownButton: true,
            spinButtonPosition: InputMan.SpinButtonAlignment.RightSide,
            dropDownButtonPosition: InputMan.DropDownButtonAlignment.RightSide,
            spinWheel: true
        }
    });
</script>
<style>
    body {
        min-height: 220px;
    }
</style>