body {
    padding-bottom: 10rem;
}
.flexbox > div {
    width: 200px;
}
table.sample > tbody > tr > td:nth-child(3) {
    max-width: 500px;
}
table.form {
    border-collapse: collapse;
}
table.form > tbody > tr > * {
    padding: 0.25rem 0.5rem;
    background: white;
    border: 1px solid #D2D2D2;
}
table.form > tbody > tr > th {
    text-align: left;
    background: #F0F0F0;
    font-weight: normal;
}
.product {
    color: blue;
    cursor : pointer;
}