<template>
    <div>
        <gc-calendar  @oninitialized="gcCalendar=arguments[0]"
            :first-day-of-week="firstDayOfWeek"
            :first-month-in-view="firstMonthInView"
            :calendar-dimensions="dimensions"
            :show-header="showHeader"
            :show-trailing="showTrailing"
            :show-rokuyou="showRokuyou"
            :show-today="showToday"
            :show-week-number="showWeekNumber"
        />
        <table class="sample">
            <tr>
                <th>最初の列の曜日</th>
                <td>
                    <select id="setFirstDayOfWeek" @change="firstDayOfWeekChanged">
                        <option>システムの設定</option>
                        <option>日曜</option>
                        <option>月曜</option>
                        <option>火曜</option>
                        <option>水曜</option>
                        <option>木曜</option>
                        <option>金曜</option>
                        <option>土曜</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>複数月の表示</th>
                <td>
                    <label>列数：<input type="number" id="width" value="1" style="width: 3rem;" @change="changeDimensions('width', parseInt(event.target.value))"></label>
                    <label>行数：<input type="number" id="height" value="1" style="width: 3rem;" @change="changeDimensions('height', parseInt(event.target.value))"></label>
                </td>
            </tr>
            <tr>
                <th>最初の月</th>
                <td>
                    <select id="setFirstMonthInView" @change="firstMonthInViewChanged">
                        <option>指定なし</option>
                        <option>1月</option>
                        <option>2月</option>
                        <option>3月</option>
                        <option>4月</option>
                        <option>5月</option>
                        <option>6月</option>
                        <option>7月</option>
                        <option>8月</option>
                        <option>9月</option>
                        <option>10月</option>
                        <option>11月</option>
                        <option>12月</option>
                    </select>
                    （12ヶ月表示時のみ）
                </td>
            </tr>
            <tr>
                <th>ヘッダの表示</th>
                <td><label><input type="checkbox" v-model='showHeader'>表示する</label></td>
            </tr>
            <tr>
                <th>隣接日の表示</th>
                <td><label><input type="checkbox" v-model='showTrailing'>表示する</label></td>
            </tr>
            <tr>
                <th>空白行の表示</th>
                <td><label><input type="checkbox" @change="emptyRowChanged">表示する</label></td>
            </tr>
            <tr>
                <th>今日の日付の表示</th>
                <td><label><input type="checkbox" v-model='showToday'>表示する</label></td>
            </tr>
            <tr>
                <th>週番号</th>
                <td><label><input type="checkbox" v-model='showWeekNumber'>表示する</label></td>
            </tr>
            <tr>
                <th>六曜</th>
                <td>
                    <button id="showAllRokuyouBtn" @click="showAllRokuyou(true)">すべて表示</button>
                    <button id="hideAllRokuyouBtn" @click="showAllRokuyou(false)">すべて非表示</button><br>
                    <div id="rokuyouList" @click="rokuyouListChanged">
                        <label><input type="checkbox" value="先勝">先勝</label>
                        <label><input type="checkbox" value="友引">友引</label>
                        <label><input type="checkbox" value="先負">先負</label>
                        <label><input type="checkbox" value="仏滅">仏滅</label>
                        <label><input type="checkbox" value="大安">大安</label>
                        <label><input type="checkbox" value="赤口">赤口</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        name: "app",
        el: '#app',
        data:{
            gcCalendar: null,
            dimensions: {width :1, height: 1},
            firstDayOfWeek: InputMan.DayOfWeek.NotSet,
            firstMonthInView: InputMan.Months.Default,
            showHeader: true,
            showRokuyou: InputMan.Rokuyou.None,
            showTrailing: true,
            showToday: true,
            showWeekNumber: true,
        },
        methods: {
            firstDayOfWeekChanged: function(event){
                this.firstDayOfWeek = dayOfWeeks[event.target.selectedIndex];
            },
            firstMonthInViewChanged: function(event){
                this.firstMonthInView = event.target.selectedIndex
            },
            changeDimensions: function(type, num){
                var obj = {...this.dimensions};
                obj[type] = num;
                this.dimensions = obj;
            },
            emptyRowChanged: function(e){
                this.gcCalendar.setEmptyRows(e.target.checked ? InputMan.EmptyRows.StartEmpty : InputMan.EmptyRows.AllAtEnd);
                this.gcCalendar.setFocusDate(new Date(2015, 1, 1));
            },
            rokuyouListChanged: function(e){
                const target = e.currentTarget;
                var rokuyou = InputMan.Rokuyou.None;
                for (var i = 0; i < target.children.length; i++) {
                    const checkbox = target.children[i].firstChild;
                    rokuyou |= (checkbox && checkbox.checked) ? rokuyous[i] : InputMan.Rokuyou.None;
                }
                this.gcCalendar.setShowRokuyou(rokuyou);
            },
            showAllRokuyou: function(isShow){
                const rokuyousList = document.getElementById('rokuyouList');
                for (var i = 0; i < rokuyousList.children.length; i++) {
                    const checkbox = rokuyousList.children[i].firstChild;
                    if (checkbox) {
                        checkbox.checked = isShow;
                    }
                }
                this.gcCalendar.setShowRokuyou(isShow ? InputMan.Rokuyou.All : InputMan.Rokuyou.None);
            }
        }
    });

    const dayOfWeeks = [
        InputMan.DayOfWeek.NotSet,
        InputMan.DayOfWeek.Sunday,
        InputMan.DayOfWeek.Monday,
        InputMan.DayOfWeek.Tuesday,
        InputMan.DayOfWeek.Wednesday,
        InputMan.DayOfWeek.Thursday,
        InputMan.DayOfWeek.Friday,
        InputMan.DayOfWeek.Saturday
    ];

    const rokuyous = [
        InputMan.Rokuyou.Senshou,
        InputMan.Rokuyou.Tomobiki,
        InputMan.Rokuyou.Senbu,
        InputMan.Rokuyou.Butsumetsu,
        InputMan.Rokuyou.Taian,
        InputMan.Rokuyou.Shakkou
    ];
</script>