<template>
    <div >
        日付時刻<br>
        <gc-datetime />
        <br><br>
        標準のテキストボックス<br>
        <input>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {}
    });
</script>