<template>
    <div>
        
        <div class="flexbox">
            <div>
                <gc-mask 
                    :format-pattern='formatPattern1'
                    @oninitialized='oninitialized'
                    @oneditstatuschanged='log("onEditStatusChanged")'
                    @onfocusout='log("onFocusOut")'
                    @oninput='log("onInput")'
                    @oninvalidinput='log("onInvalidInput")'
                    @onkeydown='log("onKeyDown")'
                    @onkeyexit='log("onKeyExit")'
                    @onkeyup='log("onKeyUp")'
                    @onspindown='log("onSpinDown")'
                    @onspinup='log("onSpinUp")'
                    @ontextchanged='log("onTextChanged")'
                    @ontextchanging='log("onTextChanging")'
                    @onvaluechanged='log("onValueChanged")'
                    />
            </div>
            <div>
                <gc-mask 
                    :format-pattern='formatPattern2'
                    :show-spin-button='true'
                    @oninitialized='oninitialized'
                    @oneditstatuschanged='log("onEditStatusChanged")'
                    @onfocusout='log("onFocusOut")'
                    @oninput='log("onInput")'
                    @oninvalidinput='log("onInvalidInput")'
                    @onkeydown='log("onKeyDown")'
                    @onkeyexit='log("onKeyExit")'
                    @onkeyup='log("onKeyUp")'
                    @onspindown='log("onSpinDown")'
                    @onspinup='log("onSpinUp")'
                    @ontextchanged='log("onTextChanged")'
                    @ontextchanging='log("onTextChanging")'
                    @onvaluechanged='log("onValueChanged")'
                    />
            </div>
        </div>
        イベント<br>
        <textarea id="log" rows="10" cols="30"></textarea>

    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    new Vue({
        el: '#app',
        data: {
            formatPattern1: '〒\\D{3}-\\D{4}',
            formatPattern2: '(AAA|BBB|CCC|DDD|EEE)'
        },
        methods: {
            log: function(message){
                const textarea = document.getElementById('log');
                textarea.value += message + '\n';
                textarea.scrollTop = textarea.scrollHeight;
            },
            oninitialized: function(sender){
                 sender.onSyncValueToOriginalInput((sender, eArgs) => {
                    this.log('onSyncValueToOriginalInput');
                });
            }
        }
    });
</script>