<template>
    <div class="flexbox">
        <div>
            文字配列に連結<br>
            <gc-combobox :items='stringItmes' />
        </div>
        <div>
            オブジェクト配列に連結<br>
             <gc-combobox :items='objectItems' 
                :display-member-path='"name"'
                :value-member-path='"name"'
             />
        </div>
        <div>
            option要素から生成<br>
            <select id="gcComboBoxDom">
                <option>果汁100%オレンジ</option>
                <option>果汁100%グレープ</option>
                <option>果汁100%レモン</option>
                <option>果汁100%ピーチ</option>
                <option>コーヒーマイルド</option>
                <option>コーヒービター</option>
            </select>
        </div>
    </div>
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    new Vue({
        el: '#app',
        data: {
            stringItmes:[
                '果汁100%オレンジ',
                '果汁100%グレープ',
                '果汁100%レモン',
                '果汁100%ピーチ',
                'コーヒーマイルド',
                'コーヒービター'
            ],
            objectItems: [
                { name: '果汁100%オレンジ' },
                { name: '果汁100%グレープ' },
                { name: '果汁100%レモン' },
                { name: '果汁100%ピーチ' },
                { name: 'コーヒーマイルド' },
                { name: 'コーヒービター' }
            ],
        },
        mounted: function(){
            const gcComboBoxDom = new InputMan.GcComboBox(document.getElementById('gcComboBoxDom'));
        }
    });
   
</script>

<style>
    body {
        min-height: 220px;
    }
</style>
