<template>
    <div>
        <gc-text-box 
            :max-length="maxLength" 
            :length-as-byte="lengthAsByte" 
            :accepts-crlf="acceptsCrlf"></gc-text-box>

        <table class="sample">
            <tr>
                <th>最大文字数</th>
                <td>
                    <input 
                        type="number" 
                        min="0"
                        v-model.lazy="maxLength" />&nbsp;
                    <input 
                        type="radio" 
                        name="setLengthAsBytef" 
                        value="false"
                        v-model="lengthAsByte" /><label>文字単位</label>&nbsp;
                    <input 
                        type="radio" 
                        name="setLengthAsByte"
                        value="true" 
                        v-model="lengthAsByte" /><label>バイト単位</label>
                </td>
            </tr>
            <tr>
                <th>改行コードの扱い</th>
                <td>
                    <select 
                        v-model="acceptsCrlf">
                        <option value="nocontrol">そのまま使用</option>
                        <option value="filter">すべての改行コードを削除</option>
                        <option value="cut">改行コード以降の文字列を切り取り</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>  
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    
    var app = new Vue({
        el: '#app',
        data: function() {
            var res = {
                maxLength : 5,
                lengthAsByte : false,
                acceptsCrlf : "nocontrol",    
            }
            return res;
        },
    });
</script>