<template>
    <gc-listbox 
        :items='items'
        :item-height='42'
        :width='300'
        :item-template='itemTemplate'
        :header-template='headerTemplate'
        :footer-template='footerTemplate' />
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import "./styles.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    import employees from './data';

    new Vue({
        el: '#app',
        data: function() {
            var res = {
                items: employees,
                itemTemplate: `<div class="template-item">
                    <div class="id">{!id}</div>
                    <div class="image"><img src="{!image}"></div>
                    <div class="name"><ruby>{!lastName}<rt>{!lastKana}</rt></ruby>&nbsp;<ruby>{!firstName}<rt>{!firstKana}</rt></ruby></div>
                    <div class="note">{!office}<br>{!department}</div>
                    </div>`,
                headerTemplate: '<div class="template-item"><div class="id">ID</div><div class="image">写真</div><div class="name">氏名</div><div class="note">所属</div></div>',
                footerTemplate: `<div>
                    <span>選択されている項目: {!instance.getSelectedItem() == null ? '何も選択されていません' : instance.getSelectedItem().name}</span>
                    </div>`
            }
            return res;
        },
        methods: {
            log: function(sender){
                document.getElementById('selectedItem').innerText = sender.getSelectedValue();
            }
        },
        mounted: function(){
            // option要素から生成
            var gcListBoxDom = new InputMan.GcListBox(document.getElementById('gcListBoxDom'));
            gcListBoxDom.addEventListener(
                InputMan.GcListBoxEvent.SelectedChanged, 
                (sender) => this.log(sender)
            );
        }
    });
</script>