/* 日曜と休業日のスタイル */
.gcim-calendar__outter-container .gcim-calendar__weekday_sunday, .gcim-calendar__outter-container .gcim-calendar__weekday_wednesday {
    color: red;
}

/* 土曜のスタイル */
.gcim-calendar__outter-container .gcim-calendar__weekday_saturday {
    color: blue;
}