
    <div class="flexbox">
        <div>
            テキストコントロール<br>
            <gc-text-box id="textbox" [text]="'テキスト'"></gc-text-box>
        </div>
        <div>
            複数行テキストコントロール<br>
            <gc-multiline-textbox id="multitextbox" [text]="'宮城県仙台市泉区紫山３－１－４'"></gc-multiline-textbox>
        </div>
        <div>
            マスクコントロール<br>
            <gc-mask id='mask' [formatPattern]="'〒\\D{3}-\\D{4}'"></gc-mask>
        </div>
        <div>
            数値コントロール<br>
            <gc-number id='number'></gc-number>
        </div>
        <div>
            日付時刻コントロール<br>
            <gc-datetime id='datetime'></gc-datetime>
        </div>
        <div>
            カレンダーコントロール<br>
            <gc-calendar id='calendar'></gc-calendar>
        </div>
        <div>
            コンボコントロール<br>
            <gc-combo-box id='combo' [items]="products"></gc-combo-box>
        </div>
        <div>
            リストコントロール<br>
            <gc-list-box id='list' [items]="products"></gc-list-box>
        </div>
        <div>
            ドロップダウンプラグイン<br>
            <gc-text-box id='textbox-dropdown' (onInitialized)="initGcTextBoxDropDown($event)"></gc-text-box>
        </div>
        <div>
            検証コントロール<br>
            <gc-text-box id='textbox-validator' (onInitialized)="initGcTextBoxValidator($event)"></gc-text-box>
        </div>
        <div>
            ソフトウェアキーボード<br>
            <input id="soft-key-input" autocomplete="off" (focus)="onInputFocus()">
            <gc-soft-keyboard #keyboard target="#soft-key-input"></gc-soft-keyboard>
        </div>
    </div>
    <div>
        ファンクションキーコントロール<br>
        <gc-function-key (onActived)="onFunctionKeyActived($event)">
            <gc-function-key-info [key]="InputMan.FunctionKey.F1" description="F1"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F2" description="F2"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F3" description="F3"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F4" description="F4"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F5" description="F5"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F6" description="F6"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F7" description="F7"></gc-function-key-info>
            <gc-function-key-info [key]="InputMan.FunctionKey.F8" description="F8"></gc-function-key-info>

            <gc-function-key-info [key]="SF9" description="Shift+F9"></gc-function-key-info>
            <gc-function-key-info [key]="SF10" description="Shift+F10"></gc-function-key-info>
            <gc-function-key-info [key]="SF11" description="Shift+F11"></gc-function-key-info>
            <gc-function-key-info [key]="SF12" description="Shift+F12"></gc-function-key-info>

            <gc-function-key-info [key]="CFH" description="Ctrl+Home"></gc-function-key-info>
            <gc-function-key-info [key]="CFE" description="Ctrl+End"></gc-function-key-info>

            <gc-function-key-info [key]="AFPU" description="Alt+PageUp"></gc-function-key-info>
            <gc-function-key-info [key]="AFPD" description="Alt+PageDown"></gc-function-key-info>
        </gc-function-key>
    </div>
    <br>
    <div>
        電卓コントロール<br>
        <gc-calculator></gc-calculator>
    </div>
    <gc-shortcut>
        <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#multitextbox' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#list' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#textbox-dropdown' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#textbox-validator' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#soft-key-input' [shortcutKey]='InputMan.GcShortcutKey.P' [action]='InputMan.GcShortcutAction.PreviousControl'></gc-shortcut-info>
        <gc-shortcut-info target='#textbox' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#multitextbox' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#mask' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#number' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#datetime' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#calendar' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#combo' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#list' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#textbox-dropdown' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#textbox-validator' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
        <gc-shortcut-info target='#soft-key-input' [shortcutKey]='InputMan.GcShortcutKey.N' [action]='InputMan.GcShortcutAction.NextControl'></gc-shortcut-info>
    </gc-shortcut>
    <div id="products">
    <table class="form">
        <tr>
            <th>商品コード</th>
            <th>商品名</th>
            <th>価格</th>
        </tr>
        <tr>
            <th colspan="3">飲料</th>
        </tr>
        <tr>
            <td>11</td>
            <td class="product">果汁100%オレンジ</td>
            <td>200円</td>
        </tr>
        <tr>
            <td>12</td>
            <td class="product">コーヒーマイルド</td>
            <td>190円</td>
        </tr>
        <tr>
            <td>13</td>
            <td class="product">ピリピリビール</td>
            <td>280円</td>
        </tr>
        <tr>
            <th colspan="3">調味料</th>
        </tr>
        <tr>
            <td>21</td>
            <td class="product">ホワイトソルト</td>
            <td>260円</td>
        </tr>
        <tr>
            <td>22</td>
            <td class="product">ブラックペッパー</td>
            <td>210円</td>
        </tr>
        <tr>
            <td>23</td>
            <td class="product">ピュアシュガー</td>
            <td>280円</td>
        </tr>
    </table>
    </div>
