
    <div class="flexbox">
        <div>
            和暦日付<br>
            <gc-datetime [displayFormatPattern]="'ggg E年M月d日'" [formatPattern]="'yyyy/MM/dd'" [showSpinButton]="true"></gc-datetime>
        </div>
        <div>
            時刻<br>
            <gc-datetime [displayFormatPattern]="'tt h時m分s秒'" [formatPattern]="'HH:mm:ss'" [showSpinButton]="true"></gc-datetime>
        </div>
        <div>
            ドロップダウンカレンダー<br>
            <gc-datetime [displayFormatPattern]="'yyy年M月d日'" [formatPattern]="'yyyy/MM/dd'" [showDropDownButton]="true" [dropDownConfig]="dropDownConfig"></gc-datetime>
        </div>
        <div>
            ドロップダウン日付時刻ピッカー<br>
            <gc-datetime [showDropDownButton]="true"></gc-datetime>
        </div>
    </div>
