<div class="flexbox">
    <div id="container1" #container1>
        <p>ドロップダウンが下に表示されます。</p>
        <gc-datetime (onInitialized)="gcDateTime1=$event" [dropDownButtonAlignment]="dropDownButtonAlignment"
            [showDropDownButton]="true" [autoDropDown]="autoDropDown" [dropDownButtonVisible]="dropDownButtonVisible"
            [container]="container1"></gc-datetime>
    </div>
    <div id="container2" #container2>
        <p>ドロップダウンが上に表示されます。</p>
        <gc-datetime (onInitialized)="gcDateTime2=$event" [dropDownButtonAlignment]="dropDownButtonAlignment"
            [showDropDownButton]="true" [autoDropDown]="autoDropDown" [dropDownButtonVisible]="dropDownButtonVisible"
            [container]="container2"></gc-datetime>
    </div>
</div>
<table class="sample">
    <tr>
        <th>種類</th>
        <td>
            <select (change)="setPickerType($event.target.selectedIndex)">
                <option>日付と時刻</option>
                <option>日付</option>
                <option>時刻</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>最小日付</th>
        <td>
            <gc-datetime [displayFormatPattern]="'yyy/MM/dd'" [formatPattern]="'yyy/MM/dd'" [showDropDownButton]="true"
                [dropDownConfig]="dropDownCalendarConfig" (valueChange)="setPickerMinDate($event)" [value]="null">
            </gc-datetime>
        </td>
    </tr>
    <tr>
        <th>最大日付</th>
        <td>
            <gc-datetime [displayFormatPattern]="'yyy/MM/dd'" [formatPattern]="'yyy/MM/dd'" [showDropDownButton]="true"
                [dropDownConfig]="dropDownCalendarConfig" (valueChange)="setPickerMaxDate($event)" [value]="null">
            </gc-datetime>
        </td>
    </tr>
    <tr>
        <th>分の間隔</th>
        <td>
            <select (change)="setMinuteInterval($event.target.selectedIndex)">
                <option>1分</option>
                <option>5分</option>
                <option>10分</option>
                <option>15分</option>
                <option>20分</option>
                <option>30分</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>秒の間隔</th>
        <td>
            <select (change)="setSecondsInterval($event.target.selectedIndex)">
                <option>1秒</option>
                <option>5秒</option>
                <option>10秒</option>
                <option>15秒</option>
                <option>20秒</option>
                <option>30秒</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>フォーカス時のドロップダウン操作</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="autoDropDown">フォーカス時にドロップダウンを開く</label>
        </td>
    </tr>
    <tr>
        <th>コードによるドロップダウン操作</th>
        <td>
            <button id="open" (click)='showDropDown(true)'>ドロップダウンを開く</button>
            <button id="close" (click)='showDropDown(false)'>ドロップダウンを閉じる</button>
        </td>
    </tr>
    <tr>
        <th>ドロップダウンボタンの表示</th>
        <td>
            <label><input type="checkbox" [(ngModel)]="dropDownButtonVisible">ドロップダウンボタンを表示する</label>
        </td>
    </tr>
</table>