
    <table id="btn_container" (click)="handler($event)">
        <tr>
            <td style="min-width: 300px;">
                <table>
                    <tr>
                        <td>商品コード</td>
                        <td><gc-mask [formatPattern]="'\\A\\D{3}'" [(value)]="controlDic['商品コード']" [enabled]="enabled"></gc-mask></td>
                    </tr>
                    <tr>
                        <td>商品名</td>
                        <td><gc-text-box [(text)]="controlDic['商品名']" [enabled]="enabled"></gc-text-box></td>
                    </tr>
                    <tr>
                        <td>分類</td>
                        <td><gc-combo-box [items]="categoryNames" [(selectedValue)]="controlDic['分類']" [enabled]="enabled"></gc-combo-box></td>
                    </tr>
                    <tr>
                        <td>価格</td>
                        <td><gc-number [displayPositivePrefix]="'$'" [displayNegativePrefix]="'-$'" [displayFormatDigit]="'##,##0'" [showNumericPad]="true" [(value)]="controlDic['価格']" [enabled]="enabled"></gc-number></td>
                    </tr>
                    <tr>
                        <td>発売日</td>
                        <td><gc-datetime [formatPattern]="'yyy/M/d'" [displayFormatPattern]="''" [showDropDownButton]="true" [dropDownConfig]="gcDateTimeDropDownConfig" [(value)]="controlDic['発売日']" [enabled]="enabled"></gc-datetime></td>
                    </tr>
                </table><br>
                <div id="editForm" style="display: block;">
                    <button name="edit">編集</button>
                    <button name="add">追加</button>
                    <button name="remove">削除</button>
                </div>
                <div id="commitForm" style="display: none;">
                    <button name="commit">確定</button>
                    <button name="cancel">キャンセル</button>
                </div>
                <div>
                    <button name="moveCurrentToFirst">&lt;&lt;</button>
                    <button name="moveCurrentToPrevious">&lt;</button>
                    <button name="moveCurrentToNext">&gt;</button>
                    <button name="moveCurrentToLast">&gt;&gt;</button>
                </div>
            </td>
            <td>
                <div id="grid" style="height: 15rem;"></div>
            </td>
        </tr>
    </table><br>
    <table style="table-layout: fixed; width: 100%;">
        <tr>
            <td>
                <label>編集された項目：<div id="gridEdited" style="height: 6.5rem;"></div></label>
            </td>
            <td>
                <label>追加された項目：<div id="gridAdded" style="height: 6.5rem;"></div></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>削除された項目：<div id="gridRemoved" style="height: 6.5rem;"></div></label>
            </td>
            <td>

            </td>
        </tr>
    </table>
