<gc-list-box [items]="products" (checkedChanged)="log('CheckedChanged')" (focusedChanged)="log('FocusedChanged')"
    (itemClick)="log('ItemClick')" (itemsChanged)="log('ItemsChanged')" (loadComplete)="log('LoadComplete')"
    (selectedChanged)="log('SelectedChanged')"></gc-list-box><br><br>
イベント<br>
<textarea id="log" rows="10" cols="30" #logPanel>{{message}}</textarea>