<template>
    <div>
        テキスト<br>
        <gc-multiline-textbox /><br><br>
        標準のテキストボックス<br>
        <input>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';
    //import './styles.css';

    var app = new Vue({
        el: '#app',
        data: {

        }
    });
</script>