<template>
    <div>
        <div class="flexbox">
            <div>
                通常の状態<br>
                <gc-multiline-textbox
                    text="テキスト" />
            </div>
            <div>
                無効な状態<br>
                <gc-multiline-textbox
                    text="テキスト" 
                    :enabled="false" />
            </div>
            <div>
                ウォーターマーク<br>
                <gc-multiline-textbox
                    watermark-display-null-text="氏名" 
                    watermark-null-text="全角で入力してください" />
            </div>
        </div>
        <div class="peoperty-header">コントロール全般のスタイル</div>
        <div class="peoperty-panel" >
            <label><input type="checkbox" value=".gcim__textarea,width">コントロールの幅</label><br>
            <label><input type="checkbox" value=".gcim__textarea,height">コントロールの高さ</label><br>
            <label><input type="checkbox" value=".gcim,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim,borderWidth">境界線の幅</label><br>
            <label><input type="checkbox" value=".gcim,borderStyle">境界線のスタイル</label><br>
            <label><input type="checkbox" value=".gcim,borderRadius">境界線の角丸</label><br>
            <label><input type="checkbox" value=".gcim__textarea,cursor">カーソルの形</label><br>
            <label><input type="checkbox" value=".gcim,boxShadow">コントロールの影</label><br>
        </div>
        <div class="peoperty-header">テキストのスタイル</div>
        <div class="peoperty-panel" >
            <label><input type="checkbox" value=".gcim__textarea,color">文字色</label><br>
            <label><input type="checkbox" value=".gcim__textarea,fontSize">フォントのサイズ</label><br>
            <label><input type="checkbox" value=".gcim__textarea,fontWeight">フォントの太さ</label><br>
            <label><input type="checkbox" value=".gcim__textarea,fontStyle">フォントのスタイル</label><br>
            <label><input type="checkbox" value=".gcim__textarea,fontFamily">フォントの種類</label><br>
            <label><input type="checkbox" value=".gcim__textarea,textAlign">水平方向の位置</label><br>
            <label><input type="checkbox" value=".gcim__textarea,textShadow">テキストの影</label><br>
        </div>
        <div class="peoperty-header">コントロール無効時のスタイル</div>
        <div class="peoperty-panel" >
            <label><input type="checkbox" value=".gcim__textarea:disabled,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim__textarea:disabled,color">文字色</label><br>
            <label><input type="checkbox" value=".gcim__textarea:disabled,cursor">カーソルの形</label><br>
        </div>
        <div class="peoperty-header">フォーカス時のスタイル</div>
        <div class="peoperty-panel" >
            <label><input type="checkbox" value=".gcim_focused,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim_focused,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim_focused,color">文字色</label><br>
        </div>
        <div class="peoperty-header">ウォーターマークのスタイル</div>
        <div class="peoperty-panel" >
            <label><input type="checkbox" value=".gcim_watermark_null,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim_watermark_null,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim_watermark_null,color">文字色</label><br>
        </div>
        <div class="peoperty-header">ウォーターマークのフォーカス時のスタイル</div>
        <div class="peoperty-panel" >
            <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,backgroundColor">背景色</label><br>
            <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,borderColor">境界線の色</label><br>
            <label><input type="checkbox" value=".gcim_focused.gcim_watermark_null,color">文字色</label><br>
        </div>
        <button id="copyStyle">CSSコードをコピー</button><br>
        <textarea id="style" cols="60" rows="10"></textarea>
    </div> 
</template>

<script>
    import "@grapecity/inputman/CSS/gc.inputman-js.css";
    import Vue from 'vue';
    import '@grapecity/inputman.vue';
    import { InputMan } from '@grapecity/inputman';

    var styleSheet;
    var indices = [];
    const styles = {
        '.gcim': { backgroundColor: '#ddffdd', borderColor: '#009900', borderWidth: '2px', borderStyle: 'dashed', borderRadius: '12px', boxShadow: '5px 5px 5px rgba(0,0,0,0.5)' },
        '.gcim__textarea': { width: '200px', height: '80px', cursor: 'crosshair', fontSize: '20px', fontWeight: 'bold', fontStyle: 'italic', fontFamily: 'serif', textAlign: 'right', textShadow: '1px 1px 1px rgba(0,0,0,0.5)', color: '#009900' },
        '.gcim__textarea:disabled': { backgroundColor: '#666666', color: '#cccccc', cursor: 'wait' },
        '.gcim_focused': { backgroundColor: '#ddddff', borderColor: '#0000ff', color: '#0000ff' },
        '.gcim_watermark_null': { backgroundColor: '#ffdddd', borderColor: '#ff0000', color: '#ff0000' },
        '.gcim_focused.gcim_watermark_null': { backgroundColor: '#ffddff', borderColor: '#990099', color: '#990099' },
    };

    var app = new Vue({
        el: '#app',
        methods: {
            createInitialStyles: function() {
                const element = document.createElement('style');
                document.head.appendChild(element);
                styleSheet = element.sheet;
                var i = 0;
                for (const styleName in styles) {
                    styleSheet.insertRule(styleName + '{}', i);
                    indices[styleName] = i;
                    i++;
                }
            },
            updateStyle: function(event) {
                console.log(event);
                var element = event.target;
                if (element.tagName == 'INPUT') {
                    var values = element.value.split(',');
                    var styleName = values[0];
                    var propertyName = values[1];
                    styleSheet.cssRules[indices[styleName]].style[propertyName] = element.checked ? styles[styleName][propertyName] : '';
                }

                var style = '';
                for (var i = 0; i < styleSheet.cssRules.length; i++) {
                    if (styleSheet.cssRules[i].style.length > 0) {
                        style += styleSheet.cssRules[i].cssText.replace(/{/g, '{\n ').replace(/;/g, ';\n ').replace(/  }/g, '}') + '\n';
                    }
                }
                document.getElementById('style').value = style;
            },
            copyStyle: function() {
                document.getElementById('style').select();
                document.execCommand('copy');
            }
        },
        mounted: function() {
            this.createInitialStyles();

            var panels = document.getElementsByClassName('peoperty-panel');
            for (var i = 0; i < panels.length; i++) {
                panels[i].addEventListener('click', this.updateStyle);
            }

            document.getElementById('copyStyle').addEventListener('click', this.copyStyle);
        }
    });
</script>
